1 Star Google Review Finder for Learning
{"createdAt":"2025-07-03T13:14:42.292Z","updatedAt":"2025-07-23T09:47:24.000Z","id":"QusrXyBBlKu5K5i9","name":"DONE - Review Bintang 1","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-260,-20],"id":"01f3dc77-31b1-47f5-a782-ddad09e1515f","name":"Telegram Trigger","webhookId":"3433f22c-9c5a-4080-ba91-bcbe3e27169e","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"promptType":"define","text":"=message: {{ $json.message.text }}\ncurrent user timestamp: {{ $json.message.date }}","options":{"systemMessage":"Kamu adalah analis kompetitif untuk bisnis restoran. Tugasmu adalah membantu pemilik restoran memahami kelemahan kompetitor dengan menganalisis review bintang 1 dari Google Maps.\n\n**Input**: Daftar nama restoran kompetitor yang diberikan dalam chat Telegram.\n\nminta user untuk memberikan nama restoran untuk dianalisa.\n\n**Langkah-langkah**:\n\n1. Gunakan HTTP Request Tool untuk mengakses data review dari Google Maps melalui SerpAPI, khusus review bintang 1.\n2. jika terdapat tempat yang memiliki nama sama dan mirip <local_results> saat menjalankan \"Business Search\", beri maksimal 5 result nama restorant yang didapat dari <local_results> kepada user dan konfirmasi tempat spesifik yang ingin di analisa.\n3. Ambil maksimal 50 review untuk tiap kompetitor.\n5. Kategorikan keluhan ke dalam topik: `Makanan`, `Pelayanan`, `Kebersihan`, `Harga`, atau `Lainnya`.\n6. Ekspor tiap review ke file Excel menggunakan tool \"Google Sheet\" sebagai berikut menggunakan bahasa indonesia:\n\n- Nama Restoran + link restoran\n- Kategori Keluhan\n- Jumlah Keluhan\n- Contoh Review (gunakan bahasa indonesia)\n- Insight Perbaikan\n\n**Output**:\n\n Buat rangkuman untuk tiap kompetitor:\n    - Total jumlah keluhan per kategori\n    - Kalimat ringkasan dari review yang mewakili tiap kategori\n    - Insight yang bisa dijadikan pelajaran agar restoran user tidak mengalami masalah serupa"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[20,-20],"id":"9e2e401c-6d67-4daf-ba6b-d96475a0affe","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,120],"id":"1713e8d3-4896-483d-be50-dd2a4f269e10","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[200,120],"id":"39e0d193-b247-4b91-ba02-0a82ed619c95","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[860,-20],"id":"9fe87a08-eaa8-4994-8f51-c04cd53d7358","name":"Telegram","webhookId":"cdff39a6-c203-4b4e-8fd5-3c6ec01d60a2","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"toolDescription":"use this tool to get data from serpapi","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `- use this to do Business Search and get the <data_id>:\n  https://serpapi.com/search.json?engine=google_maps&q=<restaurant name>&type=search\n\n- use this to get the review using the <data_id>:\n  https://serpapi.com/search.json?engine=google_maps_reviews&data_id=<data_id>&sort_by=ratingLow\n\n`, 'string') }}","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[420,80],"id":"d76dd3f0-fb8f-42e7-b0ef-1a7f5934364d","name":"HTTP Request","credentials":{"serpApi":{"id":"UOlo2Oktz96yjjb6","name":"SerpAPI airnext"}}},{"parameters":{"descriptionType":"manual","toolDescription":"use this tool to append each review.","operation":"append","documentId":{"__rl":true,"value":"1OpvNUQGtuqQeGkL_jpcDDTgU3lUuyAlvqp6rPrEL5JY","mode":"list","cachedResultName":"review bintang 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OpvNUQGtuqQeGkL_jpcDDTgU3lUuyAlvqp6rPrEL5JY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OpvNUQGtuqQeGkL_jpcDDTgU3lUuyAlvqp6rPrEL5JY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nama Restoran":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nama_Restoran', ``, 'string') }}","Kategori Keluhan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Kategori_Keluhan', ``, 'string') }}","Jumlah Keluhan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Jumlah_Keluhan', ``, 'string') }}","Contoh Review":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contoh_Review', ``, 'string') }}","Insight Perbaikan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Insight_Perbaikan', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nama Restoran","displayName":"Nama Restoran","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kategori Keluhan","displayName":"Kategori Keluhan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Jumlah Keluhan","displayName":"Jumlah Keluhan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contoh Review","displayName":"Contoh Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Insight Perbaikan","displayName":"Insight Perbaikan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[560,80],"id":"08f9eeb3-af48-4d8f-bfe9-207f633fbdc2","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"content":"## User Interaction\nTelegram webhook trigger untuk menerima nama restoran kompetitor dari users yang ingin dianalysis untuk competitive intelligence dan business improvement insights.","height":820,"width":280,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-340,-200],"typeVersion":1,"id":"60ce9a65-6c75-4d8e-bdc2-db1ac23ae713","name":"Sticky Note"},{"parameters":{"content":"## Analysis Orchestrator\nAI Agent dengan conversational memory untuk guide users through competitive analysis process, coordinate SerpAPI data collection, categorize complaints, dan generate actionable business insights dalam Bahasa Indonesia.","height":820,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-20,-200],"typeVersion":1,"id":"46fb1593-5ea3-4ea1-ab66-3635f041afb3","name":"Sticky Note1"},{"parameters":{"content":"## Google Maps Review Mining\nHTTP Request tool dengan SerpAPI integration untuk search restaurant locations, extract data IDs, collect up to 50 one-star reviews per competitor dengan focus pada specific complaint categories dan detailed feedback analysis.","height":820,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","position":[360,-200],"typeVersion":1,"id":"f73cc4fe-3e03-4838-9912-5ac9441845e4","name":"Sticky Note2"},{"parameters":{"content":"## Structured Analysis Output\nGoogle Sheets integration untuk export structured competitive analysis data termasuk restaurant names, complaint categories, review counts, example feedback, dan actionable improvement insights untuk business intelligence.","height":820,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[740,-200],"typeVersion":1,"id":"a3cb982c-1254-45e3-8269-50415e8681a3","name":"Sticky Note3"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-260,340],"id":"8469fb0e-2756-405a-bffb-41a69a336b79","name":"WhatsApp Trigger","webhookId":"bcc9051c-2467-40c7-b42e-3fde49838d12","credentials":{"whatsAppTriggerApi":{"id":"aeH0ILH6iYkCGDGl","name":"WhatsApp OAuth Airnext v1.0.0"}}},{"parameters":{"promptType":"define","text":"=message: {{ $json.messages[0].text.body }}\ncurrent user timestamp: {{ $json.messages[0].timestamp }}","options":{"systemMessage":"Kamu adalah analis kompetitif untuk bisnis restoran. Tugasmu adalah membantu pemilik restoran memahami kelemahan kompetitor dengan menganalisis review bintang 1 dari Google Maps.\n\n**Input**: Daftar nama restoran kompetitor yang diberikan dalam chat Telegram.\n\nminta user untuk memberikan nama restoran untuk dianalisa.\n\n**Langkah-langkah**:\n\n1. Gunakan HTTP Request Tool untuk mengakses data review dari Google Maps melalui SerpAPI, khusus review bintang 1.\n2. jika terdapat tempat yang memiliki nama sama dan mirip <local_results> saat menjalankan \"Business Search\", beri maksimal 5 result nama restorant yang didapat dari <local_results> kepada user dan konfirmasi tempat spesifik yang ingin di analisa.\n3. Ambil maksimal 50 review untuk tiap kompetitor.\n5. Kategorikan keluhan ke dalam topik: `Makanan`, `Pelayanan`, `Kebersihan`, `Harga`, atau `Lainnya`.\n6. Ekspor tiap review ke file Excel menggunakan tool \"Google Sheet\" sebagai berikut menggunakan bahasa indonesia:\n\n- Nama Restoran + link restoran\n- Kategori Keluhan\n- Jumlah Keluhan\n- Contoh Review (gunakan bahasa indonesia) , Di dalam google sheets ketika menaruh contoh review jangan langsung merangkum 1 review, tapi 1 review = 1 baris. jadi kita bisa tau satu per satu reviewnya, bukan rangkuman contoh review aja. oke?\n- Insight Perbaikan\n\n**Output**:\n\n Buat rangkuman untuk tiap kompetitor:\n    - Total jumlah keluhan per kategori\n    - Kalimat ringkasan dari review yang mewakili tiap kategori\n    - Insight yang bisa dijadikan pelajaran agar restoran user tidak mengalami masalah serupa\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,340],"id":"3a4f89cd-d2f4-4b1c-bb67-77c634c4f66b","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,480],"id":"08bea9fb-fcaa-4b0c-8abe-d991188aad1e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.contacts[0].wa_id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[180,480],"id":"e17e7b62-2bd6-4984-8b63-466e5ff59925","name":"Simple Memory1"},{"parameters":{"toolDescription":"use this tool to get data from serpapi","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `- use this to do Business Search and get the <data_id>:\n  https://serpapi.com/search.json?engine=google_maps&q=<restaurant name>&type=search\n\n- use this to get the review using the <data_id>:\n  https://serpapi.com/search.json?engine=google_maps_reviews&data_id=<data_id>&sort_by=ratingLow\n\n`, 'string') }}","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[400,480],"id":"37363b97-2ca8-4ded-8982-3004809b0da1","name":"HTTP Request1","credentials":{"serpApi":{"id":"ynTqsgEN6O1YI8k4","name":"SerpAPI Dump_1"}}},{"parameters":{"descriptionType":"manual","toolDescription":"use this tool to append each review.","operation":"append","documentId":{"__rl":true,"value":"1OpvNUQGtuqQeGkL_jpcDDTgU3lUuyAlvqp6rPrEL5JY","mode":"list","cachedResultName":"review bintang 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OpvNUQGtuqQeGkL_jpcDDTgU3lUuyAlvqp6rPrEL5JY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OpvNUQGtuqQeGkL_jpcDDTgU3lUuyAlvqp6rPrEL5JY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nama Restoran":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nama_Restoran', ``, 'string') }}","Kategori Keluhan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Kategori_Keluhan', ``, 'string') }}","Jumlah Keluhan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Jumlah_Keluhan', ``, 'string') }}","Contoh Review":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contoh_Review', ``, 'string') }}","Insight Perbaikan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Insight_Perbaikan', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nama Restoran","displayName":"Nama Restoran","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kategori Keluhan","displayName":"Kategori Keluhan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Jumlah Keluhan","displayName":"Jumlah Keluhan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contoh Review","displayName":"Contoh Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Insight Perbaikan","displayName":"Insight Perbaikan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[540,480],"id":"22ed32f8-12d3-44c0-8bd1-e7f780f0684f","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"oWPyRfnzavZpOic0","name":"Google Sheets OAuth Airnext V1.0.0"}}},{"parameters":{"operation":"send","phoneNumberId":"719168164614210","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[860,340],"id":"c97360d9-4e78-42cf-808f-116c88c44719","name":"WhatsApp Business Cloud","webhookId":"918ddff6-eef6-40d6-9bd6-3a14caf36fdf","credentials":{"whatsAppApi":{"id":"ugaPh6QQilPs9zPP","name":"WhatsApp Airnext v1.0.0"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram":{"main":[[]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"HTTP Request1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Sheets1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":719336077,"message":{"message_id":1606,"from":{"id":7833022593,"is_bot":false,"first_name":"Tim","username":"TimothyWijaya","language_code":"en"},"chat":{"id":7833022593,"first_name":"Tim","username":"TimothyWijaya","type":"private"},"date":1751555678,"text":"halo"}}}]},"versionId":"a0a29295-e01d-4956-aadb-35bee5613103","triggerCount":1,"tags":[]}
