AI Chat Group Summary
{"createdAt":"2025-07-02T05:01:39.572Z","updatedAt":"2025-07-23T08:45:00.000Z","id":"2dZCM1s8EEmqdnYn","name":"DONE - Group Summary Bot","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"You are an AI assistant that processes exported WhatsApp group chats in .txt format. Your goal is to help Indonesian-speaking teams stay aligned by summarizing daily discussions and extracting actionable tasks.\n\n**INPUT:**\n\nAn exported `.txt` file of a WhatsApp group chat containing daily conversations.\n\n**TASK:**\n\n1. Parse and clean the raw chat text:\n    - Remove system messages, spam, emojis, and irrelevant small talk.\n    - Group related messages based on context and timestamps.\n2. Extract and summarize the main discussion points into concise bullet points in Indonesian.\n3. Identify any action items or tasks mentioned:\n    - Write each task clearly\n    - Assign the PIC (Person In Charge) if mentioned or infer based on context\n    - Add deadlines or urgency level if available\n4. Categorize summaries and tasks under relevant topics (e.g., Rapat, Desain, Teknologi, Operasional).\n\n**OUTPUT:**\n\n- **Ringkasan Harian** (bullet points of key discussions, in Bahasa Indonesia)\n- **Daftar Tugas:**\n    - Penanggung jawab (PIC)\n    - Deskripsi tugas\n    - Deadline (jika ada)\n    - Tingkat urgensi (Rendah/Sedang/Tinggi)\n\n**Example Output Format:**\n\n**Ringkasan Harian (01 Juli 2025):**\n\n- Tanggal peluncuran produk ditetapkan pada 20 Juli\n- Klien X memberikan masukan untuk revisi tampilan UI\n- Strategi pemasaran dibahas dan beberapa agensi dipertimbangkan\n\n**Daftar Tugas:**\n\n1. Penanggung jawab: Andi — [Revisi UI untuk Klien X] — Deadline: 5 Juli — Urgensi: Tinggi\n2. Penanggung jawab: Rina — [Hubungi agensi ABC untuk proposal] — Urgensi: Sedang\n\nOnly include relevant information that helps the team get clarity on what happened and what needs to be done.\n\nbuat spasi diantara poin agar catatan terlihat rapih walaupun dirangkum di chat."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[640,0],"id":"7b174323-18b1-42e0-9645-0796f0f0f23a","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[680,140],"id":"6271f7c6-ba69-4664-a13d-bf0cdcc5d35c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,0],"id":"7b7a1ce4-40ce-4346-90bf-97e28b601e20","name":"Telegram","webhookId":"dcb962b7-ab35-4806-92c7-879296f50b41","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[400,0],"id":"32bd38f6-401a-4264-a08e-237512fd35aa","name":"Extract from File"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,0],"id":"61312e8d-e74c-4b35-8f3b-1ed2bffdd71b","name":"Telegram1","webhookId":"94cc16bb-a745-444b-bc71-c61e287b2d2a","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"content":"## Chat Export Reception\nTelegram webhook trigger untuk menerima exported WhatsApp group chat files dalam format .txt yang akan dianalysis untuk daily team synchronization dan task extraction dari informal conversations.","height":780,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-180,-200],"typeVersion":1,"id":"2ea6b2fa-393e-4b6c-b1b7-0867b8749cd0","name":"Sticky Note"},{"parameters":{"content":"## Chat Content Extraction\nDownload WhatsApp chat export file dari Telegram dan extract raw text content untuk cleaning, parsing, dan preparation untuk AI analysis dengan proper formatting untuk conversation understanding.","height":780,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[180,-200],"typeVersion":1,"id":"958e0500-8b88-463f-9e03-91f02dbde914","name":"Sticky Note1"},{"parameters":{"content":"## Daily Discussion Analysis\nAI Agent dengan sophisticated chat parsing untuk extract key discussion points, identify action items, assign responsible persons, detect deadlines, categorize topics, dan generate structured daily summaries dalam Bahasa Indonesia format.","height":780,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[600,-200],"typeVersion":1,"id":"d3a5ab47-7677-4db6-beb1-4f780bdcc4dd","name":"Sticky Note2"},{"parameters":{"content":"## Structured Team Update\nSend comprehensive daily summary kembali ke user via Telegram dengan structured format termasuk Ringkasan Harian, Daftar Tugas dengan PIC assignments, deadlines, dan priority levels untuk clear team alignment.","height":780,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[980,-200],"typeVersion":1,"id":"01746bb0-7e58-4a78-81b7-d44c7501599a","name":"Sticky Note3"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-60,0],"id":"e7325e0d-1ab0-4938-b712-d202e4a56bec","name":"Telegram Trigger","webhookId":"8f6f9e5c-33a2-4461-af17-2f844f7a4664","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-60,280],"id":"be9628b6-9158-4bf5-bd60-a416daaa6b9c","name":"WhatsApp Trigger","webhookId":"8fd85c78-fdb4-493c-bf45-5753db705310","credentials":{"whatsAppTriggerApi":{"id":"aeH0ILH6iYkCGDGl","name":"WhatsApp OAuth Airnext v1.0.0"}}},{"parameters":{"operation":"send","phoneNumberId":"719168164614210","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1100,280],"id":"51432308-d549-4f55-9676-11457df24b2e","name":"WhatsApp Business Cloud","webhookId":"c3c7b7d4-8fc1-460a-a7cf-b75e3ad6eb18","credentials":{"whatsAppApi":{"id":"ugaPh6QQilPs9zPP","name":"WhatsApp Airnext v1.0.0"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"You are an AI assistant that processes exported WhatsApp group chats in .txt format. Your goal is to help Indonesian-speaking teams stay aligned by summarizing daily discussions and extracting actionable tasks.\n\n**INPUT:**\n\nAn exported `.txt` file of a WhatsApp group chat containing daily conversations.\n\n**TASK:**\n\n1. Parse and clean the raw chat text:\n    - Remove system messages, spam, emojis, and irrelevant small talk.\n    - Group related messages based on context and timestamps.\n2. Extract and summarize the main discussion points into concise bullet points in Indonesian.\n3. Identify any action items or tasks mentioned:\n    - Write each task clearly\n    - Assign the PIC (Person In Charge) if mentioned or infer based on context\n    - Add deadlines or urgency level if available\n4. Categorize summaries and tasks under relevant topics (e.g., Rapat, Desain, Teknologi, Operasional).\n\n**OUTPUT:**\n\n- **Ringkasan Harian** (bullet points of key discussions, in Bahasa Indonesia)\n- **Daftar Tugas:**\n    - Penanggung jawab (PIC)\n    - Deskripsi tugas\n    - Deadline (jika ada)\n    - Tingkat urgensi (Rendah/Sedang/Tinggi)\n\n**Example Output Format:**\n\n**Ringkasan Harian (01 Juli 2025):**\n\n- Tanggal peluncuran produk ditetapkan pada 20 Juli\n- Klien X memberikan masukan untuk revisi tampilan UI\n- Strategi pemasaran dibahas dan beberapa agensi dipertimbangkan\n\n**Daftar Tugas:**\n\n1. Penanggung jawab: Andi — [Revisi UI untuk Klien X] — Deadline: 5 Juli — Urgensi: Tinggi\n2. Penanggung jawab: Rina — [Hubungi agensi ABC untuk proposal] — Urgensi: Sedang\n\nOnly include relevant information that helps the team get clarity on what happened and what needs to be done.\n\nbuat spasi diantara poin agar catatan terlihat rapih walaupun dirangkum di chat."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[640,280],"id":"ee2ee90c-0df1-432f-9d5f-79814ddfc404","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,460],"id":"3d09e7f0-9f49-4432-bbd7-5c48955b0319","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,280],"id":"bbf6630b-cb99-4ad9-8fce-7cc6efe85226","name":"Download Text","credentials":{"httpHeaderAuth":{"id":"zxDlkzID4FCdqZZK","name":"Header Auth Whatsapp Airnext v1.0.0"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].document.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[240,280],"id":"47d58514-ad8c-481e-9df7-e3258c3688f3","name":"Get File URL","webhookId":"b36b07b9-fc11-4c79-b86f-6528eea0b7df","credentials":{"whatsAppApi":{"id":"ugaPh6QQilPs9zPP","name":"WhatsApp Airnext v1.0.0"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Get File URL","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"Download Text":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Get File URL":{"main":[[{"node":"Download Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07222939-d482-4b5e-b6df-0631fa298cf9","triggerCount":2,"tags":[]}
