AI Chatbot for Insurance Client
{"createdAt":"2025-07-01T08:00:23.440Z","updatedAt":"2025-07-07T12:13:15.000Z","id":"mckROF4vleiyX935","name":"DONE - Chatbot Insurance","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-60,0],"id":"2ecc6ee1-1a43-48c3-a94a-f394565cf0ef","name":"Telegram Trigger","webhookId":"90338ada-c003-487c-b508-ca8f24b57446","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"You are an AI-powered insurance advisor chatbot that interacts with users on Telegram in casual, conversational Indonesian.\n\n💡 Your primary task is to help users choose the most suitable insurance plan by:\n- Extracting key info from their free-text input (age, occupation, insurance need, budget)\n- Analyzing their profile and estimating ideal coverage\n- ALWAYS querying the connected Google Sheet tool to get up-to-date insurance product data\n\n📊 The spreadsheet includes all available insurance products and details.\n\nYou have access to a spreadsheet table that contains **annual insurance premiums** (premi tahunan). The table is segmented by:\n\n- Gender: \"Pria\" (Male) and \"Wanita\" (Female)\n- Coverage type:\n   - \"Risiko Sendiri (Deductible)\"\n   - \"Tanpa Deductible (Renewal)\"\n- Age range: 0 to 75 (column \"Usia\")\n\nHere’s how to use this table:\n\n1. After extracting the user's:\n   - Age\n   - Gender (can be inferred from name or ask if unclear)\n   - Preferred coverage type (if not stated, suggest both options)\n\n2. Use the age to **match the correct row** in the table.\n3. Based on gender and coverage type, retrieve the corresponding **annual premium**.\n\nFor example:\n- A 5-year-old boy (Pria) choosing “Tanpa Deductible” → annual premium = 4,957,000\n- A 7-year-old girl (Wanita) choosing “Risiko Sendiri” → annual premium = 3,897,000\n\n⚠️ If user does not specify coverage type, show both options in comparison.\n✅ Always retrieve the correct value from this table — do NOT estimate or guess premiums.\n\n🧠 Your behavior:\n1. When a user sends a message, parse the input and extract:\n   - Usia (Age)\n   - Jenis kelamin (Gender)\n   - Pekerjaan (Occupation)\n   - Kebutuhan asuransi (e.g. kesehatan, jiwa, penyakit kritis)\n   - Batasan budget premi bulanan\n\n2. Use the spreadsheet data to estimate the optimal coverage amount and budget fit based on customer details like age, etc. (the price stated there are annual premium price).\n\n3. Query the spreadsheet tool to:\n   - Find all insurance plans that match the user’s need, eligibility, and budget\n   - Select 2–3 plans with best alignment to user profile\n\n4. Present the result as:\n   - ✅ Personalized recommendation (top pick)\n   - 📊 Comparison summary of 2–3 plan options in simple text (name, premium, coverage, benefit)\n   - 🤖 Friendly closing: “Mau lanjut sama agen atau pilih salah satu dari sini?”\n\n🗣️ Always reply in a clear, warm, and conversational tone, as if you're a helpful friend who’s an expert in insurance. Keep it in Indonesian.\n\n❗ NEVER guess or generate product data — ALWAYS use the spreadsheet tool as the single source of truth for all plan-related details.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[200,0],"id":"8210f4f5-b95d-4b17-908b-fd06978e2b89","name":"AI Agent"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[980,0],"id":"a53f82d4-f54d-474b-8ffd-9a9456551d77","name":"Telegram","webhookId":"c740712b-0143-46fe-bdde-24c9e7a72c64","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[200,140],"id":"a53ef3ec-15f2-4087-bbfd-72d0c709b797","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[380,140],"id":"e9fe804a-d9ae-4c5c-9206-fdaffa04e45c","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"use this to get reference for the insurance data based on customer details. Always use this tool.\n","documentId":{"__rl":true,"value":"1VTrMOrK8b2oFj4Bmd1c76yT8aFHnHg9smP5Hpn1xnm8","mode":"list","cachedResultName":"Copy of Allianz Summary Health Plan - copy","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTrMOrK8b2oFj4Bmd1c76yT8aFHnHg9smP5Hpn1xnm8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `just get all of the sheets.\nThe price listed here is for annual premium.\nsheet name list (This is the insurance plan name):\n\n- CLASSIC\n\n- CLASSIC PLUS\n\n- ESSENTIAL PRO\n\n- ESSENTIAL PLUS\n\n- ELITE PRO\n\n- ELITE PLUS`, 'string') }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[680,120],"id":"8e3d311c-c0e2-4f67-b285-2e2a3b2e9917","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-120,680],"id":"10188ecf-122a-46ee-ac6d-5d2057378994","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=7833022593","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-120,840],"id":"5bde6c94-75e1-41c2-b4e4-aac55a07dd2a","name":"Simple Memory1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,680],"id":"02efa793-37d2-4638-b54f-aa85806a5dc2","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Customer Consultation\nTelegram webhook trigger untuk menerima customer inquiries tentang insurance needs, extract user profiles, dan initiate personalized insurance advisory conversation dalam Bahasa Indonesia.","height":500,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-240,-200],"typeVersion":1,"id":"b8ba1945-0ce2-4f4c-aed6-2cb1e1e17b9d","name":"Sticky Note"},{"parameters":{"content":"## Profile Analysis & Recommendation\nAI Agent dengan sophisticated insurance knowledge untuk extract customer details (age, gender, occupation, budget), analyze risk profiles, query product database, dan generate personalized insurance recommendations dengan conversation memory.","height":500,"width":420,"color":6},"type":"n8n-nodes-base.stickyNote","position":[120,-200],"typeVersion":1,"id":"6a19e61a-f421-427d-a5e6-c114fa4c26f1","name":"Sticky Note1"},{"parameters":{"content":"## Real-Time Insurance Data\nGoogle Sheets integration dengan comprehensive insurance product database termasuk multiple plan tiers (Classic, Essential, Elite), age-based pricing, gender-specific premiums, coverage options, dan deductible variations untuk accurate recommendations.","height":500,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","position":[580,-200],"typeVersion":1,"id":"5dabdaa0-4f71-495c-a4dd-d718074cb9c5","name":"Sticky Note2"},{"parameters":{"content":"## Insurance Plan Delivery\nSend tailored insurance recommendations kembali ke customer via Telegram dengan structured comparison format, top picks based on profile analysis, premium calculations, coverage details, dan friendly guidance untuk next steps.","height":500,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[880,-200],"typeVersion":1,"id":"2358f023-7f8c-431c-b38d-b795df7fdb08","name":"Sticky Note3"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d9e7136-19c1-4803-828c-a9f1695f6cae","triggerCount":2,"tags":[]}
