AI CV Screening
{"createdAt":"2025-06-26T05:09:17.756Z","updatedAt":"2025-07-02T08:01:18.000Z","id":"mWKna8P3hRqsET4f","name":"DONE - CV Screening","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Rank each cv."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[900,-40],"id":"e81d3372-7b14-4eeb-927a-fbfac767d7bd","name":"AI Agent"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-40],"id":"33aae2cf-fc7c-4558-998e-a47ddde7fcde","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-240,-40],"id":"2bc3eaf0-9c60-4c18-ba85-912d1d34c799","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"resource":"fileFolder","queryString":"*","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1RoIenH-FMiwqstRgdLwuRbtWS_s9-xvX","mode":"list","cachedResultName":"asset_cv","cachedResultUrl":"https://drive.google.com/drive/folders/1RoIenH-FMiwqstRgdLwuRbtWS_s9-xvX"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-400,-40],"id":"cb28fb11-cd3a-4b51-a8f0-9a9e1aeb0a48","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"resize","width":1000,"height":1000,"resizeOption":"onlyIfSmaller","options":{"format":"png"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[0,-40],"id":"c7f7c7e4-9e6b-42b6-a171-9d506212b1e5","name":"Edit Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"You are a recruitment assistant AI that receives CV image and analyzes it for suitability against a job role. Your output must be a clean and structured summary suitable for sending directly in a Telegram message.\n\n---\n\n**Input:**\n\nCV's image\n\n---\n\n**Your Tasks:**\n\n1. **Extract and summarize key sections** from the CV:\n    - Name\n    - Work experience\n    - Skills\n    - Education\n    - Achievements (if available)\n2. **Analyze the CV content** in comparison to the provided job requirements:\n    - Evaluate technical skill match\n    - Assess experience level (seniority, years, relevance)\n    - Check education background alignment\n    - Infer potential personality traits based on tone, achievements, and role descriptions\n3. **Generate a scoring breakdown (scale 1–10):**\n    - Technical skill match: X/10\n    - Experience relevance: X/10\n    - Education fit: X/10\n    - Soft skills & personality match: X/10\n    - **Final Score (average of above): X/10**\n4. **Flag potential concerns**, if any:\n    - Long employment gaps\n    - Missing critical job requirements\n    - Skill mismatches\n5. **Format the output as a Telegram-friendly summary** (plain text, bullet points, no Markdown or HTML)\n\n---\n\n**Output Format (Plain Text):**\n\n📄 CV Summary for Candidate\n\n• Candidate Name: [Name]\n• Work Experience: [short summary]\n• Skills: [top relevant skills]\n• Education: [degree + institution]\n• Achievements: [if available]\n\n📊 Matching Score:\n- Technical Skills: X/10\n- Experience Relevance: X/10\n- Education Fit: X/10\n- Personality Fit: X/10\n➡️ Final Score: X/10\n\n⚠️ Potential Concerns:\n- [Employment gap? Skill mismatch? None if clear]\n\n---\n\n**Rules:**\n\n- Output must be clear and concise.\n- No formatting like bold or italics (plain text only).\n- Do not guess or fabricate skills or experiences not found in the input.\n- If a section is missing, state: *\"Data tidak tersedia.\"*","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,-40],"id":"87f40291-db00-4216-8acd-58364eab55e5","name":"OpenAI","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result.text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[640,-40],"id":"a4eb6d95-5de0-4d3b-945f-8ddaaebb513b","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,120],"id":"80f9c0f4-87ef-4568-b0c4-ddc6ac03f5ca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"chatId":"448658090","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,-40],"id":"ccc3dea3-ccf0-4bc7-99f1-5583504a80c3","name":"Telegram","webhookId":"29e57893-6cf0-4b5e-b60b-d371a9a4a0f0","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"chatId":"448658090","text":"={{ $json.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,-40],"id":"4a6122f9-c380-4f55-82be-5a6299c3183a","name":"Telegram1","webhookId":"29e57893-6cf0-4b5e-b60b-d371a9a4a0f0","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"content":"## CV Collection & Processing\nManual trigger untuk start batch processing, scan CV folder di Google Drive, download semua CV files untuk batch analysis.","height":480,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-620,-220],"typeVersion":1,"id":"64321f83-0829-4494-8508-fcf0544df332","name":"Sticky Note"},{"parameters":{"content":"## Image Processing Pipeline\nResize CV images untuk optimization dan prepare untuk AI vision analysis dengan proper format conversion (PNG).","height":480,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-80,-220],"typeVersion":1,"id":"d7c8dd57-fc4d-4f04-a735-6321822c08cc","name":"Sticky Note1"},{"parameters":{"content":"## AI CV Analysis\nAdvanced CV screening menggunakan OpenAI Vision untuk extract candidate info, analyze skill match, dan generate detailed scoring dengan job requirement comparison.","height":480,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[200,-220],"typeVersion":1,"id":"2f33490e-e557-4761-ad9c-090fb31f29ac","name":"Sticky Note2"},{"parameters":{"content":"## Batch Data Aggregation\nAggregate semua CV analysis results untuk comparative ranking dan prepare consolidated data untuk final AI ranking processing.","height":480,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","position":[560,-220],"typeVersion":1,"id":"9d9de5a6-a6ca-4bc5-a4ed-2583d27bb5c3","name":"Sticky Note3"},{"parameters":{"content":"## AI Ranking & Final Report\nAI agent generate final candidate ranking comparison, send comprehensive recruitment summary via Telegram dengan ranked candidate recommendations.","height":480,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[840,-220],"typeVersion":1,"id":"9c87d231-8768-4437-8063-a9fc31f036bb","name":"Sticky Note4"},{"parameters":{"content":"## Key Insight: Automated Recruitment Intelligence System\nWorkflow ini punya AI-Powered CV Screening Pipeline yang efficient:\n\nBatch CV Processing - Process multiple CVs simultaneously dari Google Drive folder\n\nComputer Vision Analysis - AI extract dan analyze CV content dengan detailed scoring system\n\nComparative Ranking - Smart ranking algorithm untuk compare candidates berdasarkan job requirements\n\nReal-Time Reporting - Instant Telegram notifications dengan individual dan batch analysis results","height":400,"width":420},"type":"n8n-nodes-base.stickyNote","position":[1480,-220],"typeVersion":1,"id":"8d068ddb-8295-41fa-b079-b374ad26bee0","name":"Sticky Note5"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"e58c79b1-8be9-4b50-89fc-030af995bce1","triggerCount":0,"tags":[]}
