AI Campaign Strategy
{"createdAt":"2025-06-24T10:47:40.879Z","updatedAt":"2025-06-30T15:27:55.000Z","id":"d16pbov4Oju7kdYX","name":"DONE - Campaign Strategy","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $('Telegram').item.json.data['Google Link'] }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,-180],"id":"31093452-3f5a-471b-a32a-306bdce26a34","name":"HTTP Request"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const html = item.json.data || '';\n\n  // Match the q=... from an anchor tag\n  const match = html.match(/<a\\s+href=\"\\/search\\?q=([^&\"'>]+)/i);\n  const extracted = match ? decodeURIComponent(match[1].replace(/\\+/g, ' ')) : 'Not found';\n\n  return {\n    json: {\n      extracted_place_name: extracted,\n      match_snippet: match ? match[0] : 'Not matched'\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,-180],"id":"17b74114-a3c8-409c-a52d-b3cf090edc46","name":"Code"},{"parameters":{"url":"=https://serpapi.com/search.json?engine=google_maps&q={{ $json.extracted_place_name }}","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,-180],"id":"e850f6c3-c2a1-4d3d-a1b4-43f3969e997d","name":"HTTP Request1","credentials":{"serpApi":{"id":"UOlo2Oktz96yjjb6","name":"SerpAPI airnext"}}},{"parameters":{"jsCode":"return [{\n  json: {\n    name: $input.first().json.place_results.title,\n    address: $input.first().json.place_results.address,\n    type: $input.first().json.place_results.type[0],\n    price_range: $input.first().json.place_results.price,\n    rating: $input.first().json.place_results.rating,\n    open_hours: $input.first().json.place_results.hours\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,-740],"id":"cfe82217-9977-4e1b-9772-769506291ca0","name":"Code1"},{"parameters":{"promptType":"define","text":"=Restaurant profile data: {{ $json.place_results?.toJsonString() }} {{ $json.local_results?.toJsonString() }}\n\nSales History: {{ $('Aggregate').item.json.sales_history.toJsonString() }}\n\nBudget: {{ $('Telegram').item.json.data.Budget }} Rupiah\n\nChannel Preference: {{ $('Telegram').item.json.data['Channel Preference'].toJsonString() }}","options":{"systemMessage":"You are an AI marketing strategist tasked with creating a data-driven promotional campaign for a restaurant. Some of the input data (restaurant profile and sales history) can be generated artificially if not provided. The output must be structured as a full marketing campaign plan.\n\n**Input:**\n\n- Restaurant profile data: menu items, price range, location, target demographic (you may generate realistic examples)\n- Sales history: weekly/monthly performance by item or category (you may create mock data)\n- Marketing budget constraints (you may assume or generate a monthly budget)\n- **Channel preference:** e.g. Instagram, WhatsApp Broadcast, In-Store Banner, TikTok Ads, etc.\n\n**Process:**\n\n1. Analyze sales patterns and customer behavior based on mock data.\n2. Research trending food promotions and tactics suited for the target audience and region.\n3. Generate **5–10 targeted promotional campaign ideas**, each with:\n    - Campaign name and concept\n    - Key objective (e.g. increase weekend traffic, boost low-selling menu items)\n    - Target customer group\n    - **Recommended channel** (based on provided preferences)\n4. For each campaign, provide:\n    - Promotional copy in **Bahasa Indonesia** (friendly, persuasive tone)\n    - Visual concept idea (e.g. Instagram carousel, WhatsApp flyer, banner headline)\n    - Suggested offer or incentive\n    - Estimated ROI and budget allocation\n5. Propose **optimal launch timing** for each campaign based on behavioral data (e.g., payday, lunch rush, long weekend).\n\n**Output:**\n\n- A complete **campaign strategy document** with 3 campaign ideas\n- Sample **copywriting and visual direction** for each channel\n- **Channel-specific** tactics and scheduling recommendations\n- **ROI projection and budget breakdown** per campaign\n- Use clear formatting so it’s actionable by a restaurant’s internal marketing team\n\n**Constraints:**\n\n- Public-facing content must be in Bahasa Indonesia\n- The campaigns should be suitable for small to mid-sized food businesses\n- Tailor creative execution to the selected channels (e.g., vertical video for Instagram Story, text-first layout for WhatsApp)\n- Budget and ROI numbers should be shown in **Indonesian Rupiah**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1840,-180],"id":"b804a4d1-f174-46be-bced-5418b7fd18e9","name":"AI Agent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-180,-180],"id":"107eaa20-c633-4243-82c5-56ccb3a1c23b","name":"Telegram Trigger","webhookId":"eb581449-c807-4c3d-992b-a1d176d4ed93","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message":"↓↓↓ Click Here ↓↓↓","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Google Link","placeholder":"Google Link of your restaurant","requiredField":true},{"fieldLabel":"Sales History ( Optional )","fieldType":"file","acceptFileTypes":"csv"},{"fieldLabel":"Budget","fieldType":"number","placeholder":"Your Budget"},{"fieldLabel":"Channel Preference","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Instagram"},{"option":"WhatsApp Broadcast"},{"option":"In-store Banner"}]},"requiredField":true}]},"options":{"limitWaitTime":{"values":{"resumeAmount":5,"resumeUnit":"minutes"}},"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[620,-180],"id":"f4fb7bb4-8314-41be-9379-77551ff323fc","name":"Telegram","webhookId":"b5200bb5-f26a-40a7-986a-41c5e3d979b5","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1940,-40],"id":"28d1e4eb-ed90-42d4-85b9-92bf21837bb0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"binaryPropertyName":"Sales_History___Optional__","options":{"delimiter":";"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1020,-260],"id":"d6c930c0-bf9c-4dd5-b400-1f9c8e339220","name":"Extract from File"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"sales_history","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1180,-260],"id":"5bef3c1b-ee99-4a4f-bda5-7ffcb1484dd5","name":"Aggregate"},{"parameters":{"operation":"createFromText","content":"={{ $json.output }}","name":"restaurant_campaign_tmp","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1EixKiMRBawvGDLg0LS4x1Hjrj-1YCZXV","mode":"list","cachedResultName":"tmp","cachedResultUrl":"https://drive.google.com/drive/folders/1EixKiMRBawvGDLg0LS4x1Hjrj-1YCZXV"},"options":{"convertToGoogleDocument":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2220,-180],"id":"d9102c5f-c76a-4b3f-91af-3b7712933a36","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2380,-180],"id":"4a42c128-b188-4799-95c9-d604ddab871a","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"fileName":"={{ $('Code').item.json.extracted_place_name }} Campaign Strategy.pdf"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2540,-180],"id":"1e105ec6-bff0-4e29-88c7-28b3c0e014c0","name":"Telegram2","webhookId":"7983761e-a1d9-4290-98a1-2c35c8727d6e","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"text":"={{ $('AI Agent').item.json.output }}","attributes":{"attributes":[{"name":"campaign_1","description":"Visual Concept Details of Campaign 1","required":true},{"name":"campaign_2","description":"Visual Concept Details of Campaign 2","required":true},{"name":"campaign_3","description":"Visual Concept Details of Campaign 3","required":true}]},"options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[2800,-180],"id":"7218bd73-a997-4e3b-9a14-e05d29d8c370","name":"Information Extractor"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3120,-180],"id":"a4597c45-4e9a-46ab-8ad4-b1d113b16c17","name":"Split Out"},{"parameters":{"resource":"image","prompt":"=Make a Graphic Design for ads based on this description. \nRestaurant Name: {{ $('Code').item.json.extracted_place_name }}\nVisual Concept: {{ $json.output }}","options":{"dalleQuality":"hd","size":"1024x1024","style":"natural"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3280,-180],"id":"02721459-d705-4b45-8a58-1303d76421f2","name":"OpenAI","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3460,-180],"id":"24d94455-4d45-4fcf-bdc7-f684369c4c7b","name":"Telegram1","webhookId":"ae7842b7-1aa2-48a8-a0ba-2d816a4e555d","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[300,-180],"id":"e10713c5-dd3c-4418-b8dc-0548a953dadc","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"resource":"fileFolder","queryString":"guide.*","filter":{"folderId":{"__rl":true,"value":"11DgU3FqPo_VXnXZbq2O8vdXP4XrIqf0s","mode":"list","cachedResultName":"asset_image","cachedResultUrl":"https://drive.google.com/drive/folders/11DgU3FqPo_VXnXZbq2O8vdXP4XrIqf0s"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[140,-180],"id":"4f0f944b-41b0-44b2-b807-c9c79c06a9d9","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,-180],"id":"75b915bf-be9d-4586-b7e6-7c54372862f3","name":"Telegram3","webhookId":"874ea412-7f70-4f73-8c09-02c8808cfec1","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=👋 Halo! Sebelum kita mulai analisa strategi promosi ,  \nboleh bantu isi form berikut ini dulu? ✍️\n\n↓↓↓  Google Link Location Guide.  ↓↓↓","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-20,-180],"id":"cd581a0d-a532-4271-8f2b-a78c20b6b562","name":"Telegram4","webhookId":"7983761e-a1d9-4290-98a1-2c35c8727d6e","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"content":"## Restaurant Data Collection\nStart dengan greeting message, send instructional guide image, dan interactive Telegram form untuk collect restaurant Google link, sales history file, budget, dan channel preferences.","height":480,"width":1000,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-240,-380],"typeVersion":1,"id":"087b9e24-a6b7-4f0d-8070-0d8ed2d482a2","name":"Sticky Note"},{"parameters":{"content":"## Business Intelligence Gathering\nProcess sales history CSV, extract restaurant name dari Google Maps link, dan fetch comprehensive restaurant data menggunakan SerpAPI untuk business intelligence.","height":480,"width":820,"color":5},"type":"n8n-nodes-base.stickyNote","position":[800,-380],"typeVersion":1,"id":"f64c36c1-ad9a-46f6-92ca-3724cba9d390","name":"Sticky Note1"},{"parameters":{"content":"## AI Marketing Strategy Generation\nAI marketing strategist analyze restaurant profile, sales data, budget constraints, dan channel preferences untuk generate comprehensive campaign strategy dengan ROI projections.","height":480,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1660,-380],"typeVersion":1,"id":"592b5afd-ed78-46e2-aebd-08b30c4d6561","name":"Sticky Note2"},{"parameters":{"content":"## Campaign Document Creation\nCreate professional strategy document di Google Docs, convert ke PDF format, dan prepare untuk delivery dengan proper filename formatting.","height":480,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2160,-380],"typeVersion":1,"id":"7b2397db-7c5c-48ab-9c90-3055cd6aaaa5","name":"Sticky Note3"},{"parameters":{"content":"## Visual Campaign Assets Generation\nExtract visual concepts dari strategy, generate campaign-specific graphic designs menggunakan DALL-E, dan send visual mockups via Telegram untuk implementation.","height":480,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2740,-380],"typeVersion":1,"id":"bf23824b-3cb1-4844-be0a-d3efa849e7fe","name":"Sticky Note4"},{"parameters":{"content":"## Key Insight: End-to-End Marketing Intelligence System\nWorkflow ini punya AI-Powered Marketing Strategy Pipeline yang comprehensive:\n\nBusiness Intelligence Collection - Auto-extract restaurant data dari Google Maps dengan SerpAPI integration\n\nData-Driven Strategy - AI analyze sales patterns, budget, dan channel preferences untuk optimal campaign planning\n\nProfessional Documentation - Generate actionable campaign strategy dengan ROI projections dalam format PDF\n\nVisual Asset Creation - Auto-generate campaign graphics menggunakan DALL-E untuk immediate implementation","height":480,"width":380},"type":"n8n-nodes-base.stickyNote","position":[3680,-400],"typeVersion":1,"id":"a6eadf2e-ad92-483a-acc1-730215830038","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e587f7f4-33cb-4a3b-9484-ae806a014181","leftValue":"={{ $json.data['Sales History ( Optional )'][0].filename }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,-180],"id":"9ab96bd9-e755-49aa-a87b-0156577fc988","name":"If"}],"connections":{"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Telegram":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"If":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":703254577,"message":{"message_id":1422,"from":{"id":448658090,"is_bot":false,"first_name":"Jordan","last_name":"S","username":"jsusantio","language_code":"en"},"chat":{"id":448658090,"first_name":"Jordan","last_name":"S","username":"jsusantio","type":"private"},"date":1751292715,"text":"halo"}}}]},"versionId":"85180a51-d16f-4735-9848-6debba068907","triggerCount":1,"tags":[]}
