AI Catering Vendor Finder
{"createdAt":"2025-07-03T16:04:22.907Z","updatedAt":"2025-07-07T12:02:46.000Z","id":"Wxw8LNcRq6BgzqZ7","name":"DONE - Vendor Catering","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-200,-20],"id":"449f7705-8f8d-430e-99cf-d60b6354ec68","name":"Telegram Trigger","webhookId":"972ca028-5790-4348-89da-f0a450624eb9","credentials":{"telegramApi":{"id":"cZggIO8KPxgwrZJK","name":"test"}}},{"parameters":{"promptType":"define","text":"=message: {{ $json.message.text }}\ncurrent user timestamp: {{ $json.message.date }}","options":{"systemMessage":"You are an AI assistant helping a user in Bahasa Indonesia to choose a suitable catering vendor for an upcoming event. Always reply in Bahasa Indonesia.\n\nIf this is the user's first interaction, greet them, introduce yourself, and guide them to provide the following:\n- Lokasi acara (contoh: Jakarta Selatan)\n- Tanggal acara (contoh: 2025-07-20)\n- Jumlah tamu (contoh: 150)\n\nOnce all three inputs are available, proceed to evaluate the provided catering vendor details.\n\nThe event details:\n- Lokasi: {{ $json[\"location\"] }}\n- Tanggal acara: {{ $json[\"eventDate\"] }}\n- Jumlah tamu: {{ $json[\"guestCount\"] }}\n\nThe vendor data is taken from Google Maps search.\n\nFor each vendor, do the following:\n1. Perkirakan apakah vendor ini cocok untuk acara berdasarkan jumlah tamu (jika informasi tersedia).\n2. Apakah mereka menyebutkan info menu, seperti buffet atau paket makanan?\n3. Tampilkan kontak vendor (telepon, email, atau website) jika tersedia.\n4. Apakah ada informasi harga atau estimasi biaya?\n5. Berikan penilaian: \"Cocok\", \"Mungkin Cocok\", atau \"Tidak Cocok\"\n\nBerikan hasil dalam format JSON seperti ini, dalam Bahasa Indonesia:\n\n```json\n{\n  \"nama_vendor\": \"<nama vendor>\",\n  \"kecocokan\": \"Cocok / Mungkin Cocok / Tidak Cocok\",\n  \"info_menu\": \"<deskripsi singkat menu>\",\n  \"kontak\": {\n    \"telepon\": \"\",\n    \"website\": \"\",\n    \"email\": \"\"\n  },\n  \"perkiraan_harga\": \"<estimasi harga atau 'Tidak disebutkan'>\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[20,-20],"id":"9f3951c5-d5fd-493e-866c-3491d340e06c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,140],"id":"fa97c4b1-f256-4c05-ad90-1e81aabcc03d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[180,140],"id":"f695bfd8-b45c-4cc7-8722-ac08c55a0d67","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[740,-20],"id":"489a94e8-e50f-423e-8f05-037756ca2141","name":"Telegram","webhookId":"d468f9e6-1b7d-4e58-aeed-b4aa72d64239","credentials":{"telegramApi":{"id":"cZggIO8KPxgwrZJK","name":"test"}}},{"parameters":{"toolDescription":"use this tool to get data from serpapi","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `- use this to do Business Search and get the <data_id>:\n  https://serpapi.com/search.json?engine=google_maps&q=catering+near+<location>&type=search\n\n`, 'string') }}","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[440,120],"id":"054f8d8f-2382-4720-9d53-e87e93e1cbae","name":"HTTP Request","credentials":{"serpApi":{"id":"UOlo2Oktz96yjjb6","name":"SerpAPI airnext"}}},{"parameters":{"content":"## Event Planning Initiation\nTelegram webhook trigger untuk menerima event planning requests dari users yang membutuhkan catering vendor recommendations dengan interactive consultation process dalam Bahasa Indonesia.","height":540,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-360,-260],"typeVersion":1,"id":"0ba9a057-b563-4346-b005-194a696ecdde","name":"Sticky Note"},{"parameters":{"content":"## Event Requirements Analysis\nAI Agent dengan conversational memory untuk guide users melalui event planning process, collect key requirements seperti lokasi, tanggal, jumlah tamu, lalu orchestrate vendor search dan evaluation dengan structured recommendations.","height":540,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-20,-260],"typeVersion":1,"id":"8b73723b-52f9-4c54-8ef4-ea3760a7fa63","name":"Sticky Note1"},{"parameters":{"content":"## Google Maps Catering Search\nHTTP Request tool dengan SerpAPI integration untuk search catering vendors near user's event location, extract business details, contact information, menu descriptions, dan pricing information untuk comprehensive vendor analysis.","height":540,"color":5},"type":"n8n-nodes-base.stickyNote","position":[360,-260],"typeVersion":1,"id":"3c81b34e-c717-49d8-bf43-041c50866226","name":"Sticky Note2"},{"parameters":{"content":"## Structured Vendor Evaluation\nSend comprehensive catering vendor recommendations kembali ke user via Telegram dengan structured JSON format termasuk suitability assessment, menu information, contact details, pricing estimates, dan final compatibility rating.","height":540,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[640,-260],"typeVersion":1,"id":"ec61bd91-b0ae-46ea-8c50-111bce365a5a","name":"Sticky Note3"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":719336077,"message":{"message_id":1606,"from":{"id":7833022593,"is_bot":false,"first_name":"Tim","username":"TimothyWijaya","language_code":"en"},"chat":{"id":7833022593,"first_name":"Tim","username":"TimothyWijaya","type":"private"},"date":1751555678,"text":"halo"}}}]},"versionId":"43fe5e57-7bc7-4623-a751-a216eecc09a8","triggerCount":1,"tags":[]}
