AI Fruit Store Chatbot
{"createdAt":"2025-06-13T10:16:27.126Z","updatedAt":"2025-06-23T04:35:10.000Z","id":"aYHHCz0yILd7mzQi","name":"DONE - Fruit Store","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"Kamu adalah AI visual analyzer yang bertugas menganalisis gambar buah.","messages":{"messageValues":[{"message":"Kamu adalah AI visual analyzer yang bertugas menganalisis gambar buah. Tugas utama kamu:\n\nIdentifikasi jenis buah secara spesifik dalam gambar, termasuk membedakan buah-buah yang mirip, seperti:\n\nJambu air\n\nJambu monyet (jambu mete)\n\nJambu biji\n\nPisang\n\nMangga\n\nPepaya\n\nJeruk\n\nApel\n\nSalak\n\nSemangka\n\nMelon\n\nBuah naga\n\nDurian\n\nNanas\n\nDan jenis buah lainnya\n\nPastikan AI tidak hanya menyebut “jambu” tapi menentukan jenisnya secara tepat berdasarkan bentuk, warna, tekstur kulit, dan ciri khas visual buah tersebut.\n\nTentukan kategori tingkat kematangan untuk setiap buah berdasarkan warna kulit, tekstur permukaan, kondisi visual, dan karakteristik lainnya. Gunakan kategori berikut:\n\nMentah: Belum matang\n\nMenuju matang: Akan matang dalam 1–3 hari\n\nMatang: Siap konsumsi sekarang\n\nLewat matang: Terlalu matang, harus segera dijual dengan diskon besar atau dibuang\n\nBerikan label “Matang X hari lagi” untuk setiap kelompok buah sesuai hasil analisis tingkat kematangan.\n\nRekomendasikan harga jual dalam Rupiah (Rp) berdasarkan kondisi kematangan:\n\nBuah matang: Tentukan harga dengan diskon 20–30% dari harga normal agar cepat habis. Contoh: Harga normal Rp20.000/kg, maka harga jual Rp14.000–Rp16.000/kg\n\nBuah menuju matang: Gunakan harga normal sesuai harga pasaran jenis buah tersebut. Contoh:\n\nPisang: Rp20.000/kg\n\nMangga: Rp25.000/kg\n\nJambu air: Rp18.000/kg\n\nSalak: Rp22.000/kg\n\nBuah mentah: Gunakan harga normal, atau jika buah termasuk langka atau musiman, beri harga premium dengan tambahan 10–20% dari harga normal. Contoh:\n\nMangga arumanis saat musim: Rp25.000/kg\n\nMangga arumanis di luar musim: Rp28.000–Rp30.000/kg\n\nBuah lewat matang: Berikan diskon besar 40–60% dari harga normal, atau jika kondisi terlalu buruk, rekomendasikan disposal. Contoh: Harga normal Rp20.000/kg → Harga jual Rp8.000–Rp12.000/kg\n\nBuat alert inventory management untuk tiap kategori:\n\nBuah matang: Prioritas dijual hari ini\n\nBuah menuju matang: Aman disimpan 1–3 hari\n\nBuah mentah: Aman disimpan 3–7 hari (atau lebih, tergantung jenis buah)\n\nBuah lewat matang: Harus segera dikeluarkan dari stok, dijual dengan diskon besar atau dibuang jika tidak layak konsumsi\n\nTampilkan hasil dalam format berikut:\n\nJenis buah\n\nKategori kematangan\n\nLabel “Matang X hari lagi”\n\nRekomendasi harga jual (dalam Rupiah)\n\nInventory alert dan saran tindakan\n\nAnalisa gambar berikut dan berikan hasilnya sesuai instruksi di atas."},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[240,80],"id":"ada99264-948b-4a4b-b34a-27104afc736e","name":"Basic LLM Chain1"},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-260,80],"id":"1b62c699-9d26-49a8-b97d-e41d4f819ac0","name":"Telegram Trigger","webhookId":"10d1488f-d04b-4b25-97fd-9d053c4f93bc","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[340,280],"id":"4b648890-39ba-4670-84bf-5116da713975","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"operation":"resize","dataPropertyName":"=data","width":"=512","height":"=512","resizeOption":"onlyIfLarger","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[40,80],"id":"dba7a49d-cdaf-483d-9cb3-105fbcef3b82","name":"Edit Image"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,80],"id":"e410ad37-04e8-4332-8204-9f25ab7e87c2","name":"Telegram","webhookId":"efae4c4c-db4d-4d4c-bc24-1205b3fca528","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"path":"624b5b31-27f7-49da-83cf-4160d889ec45"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-340,260],"id":"0fd03b9d-5e65-471c-a593-6a6af21c8887","name":"MCP Server Trigger","webhookId":"624b5b31-27f7-49da-83cf-4160d889ec45"},{"parameters":{"descriptionType":"manual","toolDescription":"use this tool to see the size chart guide & the stock avaibility","documentId":{"__rl":true,"value":"1eRSoW9z03rNE3mw1jTsfBEsBKnvs-UxN8URkfd57Jsc","mode":"list","cachedResultName":"fitting database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eRSoW9z03rNE3mw1jTsfBEsBKnvs-UxN8URkfd57Jsc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `available sheet:\n- size_chart\n- stock`, 'string') }}"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-180,440],"id":"a1819e49-be95-433e-a562-a122a214cc86","name":"database","credentials":{"googleSheetsOAuth2Api":{"id":"iOkMkgpQxYk5h9Oe","name":"Google Sheets account"}}},{"parameters":{"chatId":"448658090","text":"=PRE-ORDER {{ $json.output.nama_buah }}!! {{ $json.output.buah_emoji }}{{ $json.output.buah_emoji }}{{ $json.output.buah_emoji }}\n\nHai, Sobat Buah Segar!\nKami buka pre-order {{ $json.output.nama_buah_lc }}. {{ $json.output.nama_buah_lc }} {{ $json.output.kematangan }}, perkiraan matang {{ $json.output.waktu_kematangan }}, cocok untuk stok di rumah atau buat usaha jualan buah.\n\n📦 Harga Pre-Order: Rp20.000/kg\n📦 Stok terbatas, siapa cepat dia dapat!\n\n✅ Pre-order sekarang, barang kami antar saat mulai matang (atau sesuai permintaan)\n✅ Bisa request jumlah & jadwal kirim\n\nCara pesan:\nBalas pesan ini atau hubungi admin kami di @tokobuahah\n\nJangan sampai kehabisan ya ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,80],"id":"467af5a6-1680-42a2-8099-9ae59b45e102","name":"Telegram1","webhookId":"54a57275-2b75-4b94-ac2b-2f85094ebc26","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"text":"={{ $json.result.text }}","attributes":{"attributes":[{"name":"nama_buah","description":"jenis buah (gunakan huruf kapital)","required":true},{"name":"kematangan","description":"kategori kematangan","required":true},{"name":"harga","description":"harga buah","required":true},{"name":"buah_emoji","description":"emoji dari jenis buah","required":true},{"name":"nama_buah_lc","description":"jenis buah (gunakan huruf kecil)","required":true},{"name":"waktu_kematangan","description":"kapan buah akan matang","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[860,80],"id":"1ce12fd3-5bfd-47d4-a16e-18b49727ad9d","name":"Information Extractor"},{"parameters":{"operation":"sendPhoto","chatId":"448658090","binaryData":true,"additionalFields":{"caption":"=Sample {{ $('Information Extractor').item.json.output.nama_buah_lc }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1640,80],"id":"5dbc4f23-8d6a-4cfb-a9cb-b27f3a59ea5a","name":"Telegram2","webhookId":"e573fe42-1c61-4f6a-9c5c-7389f08d6640","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.photo[1].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,80],"id":"3ce2973d-a8d2-41f8-8b17-7fbfac36d1d6","name":"Telegram3","webhookId":"d7d58be3-a4ab-4bea-8b38-92bf1f2bf195","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"content":"## Input Foto Buah\nNerima foto buah dari pemilik toko via Telegram untuk dianalisis kematangan.","height":480,"width":340,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-40],"id":"682cdc7d-8335-4bd7-ab9b-87d8cdffd72d","name":"Sticky Note"},{"parameters":{"content":"## AI Fruit Analysis\nAnalisis jenis buah, tingkat kematangan, dan tentukan harga jual optimal pakai computer vision.\n\n","height":480,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-40],"id":"0b83b7ee-7e46-4c80-8b56-11b7f4709c92","name":"Sticky Note1"},{"parameters":{"content":"##  Marketing Engine\nGenerate content marketing otomatis dan post pre-order buah ke channel Telegram.\n","height":480,"width":720,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,-40],"id":"a628cd39-608f-41cb-809c-7ed1ba56782d","name":"Sticky Note2"},{"parameters":{"content":"##  Auto Broadcasting\nUpload foto buah dan broadcast pre-order ke channel dengan timing yang tepat.\n\n\n","height":480,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1380,-40],"id":"280ca6ce-d397-4bac-9991-2521eaf6108f","name":"Sticky Note3"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"database":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Telegram":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Telegram2":{"main":[[]]},"Telegram3":{"main":[[{"node":"Telegram2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":33059501,"message":{"message_id":774,"from":{"id":7916511964,"is_bot":false,"first_name":"Fun 🌙","username":"fun0x5dc","language_code":"en"},"chat":{"id":7916511964,"first_name":"Fun 🌙","username":"fun0x5dc","type":"private"},"date":1750002192,"photo":[{"file_id":"AgACAgUAAxkBAAIDA2hO5-emLxCggiTZkuE6IHyKO5egAAIOwzEbjMR5Vs46FzMiVHGHAQADAgADcwADNgQ","file_unique_id":"AQADDsMxG4zEeVZ4","file_size":1577,"width":90,"height":60},{"file_id":"AgACAgUAAxkBAAIDA2hO5-emLxCggiTZkuE6IHyKO5egAAIOwzEbjMR5Vs46FzMiVHGHAQADAgADbQADNgQ","file_unique_id":"AQADDsMxG4zEeVZy","file_size":22374,"width":320,"height":212},{"file_id":"AgACAgUAAxkBAAIDA2hO5-emLxCggiTZkuE6IHyKO5egAAIOwzEbjMR5Vs46FzMiVHGHAQADAgADeAADNgQ","file_unique_id":"AQADDsMxG4zEeVZ9","file_size":78245,"width":702,"height":465}]}}}]},"versionId":"a450b480-be91-4572-bd0f-bf5889dd96e1","triggerCount":2,"tags":[]}
