AI Invoice Generation
{"createdAt":"2025-06-23T05:00:03.930Z","updatedAt":"2025-07-15T15:52:55.000Z","id":"HZUtuewgre7YiAuk","name":"DONE - Generate Invoice","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1eacERlaGBfIeWCfR_30DLBTe4bzZeBh6RtzSpBPCFH8/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"replaceAll","text":"{{DATE}}","replaceText":"kocak"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-240,-880],"id":"b03e4d67-795c-4e3e-b9d0-334ce3a218c6","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"YuordWon9Y1QYbXf","name":"G Docs Project 1 - Ad Content"}}},{"parameters":{"promptType":"define","text":"=text:  {{ $json.message.text }}\nmessage_id: {{ $json.message.from.id }}","options":{"systemMessage":"Prompt AI Agent: Kasir Penulis Pesanan (dengan pengecekan stok dan createInvoice)\n\nPeranmu:\nKamu adalah kasir profesional yang mencatat pesanan pembelian barang, mengecek stok dan harga berdasarkan data di Google Sheet, dan membuat invoice otomatis setelah semua data valid.\n\nSumber data:\nGunakan Google Sheet\n\nInstruksi:\n\nTanyakan pesanan dari user satu per satu:\n\nBarang apa yang ingin dipesan?\n\nBerapa jumlahnya?\n\nPeriksa apakah barang tersedia di Google Sheet.\n\nJika tidak tersedia, beri tahu user.\n\nJika tersedia, cek apakah stok mencukupi.\n\nJika stok cukup, catat pesanan.\n\nJika stok tidak cukup, beri tahu user dan minta jumlah baru.\n\nSetelah satu item dicatat, tanyakan: \"Ada pesanan lain?\"\n\nUlangi sampai user selesai.\n\nSetelah semua pesanan selesai, tanyakan data perusahaan:\n\nNama perusahaan\n\nAlamat\n\nNomor telepon\n\nEmail\n\nHitung total untuk setiap item (harga × jumlah).\n\nKembalikan hasil dalam format JSON seperti berikut, tanpa penjelasan tambahan:\n\n{\n\"detail_purchase\": {\n\"company_details\": {\n\"client_company_name\": \"NAMA_PERUSAHAAN\",\n\"alamat_company\": \"ALAMAT_PERUSAHAAN\",\n\"phone_company\": \"NOMOR_TELEPON\",\n\"email_company\": \"EMAIL\"\n},\n\"items\": [\n{\n\"no\": 1,\n\"deskripsi_barang\": \"NAMA_BARANG\",\n\"harga\": HARGA_SATUAN,\n\"jumlah\": JUMLAH,\n\"total\": TOTAL\n}\n// dan seterusnya\n]\n}\n}\n\nSetelah JSON valid terbentuk dan lengkap, jalankan tools createInvoice\n\nKetentuan tambahan:\n\nHanya catat barang yang ada di daftar Google Sheet.\n\nJangan mencatat jumlah melebihi stok.\n\nJawaban akhir harus berupa JSON valid, tanpa teks atau komentar.\n\nJangan menjalankan tools createInvoice jika data belum lengkap atau tidak valid."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-520,440],"id":"a78ccad7-1a75-4aa6-a9d1-464503e2e5d5","name":"AI Agent"},{"parameters":{"descriptionType":"manual","toolDescription":"gunakan tools ini untuk mendapatkan harga setiap barang","documentId":{"__rl":true,"value":"1OEDGzZYMc7QtOSSgtmSn-Thl6ZYIZNN3FD7UpzmrHh8","mode":"list","cachedResultName":"harga_barang","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OEDGzZYMc7QtOSSgtmSn-Thl6ZYIZNN3FD7UpzmrHh8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OEDGzZYMc7QtOSSgtmSn-Thl6ZYIZNN3FD7UpzmrHh8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-960,820],"id":"059f3e14-2ae6-4641-b3d2-565c64440ffb","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-560,680],"id":"1aa1c47d-473d-40ec-9041-76cc03a5627b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"gunakan tools ini untuk memasukan data","operation":"update","documentId":{"__rl":true,"value":"14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4","mode":"list","cachedResultName":"Template_Invoice","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DESCRIPTION":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DESCRIPTION', ``, 'string') }}","QTY":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('QTY', ``, 'string') }}","UNIT PRICE":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('UNIT_PRICE', ``, 'string') }}","No":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('No__using_to_match_', ``, 'string') }}"},"matchingColumns":["No"],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESCRIPTION","displayName":"DESCRIPTION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QTY","displayName":"QTY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UNIT PRICE","displayName":"UNIT PRICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TOTAL","displayName":"TOTAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED","locationDefine":{"values":{"headerRow":21}}}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-240,-1620],"id":"de9796d4-f52e-4835-b71f-b3455c54424e","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"jsCode":"// Untuk setiap item (biasanya cuma 1)\nreturn items.map(item => {\n  const parsed = JSON.parse($input.first().json.query); // parsing JSON string\n  return {\n    json: parsed\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,40],"id":"61f69cc3-2591-4667-8b00-d68211e4de06","name":"Code"},{"parameters":{"descriptionType":"manual","toolDescription":"gunakan tools ini untuk memasukan data/","operation":"update","documentURL":"1eacERlaGBfIeWCfR_30DLBTe4bzZeBh6RtzSpBPCFH8","actionsUi":{"actionFields":[{"object":"tableRow","action":"insert","rowIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Row_Index', ``, 'number') }}","columnIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Column_Index', ``, 'number') }}"}]}},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-240,-1120],"id":"92943e63-5f24-4838-80bc-4a4281daef25","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"YuordWon9Y1QYbXf","name":"G Docs Project 1 - Ad Content"}}},{"parameters":{"options":{"timezone":"Asia/Jakarta"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-80,40],"id":"6002ec37-4d51-43ff-b114-4fef1e38e285","name":"Date & Time","executeOnce":true},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd/MM/yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[140,40],"id":"08e12eab-0d3c-4d33-b5a7-2b40794623dc","name":"Date & Time1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4","mode":"list","cachedResultName":"Template_Invoice","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"No":"={{ $json[\"detail_purchase.items\"].no }}","DESCRIPTION":"={{ $json[\"detail_purchase.items\"].deskripsi_barang }}","QTY":"={{ $json[\"detail_purchase.items\"].jumlah }}","UNIT PRICE":"={{ $json[\"detail_purchase.items\"].harga }}"},"matchingColumns":["No"],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESCRIPTION","displayName":"DESCRIPTION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QTY","displayName":"QTY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UNIT PRICE","displayName":"UNIT PRICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TOTAL","displayName":"TOTAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"headerRow":21,"firstDataRow":22}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-300,40],"id":"edd1bc66-65d5-4f51-ad50-516cbf01edff","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4","mode":"list","cachedResultName":"Template_Invoice","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATE":"={{ $json.formattedDate }}","row_number":"7"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED","locationDefine":{"values":{"headerRow":6,"firstDataRow":1}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[360,40],"id":"ba53351a-ed3e-4b76-8539-f020dfa12b84","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4","mode":"list","cachedResultName":"Template_Invoice","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"9","INVOICE NO.":"={{ $json.formattedDate }}/{{ $('Code1').item.json.kode }}"},"matchingColumns":["row_number"],"schema":[{"id":"INVOICE NO.","displayName":"INVOICE NO.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED","locationDefine":{"values":{"headerRow":8,"firstDataRow":1}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1020,40],"id":"034b79e0-b4ef-4a8b-94d1-1c4b7990fedb","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"operation":"formatDate","date":"={{ $('Date & Time').item.json.currentDate }}","format":"custom","customFormat":"ddMMyyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[800,40],"id":"7b02646e-a2cc-4144-89fd-95a45fcca721","name":"Date & Time2"},{"parameters":{"jsCode":"function generateRandomNumber(length = 4) {\n  const min = Math.pow(10, length - 1); // Contoh: 100000\n  const max = Math.pow(10, length) - 1; // Contoh: 999999\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nconst numbers = [];\n\nfor (let i = 0; i < 1; i++) {\n  numbers.push({\n    json: {\n      kode: generateRandomNumber(4) // Misalnya 6 digit: 123456\n    }\n  });\n}\n\nreturn numbers;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,40],"id":"71669419-9132-4dfd-b408-58a53848bebe","name":"Code1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-420,700],"id":"aebfc442-f7d9-4696-895b-3e5fb0c9dfe5","name":"Simple Memory"},{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"chat_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-960,40],"id":"ed312e7d-a445-4cf1-8e5c-c184a2c020d2","name":"When Executed by Another Workflow"},{"parameters":{"description":"gunakan tools ini untuk membuat invoice.","workflowId":{"__rl":true,"value":"HZUtuewgre7YiAuk","mode":"list","cachedResultName":"DONE - Generate Invoice"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `output summary pembelian dari ai agent dengan format\n\n{\n\"detail_purchase\": {\n\"company_details\": {\n\"client_company_name\": \"NAMA_PERUSAHAAN\",\n\"alamat_company\": \"ALAMAT_PERUSAHAAN\",\n\"phone_company\": \"NOMOR_TELEPON\",\n\"email_company\": \"EMAIL\"\n},\n\"items\": [\n{\n\"no\": 1,\n\"deskripsi_barang\": \"NAMA_BARANG\",\n\"harga\": HARGA_SATUAN,\n\"jumlah\": JUMLAH,\n\"total\": TOTAL\n}\n// dan seterusnya\n]\n}\n}`, 'string') }}","chat_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chat_id', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-800,840],"id":"931440a3-9d08-406b-87f1-71895416507c","name":"createInvoice"},{"parameters":{"sseEndpoint":"https://airnextdigital.app.n8n.cloud/mcp/4954eac1-596d-425f-bfe1-096d8c68b9b5/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-300,700],"id":"27c6ee18-ab6e-4d23-a2ea-cdb50543b810","name":"MCP Client"},{"parameters":{"path":"4954eac1-596d-425f-bfe1-096d8c68b9b5"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-980,640],"id":"c5dac152-7fea-4af4-a5a8-61ea41ce58d0","name":"MCP Server Trigger","webhookId":"4954eac1-596d-425f-bfe1-096d8c68b9b5"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-900,440],"id":"4c4a35e2-9a7e-4532-a1fe-1eb005149165","name":"Telegram Trigger","webhookId":"b2501f44-b837-432e-a2d1-ab3c9ddd0a8c","credentials":{"telegramApi":{"id":"tTQR8GWVisEo9QSR","name":"Telegram Fun"}}},{"parameters":{"chatId":"=7916511964","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-240,-1380],"id":"69b927ff-f38e-4edf-bb06-c15a274f5654","name":"Telegram","webhookId":"0bb68f5f-c7de-451a-8861-db4a8cdba695","credentials":{"telegramApi":{"id":"tTQR8GWVisEo9QSR","name":"Telegram Fun"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4","mode":"list","cachedResultName":"Template_Invoice","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"14","BILL TO":"={{ $('Code').item.json.detail_purchase.company_details.client_company_name }}\n{{ $('Code').item.json.detail_purchase.company_details.alamat_company }}\n{{ $('Code').item.json.detail_purchase.company_details.phone_company }}\n{{ $('Code').item.json.detail_purchase.company_details.email_company }}","SHIP TO":"={{ $('Code').item.json.detail_purchase.company_details.client_company_name }}\n{{ $('Code').item.json.detail_purchase.company_details.alamat_company }} \n{{ $('Code').item.json.detail_purchase.company_details.phone_company }} \n{{ $('Code').item.json.detail_purchase.company_details.email_company }}"},"matchingColumns":["row_number"],"schema":[{"id":"BILL TO","displayName":"BILL TO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SHIP TO","displayName":"SHIP TO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED","locationDefine":{"values":{"headerRow":12}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1240,40],"id":"068a3984-8781-4def-b6c3-f3eaa7ed707b","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4","mode":"list","cachedResultName":"Template_Invoice","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14jvYEX87J9ix57JkZsui6q89UWVEfH4d1BVJED4tpj4/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{"sheetsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1460,40],"id":"fb83533c-d862-43c5-a5d1-0ca90513b26c","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"sendDocument","chatId":"=7916511964","binaryData":true,"additionalFields":{"fileName":"=Invoice {{ $('Code').item.json.detail_purchase.company_details.client_company_name }}.pdf"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,40],"id":"e3b17283-f42c-4f57-b8af-56c55c6b555b","name":"Telegram1","webhookId":"2f2e7feb-5377-4b15-99da-3fe14be863fb","credentials":{"telegramApi":{"id":"tTQR8GWVisEo9QSR","name":"Telegram Fun"}}},{"parameters":{"content":"## Multi-Channel Input\nTerima pesanan via Telegram atau MCP Server trigger, dan route ke AI cashier assistant untuk order processing dengan memory conversational.","height":700,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1040,280],"typeVersion":1,"id":"b5f04ce9-4cf2-48b4-9eaf-df10cce4bd48","name":"Sticky Note"},{"parameters":{"content":"## AI Cashier Assistant\nProfessional cashier AI dengan Google Sheets integration untuk stock checking, price validation, dan conversational order collection dengan memory.","height":700,"width":420,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-600,280],"typeVersion":1,"id":"a6d3f43e-e419-4665-bf4a-d860f3275378","name":"Sticky Note1"},{"parameters":{"content":"## Invoice Data Processing\nParse order JSON, generate timestamp & invoice number, process company details, dan populate Google Sheets template dengan sequential updates. Google Sheets akan melakukan sequential updates ke invoice template: item details, date, invoice number, dan bill-to/ship-to information dengan specific row targeting.","height":320,"width":2420,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1040,-100],"typeVersion":1,"id":"6c094b78-6851-459c-9869-3da23e7eecaf","name":"Sticky Note2"},{"parameters":{"content":"## Invoice Generation & Delivery\nConvert populated Google Sheets to PDF, download formatted invoice, dan send via Telegram dengan custom filename untuk client delivery.","height":320,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1410,-100],"typeVersion":1,"id":"b6785e35-eada-4463-b323-99ef4c1c6f19","name":"Sticky Note3"},{"parameters":{"content":"## Key Insight: Conversational Invoice Intelligence System\nWorkflow ini punya AI-Powered Order-to-Invoice Pipeline yang sophisticated:\n\nConversational AI - Natural language order collection dengan stock validation real-time\n\nMulti-Channel Integration - Handle Telegram, MCP, dan workflow triggers seamlessly\n\nSmart Invoice Generation - Auto-populate template dengan sequential Google Sheets updates\n\nProfessional Output - Generate formatted PDF invoices dengan proper company branding","height":440,"width":420},"type":"n8n-nodes-base.stickyNote","position":[1880,-100],"typeVersion":1,"id":"82ddd655-80c4-482f-ba0e-8774bfb28ec8","name":"Sticky Note4"},{"parameters":{"chatId":"=7916511964","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-100,440],"id":"4b7da4e8-e0f5-410d-8092-55e0958f6ea1","name":"Telegram2","webhookId":"2f2e7feb-5377-4b15-99da-3fe14be863fb","credentials":{"telegramApi":{"id":"tTQR8GWVisEo9QSR","name":"Telegram Fun"}}},{"parameters":{"fieldToSplitOut":"detail_purchase.items","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-520,40],"id":"2a5ba6e1-c0db-46d6-b2cb-c4e788c4ed8e","name":"Split Out"}],"connections":{"Google Sheets":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Sheets1":{"ai_tool":[[]]},"AI Agent":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Google Docs1":{"ai_tool":[[]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Date & Time2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Date & Time2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"createInvoice":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"{\"detail_purchase\":{\"company_details\":{\"client_company_name\":\"pt kocak\",\"alamat_company\":\"jln waro\",\"phone_company\":\"0214123432\",\"email_company\":\"kocak@gmail.com\"},\"items\":[{\"no\":1,\"deskripsi_barang\":\"mecin\",\"harga\":15000,\"jumlah\":2,\"total\":30000},{\"no\":2,\"deskripsi_barang\":\"gula\",\"harga\":22000,\"jumlah\":3,\"total\":66000}]}}","chat_id":"7916511964"}}],"Telegram Trigger":[{"json":{"update_id":33059561,"message":{"message_id":950,"from":{"id":7916511964,"is_bot":false,"first_name":"Fun 🌙","username":"fun0x5dc","language_code":"en"},"chat":{"id":7916511964,"first_name":"Fun 🌙","username":"fun0x5dc","type":"private"},"date":1751183766,"text":"test"}}}]},"versionId":"980b354f-a197-44d4-984f-aa20b24194fd","triggerCount":2,"tags":[]}
