AI Job Opening Finder
{"createdAt":"2025-06-28T06:51:26.695Z","updatedAt":"2025-07-02T04:39:10.000Z","id":"quF2VzGS99g250DG","name":"DONE - Job Search","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2780,20],"id":"1f86777b-2471-472a-9b22-4e390589fbf5","name":"Schedule Trigger"},{"parameters":{"content":"## Retrieve Job Data from Linkedin Via API","height":100,"width":380,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,180],"id":"b94221db-b905-476e-80a9-4dc65d0f6f8e","name":"Sticky Note"},{"parameters":{"content":"## Analyze and Match Resume to Job","height":100,"width":780,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,180],"id":"c9e984e0-d97e-4ebd-8cbf-93892831b6c4","name":"Sticky Note1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"You're an AI assistant that scores how well a job matches a candidate. Rate from 1 to 5 based on skill, experience, and fit.\nRespond with:\n{\"score\": \"\"}","role":"system"},{"content":"=Job: {{ $json.message.content.description }}\nCandidate resume:\nJohn Doe\nEmail: johndoe@email.com\nPhone: (555) 555-5555\n\nEDUCATION\nBachelor of Science in Business Administration, Example University\n\nEXPERIENCE\n- Sales Associate at RetailCo (2018–2020): Assisted customers, managed inventory, exceeded sales targets.\n- Customer Service Representative at ServiceCorp (2020–2022): Resolved customer issues, maintained high satisfaction ratings.\n\nSKILLS\n- Communication\n- Problem Solving\n- Teamwork\n\nCERTIFICATIONS\n- Certified Professional (CP)\n\n[End of Resume]"}]},"jsonOutput":true,"options":{}},"name":"Score Job","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,500],"id":"8881c5ec-ddc0-403e-8ddb-6726e0cd0e04","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"url":"https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=413aee18&app_key=7df862908d207b24f96813e7d39b4d87&results_per_page=5&what={{$json.job_title}}","options":{}},"name":"Get Jobs from Adzuna1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[860,2280],"id":"cc460dee-4117-4db0-a949-7129ae9e8a60"},{"parameters":{"fieldToSplitOut":"results","options":{}},"name":"Split Jobs1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,500],"id":"ff6c85f8-8a44-493e-81c0-6cabcfe3afef"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"You're an AI that extracts key job info from the following JSON and returns it like this:\n{\"company_name\": \"\",\"location\": \"\",\"description\": \"(short summary max 200 chars)\"}","role":"system"},{"content":"=Job data:\n{{ JSON.stringify($json) }}"}]},"jsonOutput":true,"options":{}},"name":"Summarize Job1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,500],"id":"00d0ad13-8934-40e1-adbd-27af928002e8","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"168GvEpHVEM_gbJl-PoW4igttgc50zEP0RN0umeqfyDg","mode":"list","cachedResultName":"cv-recruiter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/168GvEpHVEM_gbJl-PoW4igttgc50zEP0RN0umeqfyDg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/168GvEpHVEM_gbJl-PoW4igttgc50zEP0RN0umeqfyDg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Score":"={{ $('Score Job').item.json.message.content.score }}","Description Job":"={{ $('Summarize Job1').item.json.message.content.description }}","Company":"={{ $('Summarize Job1').item.json.message.content.company_name }}","Location":"={{ $('Summarize Job1').item.json.message.content.location }}","Cover Letter":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description Job","displayName":"Description Job","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cover Letter","displayName":"Cover Letter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1440,500],"id":"e41aa78f-8d5e-4378-a544-8287c4e7fbd5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"content":"## Automated Job Search Initiation\nJadwalkan pencarian pekerjaan otomatis setiap hari jam 7 pagi untuk mendapatkan lowongan terbaru.","height":320,"width":620,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-980,340],"typeVersion":1,"id":"633f10bf-34bd-4f71-b2c7-785fa9928ab0","name":"Sticky Note3"},{"parameters":{"content":"## Job Data Collection\nAmbil data lowongan kerja dari Adzuna API dan lakukan splitting untuk memproses setiap job secara individual.","height":320,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-320,340],"typeVersion":1,"id":"5d38eb11-c09e-436b-8d87-1d53c2059705","name":"Sticky Note4"},{"parameters":{"content":"## Job Summarization & Extraction\nGunakan GPT-3.5 untuk mengekstrak informasi penting dari data job dan membuat ringkasan yang terstruktur.","height":320,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","position":[100,340],"typeVersion":1,"id":"aec5400e-f639-450b-bd0a-2f4fcf4a2ac2","name":"Sticky Note5"},{"parameters":{"content":"## Resume-Job Compatibility Scoring\nAI menilai kecocokan antara resume kandidat dengan job description menggunakan skala 1-5 berdasarkan skill, experience, dan fit.","height":320,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","position":[520,340],"typeVersion":1,"id":"78afd1e6-4df9-4368-914a-221d0ed13d2e","name":"Sticky Note6"},{"parameters":{"content":"## Cover Letter Writing\nOtomatis generate cover letter yang disesuaikan dengan job requirements dan candidate profile.","height":540,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","position":[940,340],"typeVersion":1,"id":"af49880d-be91-462c-90f3-57d9d1b812d7","name":"Sticky Note7"},{"parameters":{"content":"## Google Sheets Integration\nSimpan semua hasil analisis ke Google Sheets untuk tracking dan monitoring progress aplikasi kerja.","height":320,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1360,340],"typeVersion":1,"id":"6e703df8-1d6f-49cd-9ae0-e0fb53075fa0","name":"Sticky Note8"},{"parameters":{"content":"## Key Insights & Features\n🤖 Triple AI Processing Pipeline\nSistem menggunakan 3 AI nodes berbeda untuk:\n1. Job Summarization - Ekstrak info penting\n2. Compatibility Scoring - Rate 1-5 matching\n3. Cover Letter Generation - Personalized content\n\n\n⏰ Smart Automation Timing\nDijadwalkan jam 7 pagi setiap hari untuk menangkap lowongan fresh dan mendapatkan advantage dalam aplikasi. Perfect timing untuk job hunt!\n\n📊 Integrated Tracking System\nSemua data ter-log otomatis ke Google Sheets dengan scoring, company info, dan location. Bisa track progress dan analyze pattern job yang paling cocok.\n\n🎯 Scalable Job Matching\nSplit jobs processing memungkinkan handle multiple job postings sekaligus. Setiap job diproses individual dengan scoring yang akurat.\n\n🔗 API-First Architecture\nMenggunakan Adzuna API untuk real-time job data, bukan scraping. Lebih reliable dan sustainable untuk long-term usage.","height":520,"width":560},"type":"n8n-nodes-base.stickyNote","position":[1840,340],"typeVersion":1,"id":"0570b530-750e-4b1d-a318-d1d02dde0278","name":"Sticky Note9"},{"parameters":{"path":"db3ff7c7-0286-484e-bbf0-69509e9644d2","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[860,1820],"id":"52130e83-f4f0-4225-8ef5-41ad968a5588","name":"Webhook","webhookId":"db3ff7c7-0286-484e-bbf0-69509e9644d2"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      results: [\n        {\n          title: \"Digital Marketing Specialist\",\n          created: \"2025-06-30T08:00:00Z\",\n          location: {\n            display_name: \"Jakarta Selatan, DKI Jakarta\",\n            area: [\"ID\", \"DKI Jakarta\", \"Jakarta Selatan\"],\n            __CLASS__: \"Adzuna::API::Response::Location\"\n          },\n          category: {\n            tag: \"digital-marketing-jobs\",\n            label: \"Digital Marketing Jobs\",\n            __CLASS__: \"Adzuna::API::Response::Category\"\n          },\n          company: {\n            display_name: \"PT Kreatif Media\",\n            __CLASS__: \"Adzuna::API::Response::Company\"\n          },\n          salary_min: 9000000,\n          salary_max: 12000000,\n          salary_is_predicted: \"0\",\n          latitude: -6.2669,\n          longitude: 106.8132,\n          adref: \"eyJhbGciOiJIUzI1NiJ9.fakeAdRef1\",\n          id: \"6000000001\",\n          redirect_url: \"https://www.example.com/job/6000000001-digital-marketing-specialist\",\n          contract_time: \"full_time\",\n          description: \"Mengelola strategi digital marketing dan mengoptimalkan performa kampanye iklan digital.\",\n          __CLASS__: \"Adzuna::API::Response::Job\"\n        },\n        {\n          title: \"SEO Specialist\",\n          created: \"2025-06-29T10:30:00Z\",\n          location: {\n            display_name: \"Bandung, Jawa Barat\",\n            area: [\"ID\", \"Jawa Barat\", \"Bandung\"],\n            __CLASS__: \"Adzuna::API::Response::Location\"\n          },\n          category: {\n            tag: \"seo-jobs\",\n            label: \"SEO Jobs\",\n            __CLASS__: \"Adzuna::API::Response::Category\"\n          },\n          company: {\n            display_name: \"PT Optimasi Digital\",\n            __CLASS__: \"Adzuna::API::Response::Company\"\n          },\n          salary_min: 8000000,\n          salary_max: 11000000,\n          salary_is_predicted: \"1\",\n          latitude: -6.9149,\n          longitude: 107.6082,\n          adref: \"eyJhbGciOiJIUzI1NiJ9.fakeAdRef2\",\n          id: \"6000000002\",\n          redirect_url: \"https://www.example.com/job/6000000002-seo-specialist\",\n          contract_time: \"full_time\",\n          description: \"Melakukan riset kata kunci dan optimasi teknikal untuk mendongkrak ranking website.\",\n          __CLASS__: \"Adzuna::API::Response::Job\"\n        },\n        {\n          title: \"Social Media Strategist\",\n          created: \"2025-06-28T09:15:00Z\",\n          location: {\n            display_name: \"Surabaya, Jawa Timur\",\n            area: [\"ID\", \"Jawa Timur\", \"Surabaya\"],\n            __CLASS__: \"Adzuna::API::Response::Location\"\n          },\n          category: {\n            tag: \"social-media-jobs\",\n            label: \"Social Media Jobs\",\n            __CLASS__: \"Adzuna::API::Response::Category\"\n          },\n          company: {\n            display_name: \"PT Viral Kreatif\",\n            __CLASS__: \"Adzuna::API::Response::Company\"\n          },\n          salary_min: 7000000,\n          salary_max: 9500000,\n          salary_is_predicted: \"1\",\n          latitude: -7.2575,\n          longitude: 112.7521,\n          adref: \"eyJhbGciOiJIUzI1NiJ9.fakeAdRef3\",\n          id: \"6000000003\",\n          redirect_url: \"https://www.example.com/job/6000000003-social-media-strategist\",\n          contract_time: \"full_time\",\n          description: \"Mengembangkan strategi media sosial dan menganalisa performa konten.\",\n          __CLASS__: \"Adzuna::API::Response::Job\"\n        },\n        {\n          title: \"Paid Ads Specialist\",\n          created: \"2025-06-27T14:00:00Z\",\n          location: {\n            display_name: \"Tangerang, Banten\",\n            area: [\"ID\", \"Banten\", \"Tangerang\"],\n            __CLASS__: \"Adzuna::API::Response::Location\"\n          },\n          category: {\n            tag: \"advertising-jobs\",\n            label: \"Advertising Jobs\",\n            __CLASS__: \"Adzuna::API::Response::Category\"\n          },\n          company: {\n            display_name: \"PT Ads Performance\",\n            __CLASS__: \"Adzuna::API::Response::Company\"\n          },\n          salary_min: 8500000,\n          salary_max: 13000000,\n          salary_is_predicted: \"1\",\n          latitude: -6.1783,\n          longitude: 106.6319,\n          adref: \"eyJhbGciOiJIUzI1NiJ9.fakeAdRef4\",\n          id: \"6000000004\",\n          redirect_url: \"https://www.example.com/job/6000000004-paid-ads-specialist\",\n          contract_time: \"full_time\",\n          description: \"Mengelola iklan digital berbayar seperti Google Ads dan Meta Ads untuk meningkatkan ROI.\",\n          __CLASS__: \"Adzuna::API::Response::Job\"\n        },\n        {\n          title: \"Content Marketing Executive\",\n          created: \"2025-06-26T13:45:00Z\",\n          location: {\n            display_name: \"Yogyakarta, DI Yogyakarta\",\n            area: [\"ID\", \"DI Yogyakarta\", \"Yogyakarta\"],\n            __CLASS__: \"Adzuna::API::Response::Location\"\n          },\n          category: {\n            tag: \"content-marketing-jobs\",\n            label: \"Content Marketing Jobs\",\n            __CLASS__: \"Adzuna::API::Response::Category\"\n          },\n          company: {\n            display_name: \"PT Cerita Digital\",\n            __CLASS__: \"Adzuna::API::Response::Company\"\n          },\n          salary_min: 6000000,\n          salary_max: 9000000,\n          salary_is_predicted: \"0\",\n          latitude: -7.8012,\n          longitude: 110.3646,\n          adref: \"eyJhbGciOiJIUzI1NiJ9.fakeAdRef5\",\n          id: \"6000000005\",\n          redirect_url: \"https://www.example.com/job/6000000005-content-marketing-executive\",\n          contract_time: \"full_time\",\n          description: \"Membuat dan mendistribusikan konten yang relevan dan menarik untuk audience digital.\",\n          __CLASS__: \"Adzuna::API::Response::Job\"\n        },\n        {\n          title: \"Growth Marketing Lead\",\n          created: \"2025-06-25T11:20:00Z\",\n          location: {\n            display_name: \"Medan, Sumatera Utara\",\n            area: [\"ID\", \"Sumatera Utara\", \"Medan\"],\n            __CLASS__: \"Adzuna::API::Response::Location\"\n          },\n          category: {\n            tag: \"growth-marketing-jobs\",\n            label: \"Growth Marketing Jobs\",\n            __CLASS__: \"Adzuna::API::Response::Category\"\n          },\n          company: {\n            display_name: \"PT GrowFast\",\n            __CLASS__: \"Adzuna::API::Response::Company\"\n          },\n          salary_min: 11000000,\n          salary_max: 16000000,\n          salary_is_predicted: \"0\",\n          latitude: 3.5952,\n          longitude: 98.6722,\n          adref: \"eyJhbGciOiJIUzI1NiJ9.fakeAdRef6\",\n          id: \"6000000006\",\n          redirect_url: \"https://www.example.com/job/6000000006-growth-marketing-lead\",\n          contract_time: \"full_time\",\n          description: \"Memimpin eksperimen pertumbuhan untuk akuisisi dan retensi pengguna digital.\",\n          __CLASS__: \"Adzuna::API::Response::Job\"\n        }\n      ],\n      count: 6,\n      __CLASS__: \"Adzuna::API::Response::JobSearchResults\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,1820],"id":"76b81fab-e165-486c-9077-e8c7dd01d07e","name":"Code"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1300,1820],"id":"82904626-768b-4282-984d-6f2750fed9fe","name":"Respond to Webhook"},{"parameters":{"values":{"string":[{"name":"job_title","value":"Digital Marketing"}]},"options":{"dotNotation":false}},"name":"Set Job Title1","type":"n8n-nodes-base.set","typeVersion":1,"position":[-720,500],"id":"3c3a01af-725d-49fc-80e6-f1248f8c6868"},{"parameters":{"url":"=https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=413aee18&app_key=7df862908d207b24f96813e7d39b4d87&results_per_page=5&what={{$json.job_title}}","options":{}},"name":"Get Jobs from Adzuna","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[860,2020],"id":"bbe5ed48-be83-42b3-86d2-719dbb7e7244"},{"parameters":{"values":{"string":[{"name":"path","value":"db3ff7c7-0286-484e-bbf0-69509e9644d2"}]},"options":{"dotNotation":false}},"name":"Set Job Title","type":"n8n-nodes-base.set","typeVersion":1,"position":[-540,500],"id":"051df7bf-4e15-4a4c-be40-16a130918345"},{"parameters":{"url":"=https://airnextdigital.app.n8n.cloud/webhook/{{ $json.path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,500],"id":"69f5263a-d30b-41cb-ae9c-79e8c2d30afb","name":"Get Job From Linkedin"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-900,500],"id":"a0d6618d-a942-42d0-b591-c197089163e1","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=Job Title: {{ $('Split Jobs1').item.json.title }}\nCompany: {{ $('Summarize Job1').item.json.message.content.company_name }}\nJob Description:\n{{ $('Summarize Job1').item.json.message.content.description }}\n\nMy Background:\n\nCandidate resume:\nErik Kurniawan\nEmail: erick747@email.com\nPhone: 08121234131\n\nEDUCATION\nBachelor of Science in Business Administration, Example University\n\nEXPERIENCE\n- Sales Associate at RetailCo (2018–2020): Assisted customers, managed inventory, exceeded sales targets.\n- Customer Service Representative at ServiceCorp (2020–2022): Resolved customer issues, maintained high satisfaction ratings.\n- Digital Marketing ads: Mastery Ads\n\nSKILLS\n- Communication\n- Problem Solving\n- Teamwork\n\nCERTIFICATIONS\n- Certified Professional (CP)\n\n[End of Resume]\n\n","options":{"systemMessage":"Tuliskan 1 paragraf cover letter kerja yang dipersonalisasi dalam Bahasa Indonesia berdasarkan deskripsi pekerjaan di bawah ini. Sesuaikan nada tulisan agar profesional namun tetap ramah. Soroti keterampilan dan pengalaman yang relevan dengan persyaratan posisi tersebut. Tujuannya adalah untuk memberikan kesan positif kepada perekrut dan menunjukkan ketertarikan yang tulus terhadap posisi dan perusahaan yang dilamar. buatkan seluruh company jangan sampai yang tertinggal."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1000,500],"id":"22cada3f-7258-4ea5-a32d-aa89d53d2138","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1060,740],"id":"b387a3dd-88c4-4322-9219-ed237b35b597","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}}],"connections":{"Schedule Trigger":{"main":[[]]},"Get Jobs from Adzuna1":{"main":[[]]},"Split Jobs1":{"main":[[{"node":"Summarize Job1","type":"main","index":0}]]},"Summarize Job1":{"main":[[{"node":"Score Job","type":"main","index":0}]]},"Score Job":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets":{"main":[[]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Set Job Title1":{"main":[[{"node":"Set Job Title","type":"main","index":0}]]},"Set Job Title":{"main":[[{"node":"Get Job From Linkedin","type":"main","index":0}]]},"Get Job From Linkedin":{"main":[[{"node":"Split Jobs1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Job Title1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"4dad7281-7972-417f-a132-81650bc57cba","triggerCount":2,"tags":[]}
