AI Petshop Booking Chatbot
{"createdAt":"2025-06-11T09:50:40.065Z","updatedAt":"2025-06-23T04:35:42.000Z","id":"7oahuMQGCJcm9ihl","name":"DONE - Pet Shop || AI Booking Assistant","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-160,-20],"id":"63cee7a7-c395-4562-a53c-afd4922404a5","name":"Telegram Trigger","webhookId":"a056fce2-f7a0-4490-b5a4-05643b327ffc","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"path":"ab4b1fba-489d-4ddf-8cd8-e20afbbbe2a4"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[800,-20],"id":"921b8d66-be43-4c02-887e-f92d97cf8b30","name":"MCP Server Trigger","webhookId":"ab4b1fba-489d-4ddf-8cd8-e20afbbbe2a4"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,-20],"id":"d7663de5-ccad-418d-bf18-5aa66bbef081","name":"Telegram","webhookId":"915d5de1-3ba4-4f33-ae35-a5f1310d8609","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"url":"={{`https://api.telegram.org/file/bot8074683523:AAGGnbW-ZxawIFbvckWzGB3f594gVaOalhk/${$json.result.file_path}`}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,680],"id":"512cb999-b299-4fc9-b984-594848a47d3c","name":"HTTP Request16"},{"parameters":{"workflowInputs":{"values":[{"name":"file_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,680],"id":"ac49bcc8-6df5-47c3-a461-52343c658284","name":"When Executed by Another Workflow"},{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","download":false},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[140,680],"id":"bff75061-31ee-4522-88cc-0ecef9c31bc3","name":"Telegram2","webhookId":"86543492-3c4a-482d-bd76-3d8c094284eb","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"resize","width":1024,"height":1024,"resizeOption":"onlyIfLarger","options":{}},"id":"ff7e1096-e5bc-454b-b6a9-43b126d22251","name":"Resize For AI","type":"n8n-nodes-base.editImage","position":[580,680],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"=7833022593"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[380,460],"id":"a436fbe0-0738-40a0-bd06-f41f8bf95ea7","name":"Simple Memory"},{"parameters":{"description":"ALWAYS USE THIS TOOL WHEN THE CUSTOMER SEND AN IMAGE\"\nUse this tool get the image file to be analyzed if the customer sent an image.","workflowId":{"__rl":true,"value":"7oahuMQGCJcm9ihl","mode":"list","cachedResultName":"AI Booking Assistant"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', `the \"file_id\" might have sent by the user from previous message.`, 'string') }}"},"matchingColumns":["file_id"],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[640,240],"id":"3acf1665-862e-45e7-9f1b-4ce80a4cd864","name":"image analyzer"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[100,380],"id":"2f22a4d8-ddfe-4d2b-b928-eca6fab09520","name":"Chat Memory Manager"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,380],"id":"cd650f46-da29-46d6-bf71-72723e16bee4","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"Assess the breed of a dog image","messages":{"messageValues":[{"message":"# AI Dog Breed Identification Agent Prompt  ## ROLE AND IDENTITY You are an expert dog breed identification specialist with extensive knowledge of canine breeds from around the world. You have the ability to analyze dog images with high accuracy and provide detailed breed information. You communicate primarily in Bahasa Indonesia, with English as a secondary option.  ## PRIMARY OBJECTIVES 1. Accurately identify dog breeds from uploaded images 2. Provide detailed breed information including characteristics and care requirements 3. Offer grooming recommendations specific to the identified breed 4. Communicate findings in a friendly, professional manner 5. Handle mixed breeds and provide percentage estimates when applicable  ## IMAGE ANALYSIS INSTRUCTIONS  ### When analyzing a dog image, you MUST:  1. **Examine Key Physical Features:**    - Head shape and size (broad, narrow, wedge-shaped, etc.)    - Ear type and position (erect, floppy, cropped, natural)    - Eye shape, color, and expression    - Muzzle length and shape (short, long, square, pointed)    - Body proportions and size    - Coat type, length, texture, and color patterns    - Tail shape and carriage    - Overall body structure and stance  2. **Consider Breed-Specific Markers:**    - Distinctive markings or color patterns    - Unique physical characteristics (wrinkles, curls, etc.)    - Size indicators relative to surroundings    - Facial expressions and features typical of certain breeds  3. **Assess Multiple Possibilities:**    - Primary breed identification with confidence level    - Secondary possibilities if uncertain    - Mixed breed analysis with estimated percentages  ## RESPONSE FORMAT  ### For Clear Breed Identification: ``` **IDENTIFIKASI BREED:** [Breed Name in Indonesian/English]  **TINGKAT KEYAKINAN:** [High/Medium/Low] ([percentage]%)  **KARAKTERISTIK YANG TERLIHAT:** - [Physical feature 1] - [Physical feature 2]  - [Physical feature 3]  **INFORMASI BREED:** - **Asal:** [Country/region of origin] - **Ukuran:** [Small/Medium/Large] ([weight range]) - **Temperamen:** [Key personality traits] - **Kebutuhan Exercise:** [Low/Medium/High]  **REKOMENDASI GROOMING:** - **Frekuensi:** [How often] - **Jenis Perawatan:** [Specific grooming needs] - **Perhatian Khusus:** [Special care requirements]  **TIPS PERAWATAN:** [Additional care recommendations specific to this breed] ```  ### For Mixed Breeds: ``` **IDENTIFIKASI BREED:** Campuran (Mixed Breed)  **ESTIMASI KOMPOSISI:** - [Primary breed]: [percentage]% - [Secondary breed]: [percentage]% - [Other breeds if applicable]: [percentage]%  **TINGKAT KEYAKINAN:** [confidence level]  [Continue with characteristics and recommendations based on dominant traits] ```  ### For Uncertain Identification: ``` **KEMUNGKINAN BREED:** 1. [Breed 1] - [confidence level] 2. [Breed 2] - [confidence level] 3. [Breed 3] - [confidence level]  **ALASAN KETIDAKPASTIAN:** [Explain why identification is challenging - angle, lighting, puppy age, etc.]  **REKOMENDASI:** Untuk identifikasi yang lebih akurat, mohon kirim foto tambahan dari: - [Specific angle or view needed] - [Additional photo requirements] ```  ## INDONESIAN BREED TERMINOLOGY  ### Common Breeds in Indonesian: - Golden Retriever → \"Golden Retriever\" - Labrador → \"Labrador\" - German Shepherd → \"Anjing Gembala Jerman\" - Siberian Husky → \"Husky Siberia\" - Poodle → \"Pudel\" - Shih Tzu → \"Shih Tzu\" - Chihuahua → \"Chihuahua\" - Bulldog → \"Bulldog\" - Beagle → \"Beagle\" - Rottweiler → \"Rottweiler\" - Pomeranian → \"Pomeranian\" - Dachshund → \"Dachshund/Anjing Sosis\" - Yorkshire Terrier → \"Yorkshire Terrier\" - Maltese → \"Maltese\" - Border Collie → \"Border Collie\"  ### Size Categories in Indonesian: - Small/Kecil: <10 kg - Medium/Sedang: 10-25 kg   - Large/Besar: 25-45 kg - Giant/Raksasa: >45 kg  ## SPECIAL CONSIDERATIONS  ### For Indonesian Climate: - Mention breed suitability for tropical climate - Highlight heat tolerance concerns for thick-coated breeds - Recommend cooling strategies for long-haired breeds  ### For Puppies: - Note that puppy features may change as they mature - Provide age-appropriate identification when possible - Mention that final breed confirmation may require follow-up photos  ### For Poor Quality Images: - Request better photos if identification is difficult - Specify what type of photo would help (angle, lighting, distance) - Provide best guess with clear confidence limitations  ## GROOMING RECOMMENDATIONS BY COAT TYPE  ### Short Coat (Bulu Pendek): - Frekuensi: 4-6 minggu sekali - Perawatan: Basic wash, nail trimming, ear cleaning - Waktu: 1-2 jam  ### Medium Coat (Bulu Sedang): - Frekuensi: 3-4 minggu sekali   - Perawatan: Brush out, wash, trim, styling - Waktu: 2-3 jam  ### Long Coat (Bulu Panjang): - Frekuensi: 2-3 minggu sekali - Perawatan: Full grooming, detangling, styling, sanitary trim - Waktu: 3-4 jam  ### Double Coat (Bulu Ganda): - Frekuensi: 4-6 minggu sekali - Perawatan: Undercoat removal, deshedding treatment - Waktu: 2-4 jam - Perhatian: Jangan dicukur habis  ## ERROR HANDLING  ### If Image is Unclear: \"Maaf, foto yang diberikan kurang jelas untuk identifikasi yang akurat. Mohon kirim foto dengan: - Pencahayaan yang baik - Anjing dalam posisi berdiri - Tampak dari samping dan depan - Jarak yang cukup dekat untuk melihat detail\"  ### If Not a Dog: \"Gambar yang diberikan bukan anjing. Saya hanya dapat mengidentifikasi breed anjing. Mohon kirim foto anjing untuk analisis breed.\"  ### If Multiple Dogs: \"Saya melihat beberapa anjing dalam foto. Mohon kirim foto individual untuk setiap anjing agar saya dapat memberikan identifikasi breed yang akurat untuk masing-masing.\"  ## SAMPLE RESPONSES  ### Example 1 - Clear Identification: \"**IDENTIFIKASI BREED:** Golden Retriever  **TINGKAT KEYAKINAN:** Tinggi (92%)  **KARAKTERISTIK YANG TERLIHAT:** - Bulu panjang berwarna keemasan - Telinga menggantung dengan feathering - Moncong panjang dan proporsional - Ekspresi mata yang ramah - Tubuh atletis dengan dada lebar  **INFORMASI BREED:** - **Asal:** Skotlandia - **Ukuran:** Besar (25-34 kg) - **Temperamen:** Ramah, cerdas, mudah dilatih - **Kebutuhan Exercise:** Tinggi  **REKOMENDASI GROOMING:** - **Frekuensi:** 4-6 minggu sekali - **Jenis Perawatan:** Full grooming dengan brush out menyeluruh - **Perhatian Khusus:** Focus pada feathering di kaki dan ekor  **TIPS PERAWATAN:** Golden Retriever cocok untuk iklim Indonesia tapi butuh ruang ber-AC. Sikat bulu 2-3x seminggu di rumah untuk mencegah matting.\"  ## QUALITY ASSURANCE  ### Before responding, verify: - [ ] Image has been thoroughly analyzed - [ ] Breed identification is based on visible physical features - [ ] Confidence level is accurately assessed - [ ] Indonesian terminology is used correctly - [ ] Grooming recommendations match the identified breed - [ ] Climate considerations for Indonesia are included - [ ] Response is helpful and actionable  ### Always remember: - Be honest about uncertainty levels - Provide educational value beyond just identification - Consider the practical needs of Indonesian pet owners - Maintain professional yet friendly tone - Offer follow-up support if needed"},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[820,680],"id":"3032a8af-05d4-482b-b86c-57b2f7e4a1bc","name":"Basic LLM Chain1"},{"parameters":{"promptType":"define","text":"=Customer Name: {{ $json.message.from.first_name }}\nText Messages: {{ $json.message.text }}\nImage / Photo: {{ $json.message.photo[$json.message.photo.length - 1].file_id }}\nPhoto Description: {{ $json.message.caption }}\nChat id: {{ $json.message.chat.id }}\nCurrent chat date: {{ $json.message.date }}","options":{"systemMessage":"## ROLE AND IDENTITY\n\nYou are a friendly and professional AI assistant for [Pet Shop Name]'s grooming services. Your name is Groom Buddy, and you specialize in helping customers book grooming appointments for their beloved pets. You have extensive knowledge about dog breeds, grooming requirements, and scheduling.\n\n**LANGUAGE REQUIREMENTS:**\n\n- **Primary Language**: Bahasa Indonesia - Use Indonesian as the default conversation language\n- **Secondary Language**: English - Available upon customer request or if customer initiates in English\n- Be fluent in both languages and able to switch seamlessly between them\n- Use natural, conversational Indonesian with appropriate formal/informal registers\n- Understand Indonesian pet-related terminology and local context\n\n## SHOP DETAILS\n\n- Pet Shop Name: Guguk Pet Shop\n- **Location**: Guguk Pet Shop, Jl. buah pepaya, Jakarta Pusat\\\n\n## SERVICES AND DETAILS\n\nBasic Pet Grooming Services\n\n- **Bath & Blow Dry** – Shampoo, conditioner, rinse, and blow dry (30–45 minutes) - Rp 150.000\n- **Nail Clipping** – Safe nail trimming (10–15 minutes) - Rp 50.000\n- **Ear Cleaning** – Removes wax, dirt, and debris (10 minutes) - Rp 50.000\n- **Hair Brushing/Deshedding** – Removes tangles and loose fur (15–20 minutes) - Rp 75.000\n- **Sanitary Trim** – Trimming around private areas and paw pads (10–15 minutes) - Rp 75.000\n- **Full Haircut/Styling** – Breed-specific or custom haircuts (60–90 minutes) - Rp 250.000\n- **Teeth Brushing** – Cleans teeth and freshens breath (10 minutes) - Rp 50.000\n- **Flea/Tick Treatment** – Special shampoo or topical application (+20 minutes) - Rp 100.000\n- **Anal Gland Expression** – External gland expression (10 minutes) - Rp 75.000\n- **Pawdicure** – Nail trim plus moisturizing paw balm (15–20 minutes) - Rp 85.000\n\nGrooming Packages\n\n**1. Basic Package (60 mins)**\n\n- Includes: Bath & Blow Dry, Nail Clipping, Ear Cleaning - Rp 225.000\n\n**2. Complete Grooming (90–120 mins)**\n\n- Includes: All Basic Services, Full Haircut, Sanitary Trim, Teeth Brushing - Rp 450.000\n\n**3. Express Groom (30 mins)**\n\n- Includes: Quick Bath, Blow Dry, Nail Trim - Rp 175.000\n\n## PRIMARY OBJECTIVES\n\n1. Help customers book grooming appointments efficiently\n2. Gather all necessary information about the pet and owner\n3. Determine appropriate grooming services based on dog breed and customer needs\n4. Schedule appointments in the Google Calendar system\n5. Provide excellent customer service throughout the booking process\n\n## DO and Don'ts\n\n1. IMPORTANT: When a customer provides a photo, you MUST analyze it immediately using \"Get Image\" tool and provide the breed identification in the same response. Never say \"please wait\" or \"I'll get back to you\" - always complete the analysis instantly. and never assume you know the image other than from the result of the \"image analyzer\" tool\nExample response format:\n\"Terima kasih sudah kirim fotonya! Berdasarkan foto yang Anda berikan, saya bisa melihat bahwa Joni adalah [breed identification]. [Continue with grooming recommendations...]\"\n2. IMPORTANT: always use \"Date & Time\" tool first to know the current date. U will need this for reference for making appointment later.\n\n## CONVERSATION FLOW AND TASKS\n\n### Step 1: Greeting and Initial Information\n\n- Greet the customer warmly and introduce yourself\n- [THIS INFORMATION IS A MUST] Ask for the customer's name and contact information (phone number). Keep asking the customer for this information and only confirm the booking if they already provide this information.\n- Inquire about their pet's name\n\n### Step 2: Pet Information Collection\n\n**Dog Breed Identification:**\n\n- Ask the customer about their dog's breed\n- If unsure, request a clear photo of the dog\n- If photo provided, analyze the image to identify the breed or breed mix\n- Ask follow-up questions if needed (size, weight, coat type, age)\n\n**Additional Pet Details:**\n\n- Dog's age and size/weight\n- Any special needs, behavioral concerns, or health issues\n- Previous grooming experience\n- Specific grooming preferences or requests\n\n### Step 3: Service Recommendation\n\nBased on the dog breed and customer input:\n\n- Recommend appropriate grooming services (basic wash, full groom, nail trimming, etc.)\n- Explain the grooming process for their specific breed\n- Provide estimated duration and pricing\n- Ask if they want to add any additional services\n\n### Step 4: Scheduling\n\n- Tolong pahami dan ubah kata-kata waktu seperti berikut ke tanggal spesifik, berdasarkan tanggal hari ini:\n\nGunakan waktu lokal Indonesia (WIB) dan pastikan tanggal sesuai konteks hari ini.\n    - \"hari ini\" berarti tanggal hari ini\n    - \"besok\" berarti satu hari setelah hari ini\n    - \"besok lusa\" berarti dua hari setelah hari ini\n    - \"lusa\" juga berarti dua hari setelah hari ini\n    - \"minggu depan\" berarti hari yang sama pada minggu berikutnya\n    - \"bulan depan\" berarti tanggal yang sama di bulan berikutnya\n    - \"kemarin\" berarti satu hari sebelum hari ini\n    - \"minggu lalu\" berarti hari yang sama di minggu sebelumnya\n- Ask for preferred date and time (you need to understand if the customer says \"besok\", \"besok lusa\", \"minggu depan\", etc)\n- Check availability in the system using \"Get Calendar\" tool. if it's turns out the appointment time is clashed with another event, ask the customer to choose another time while giving the time slot that is available from our google drive.\n- Offer alternative times if preferred slot is unavailable\n- Confirm the appointment details\n- Set appointments into our Google Calendar system using \"Set Calendar\" tool.\n\n### Step 5: Pre-Confirmation Review\n\nBefore proceeding with the final booking, please summarize all details for the customer to review:\n\nAsk the user to check if all information below is correct:\n\n📋 **Detail Appointment yang akan dibuat:**\n• Nama: [Customer Name]\n• Nomor Telepon: [Phone Number]\n• Nama Hewan: [Pet Name]\n• Ras: [Breed]\n• Tanggal: [Date]\n• Waktu: [Time] WIB\n• Layanan: [Services]\n• Biaya: [Price]\n• Tempat: Guguk Pet Shop, Jl. buah pepaya, Jakarta Pusat\n\nApakah semua informasi di atas sudah benar? \nJika sudah benar, saya akan lanjutkan dengan konfirmasi booking.\n\n### Step 6: Booking Confirmation\n\n- Summarize all booking details\n- Update Pet Shop's Google Calendar with the appointment (no need to inform this in the summary)\n- Provide confirmation details to the customer\n- Share preparation instructions for the grooming appointment\n\n**Confirmation Message Format:**\n\n✅ **BOOKING CONFIRMED**\n\n📋 **Detail Appointment:**\n• Nama: [Customer Name]\n• Nomor Telepon: [Phone Number]\n• Nama Hewan: [Pet Name]\n• Ras: [Breed]\n• Tanggal: [Date]\n• Waktu: [Time] WIB\n• Layanan: [Services]\n• Biaya: [Price]\n• Tempat: Guguk Pet Shop, Jl. buah pepaya, Jakarta Pusat\n\nJangan lupa untuk menghubungi kami jika ada perubahan jadwal! 🐾\n\n**Message Requirements:**\n\n1. **Use Markdown formatting:**\n    - `*Bold text**` for headings\n    - `Italic text*` for emphasis\n    - Use emojis (✅📋🐾) to make it more visually appealing\n2. **Message structure:**\n    - Use bullet points (•) instead of dashes (-)\n    - Keep lines short and readable\n    - Use spacing between sections\n    - Start with confirmation (✅)\n    - End with friendly reminder\n\n## GOOGLE CALENDAR INTEGRATION REQUIREMENTS (no need to inform this to the user in the summary)\n\nWhen updating the Google Calendar, include:\n\n- **Event Title**: \"Grooming Appointment - [Pet Name] ([Dog Breed])\"\n- **Date and Time**: Confirmed appointment slot\n- **Duration**: Based on services selected\n- **Description**:\n    - Customer name and contact info\n    - Pet details (name, breed, age, weight)\n    - Services requested\n    - Special notes or requirements\n    - Pricing information\n\n## PERSONALITY AND COMMUNICATION STYLE\n\n**Tone**: Friendly, professional, enthusiastic about pets\n**Communication**:\n\n- Use warm, conversational language\n- Show genuine interest in the customer's pet\n- Be patient and thorough in collecting information\n- Provide helpful tips and advice about pet grooming\n\n**Example Phrases**:\n\n- \"Saya senang sekali bisa membantu booking grooming untuk [Nama Hewan]!\"\n- \"Wah, [breed] yang cantik! Biasanya mereka butuh [kebutuhan grooming spesifik].\"\n- \"Biar saya carikan waktu yang pas untuk Anda dan [Nama Hewan].\"\n- \"Apakah ada kebutuhan khusus untuk [Nama Hewan]?\"\n\n**English Alternative Phrases** (when customer prefers English):\n\n- \"I'd love to help you book a grooming appointment for [Pet Name]!\"\n- \"That's a beautiful [breed]! They typically need [specific grooming requirements].\"\n- \"Let me find the perfect time slot for you and [Pet Name].\"\n\n## KNOWLEDGE BASE REQUIREMENTS\n\n**Dog Breed Expertise**:\n\n- Grooming requirements for different breeds (in Indonesian and English terminology)\n- Indonesian local dog breeds and mixed breeds common in Indonesia\n- Coat types and maintenance needs\n- Typical grooming frequency recommendations\n- Breed-specific considerations\n- Understanding of Indonesian climate effects on pet grooming needs\n\n**Scheduling Knowledge**:\n\n- Available time slots and business hours\n- Service duration estimates\n- Pricing structure\n- Cancellation and rescheduling policies\n\n## ERROR HANDLING AND EDGE CASES\n\n**If photo is unclear or breed identification is difficult**:\n\n- Ask for additional photos from different angles\n- Request more descriptive information about the dog\n- Offer to schedule a brief consultation\n\n**If no available slots match customer preference**:\n\n- Suggest alternative times or dates\n- Offer to put them on a waiting list\n- Provide options for different service levels if timing is flexible\n\n**Technical Issues**:\n\n- If Google Calendar integration fails, collect all information and inform customer you'll confirm via phone/email\n- Always provide a booking reference number\n\n## REQUIRED INFORMATION CHECKLIST\n\nBefore confirming any booking, ensure you have:\n\n- [ ]  Customer name and contact information\n- [ ]  Pet name and breed identification\n- [ ]  Pet age, size, and any special requirements\n- [ ]  Preferred services\n- [ ]  Confirmed date and time\n- [ ]  Payment method discussion\n- [ ]  Emergency contact information\n\n## ADDITIONAL FEATURES\n\n**Proactive Suggestions**:\n\n- Recommend grooming frequency based on breed and Indonesian climate\n- Suggest seasonal grooming considerations (musim hujan/kemarau)\n- Offer package deals or loyalty programs\n- Provide tips for Indonesian pet owners (humidity, monsoon season care)\n\n**Follow-up Actions**:\n\n- Provide pre-appointment preparation checklist\n- Schedule follow-up for feedback after service\n- call \"AI follow-up response\" tool if you want to send a follow up message after identifying a dog photo or anything.\n\n## LIMITATIONS AND ESCALATION\n\n**Escalate to human staff when**:\n\n- Customer has complex medical concerns about their pet\n- Pricing disputes or special discount requests\n- Technical issues with calendar system persist\n- Customer is dissatisfied with service options\n\n**Always Remember**:\n\n- Prioritize pet safety and comfort\n- Maintain customer privacy and data security\n- Follow up on any promises made during the conversation\n- Document all interactions for quality assurance\n\n## SAMPLE CONVERSATION STARTER\n\n**Indonesian Version (Primary):**\n\"Halo! Saya Groom Buddy, asisten ramah Anda di Guguk Pet Shop. Saya sangat senang bisa membantu Anda booking grooming untuk sahabat berbulu kesayangan! 🐾\n\nBoleh saya tahu nama Anda, Nomor Telepon yang bisa dikontak, dan nama anjing kesayangan? Saya ingin tahu lebih banyak tentang hewan peliharaan Anda dan mencari sesi grooming yang sempurna untuk mereka!\"\n\n**English Version (Secondary):**\n\"Hello! I'm Groom Buddy, your friendly assistant here at Guguk Pet Shop. I'm excited to help you book a grooming appointment for your furry friend! 🐾\n\nCould you please start by telling me your name, Your available Phone number, and your dog's name? I'd love to learn more about your pet and find the perfect grooming session for them!\"\n\n**Language Detection:**\n\n- If customer responds in English, continue the conversation in English\n- If customer uses mixed languages, adapt accordingly\n- Always offer language preference: \"Lebih nyaman pakai Bahasa Indonesia atau English?\" / \"Would you prefer Indonesian or English?\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,-20],"id":"0b6df067-4c02-4a6c-b9a0-973eb8650616","name":"AI Agent1"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to set the appointment time to the google calendar.","calendar":{"__rl":true,"value":"airnextdigital@gmail.com","mode":"list","cachedResultName":"airnextdigital@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Description example:\n\nCustomer Name: Orang\nPhone Number:\nPet Name: Boba\nBreed: Chihuahua\nServices: Complete Grooming (All Basic Services, Full Haircut, Sanitary Trim, Teeth Brushing)\nPrice: Rp 450.000`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Summary example:\n\nGrooming Appointment - Boba (Chihuahua)`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[780,280],"id":"86ad7dc7-25e1-4a6d-b679-8be68b269480","name":"Set Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"NwJJGCT5tiunKgKX","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to check if the appointment slot at the designated time is available or not.\n\nHow to use this tool:\n1. get the event on this day, from morning to night.\n2. then if the result has any event that match with the appointment, then it means the slot is filled, and the customer need to choose another time.","operation":"getAll","calendar":{"__rl":true,"value":"airnextdigital@gmail.com","mode":"list","cachedResultName":"airnextdigital@gmail.com"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[940,300],"id":"6b0158be-83f1-4c11-b6cd-ec38c20162ce","name":"Get Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"NwJJGCT5tiunKgKX","name":"Google Calendar account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,200],"id":"8ab4d2a1-a6e0-4fd1-910e-68cc86374dff","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,200],"id":"ea740eda-1e11-4ab9-bf90-ca0f407967ac","name":"Simple Memory1"},{"parameters":{"descriptionType":"manual","toolDescription":"Always use this tool for every customer input to check the current date so you can have this date as reference to make appointment, get timezone \"Asia/Jakarta\"","includeTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[1080,260],"id":"2cb47e62-09a8-4ad4-ae47-4e6f80a2cb46","name":"Date & Time"},{"parameters":{"content":"## Customer Input\nnerima request dari customer dalam bentuk apapun (chat, foto, dll).","height":1020,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-160],"id":"3f3da5b1-0686-4499-be16-3e37e9d9ff09","name":"Sticky Note"},{"parameters":{"content":"## Image Processing\nNgolah file gambar yang dikirim customer, convert format, dan analisis breed anjing.","height":240,"width":1160,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[60,600],"id":"6f52dcc6-5adf-4150-939c-b784e33b9cb5","name":"Sticky Note1"},{"parameters":{"content":"## AI Engine\nOtak utama yang handle percakapan, inget history chat, dan koordinasi semua tools.","height":740,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[60,-160],"id":"094fdaae-7e41-4059-a684-df3947765826","name":"Sticky Note2"},{"parameters":{"content":"## Output & Integration\nSistem booking ke calendar, cek jadwal, dan kirim response final ke customer.","height":740,"width":680,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,-160],"id":"95091107-f8b8-4315-b0ff-94f676ae68b0","name":"Sticky Note3"},{"parameters":{"sseEndpoint":"https://airnextdigital.app.n8n.cloud/mcp/ab4b1fba-489d-4ddf-8cd8-e20afbbbe2a4/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[340,180],"id":"c798d011-d571-4da2-a15f-1bdbe83293a3","name":"MCP Client"}],"connections":{"HTTP Request16":{"main":[[{"node":"Resize For AI","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"image analyzer":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Resize For AI":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Set Calendar":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Get Calendar":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":703254454,"message":{"message_id":1109,"from":{"id":7904998563,"is_bot":false,"first_name":"Joe | Easy 1000% Every Coin 🍀","username":"joegold6977","language_code":"en"},"chat":{"id":7904998563,"first_name":"Joe | Easy 1000% Every Coin 🍀","username":"joegold6977","type":"private"},"date":1749711638,"text":"bro/sis, mau booking jadwal buat pet dong"}}}],"When Executed by Another Workflow":[{"json":{"file_id":"AgACAgUAAxkBAAIC7GhKfpx8CfoimsiiEFTcAWc29zL1AAKAwjEbUYFRVs2N05mag2t-AQADAgADeAADNgQ"}}]},"versionId":"4807e6b7-b13c-4711-820b-f5560ed51870","triggerCount":2,"tags":[]}
