AI Phone Store Chatbot
{"createdAt":"2025-06-16T11:13:28.485Z","updatedAt":"2025-06-23T04:35:23.000Z","id":"GbF7vQs3bqLA2Ido","name":"DONE - Split Bill","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-640,40],"id":"c4d4b4e4-6d83-40bb-9241-4468cb132e09","name":"Telegram Trigger","webhookId":"fc8e41a6-11a0-4550-8cad-d6ba0626bf1b","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[300,280],"id":"37f8edac-52c1-446c-90da-056fe00e7f7e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"id"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[60,20],"id":"9c24a270-c433-4635-928e-0ecbd41e1fbc","name":"OpenAI","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,20],"id":"f7490c30-39fe-400f-9468-21fff284c7f6","name":"Telegram","webhookId":"b751a0be-997b-40cc-a54c-10c72ea9c385","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"promptType":"define","text":"=Text Messages: {{ $json.message.text }} {{ $json.text }}\nImage / Photo: {{ $json.message.photo[$json.message.photo.length - 1].file_id }}\nPhoto Description: {{ $json.message.caption }}\nChat_id: {{ $('Telegram Trigger').item.json.message.chat.id }}","options":{"systemMessage":"Important:\nAll AI responses must be in Bahasa Indonesia, polite, and friendly.\n\nWhen a customer starts the chat:\n\nGreet the customer:\n\n\"Halo! Silakan kirim foto bill-nya dulu ya, nanti saya bantu hitungin total bayar masing-masing sesuai pesanan.\"\n\nWait for the bill image.\n\nAfter receiving the bill image:\n\nPass the bill image to the image analysis system (Prompt 2)\n\nExtract item names, quantities, prices, and tax percentage\n\nSend a bill summary to the customer in this format:\n\n\"Terima kasih! Ini hasil pembacaan bill-nya:\n\nAyam Goreng × 2 — Rp45.000\n\nKentang × 1 — Rp18.000\n\nEs Teh × 1 — Rp8.000\n\nPajak: 10%\n\nSekarang boleh kirim voice note siapa pesan apa ya. Contoh:\n'William makan ayam goreng, Jordan kentang, Thomas es teh.'\"\n\nWait for the voice note.\n\nOnce the voice note is received:\n\nConvert it to text via speech-to-text\n\nMap item names from the voice note to items from the bill flexibly.\n\nExample:\n\n\"Aqua\", \"air putih\" → \"Air Mineral\"\n\n\"Kentang Goreng\" → \"Kentang\"\n\netc.\n\nIf there are items left on the bill that haven’t been assigned to anyone based on the voice note, ask the customer about them.\n\nExample:\n\n\"Di bill masih ada item 'Sambal Tambahan' yang belum disebut. Mau dibagi ke siapa ya?\"\n\nWait for user response and update the item assignments accordingly.\n\nCalculate:\n\nTotal price per person based on matched items and quantities\n\nApply tax from the bill (or assume 10% if no tax found)\n\nSend total per person to the customer:\n\nExample:\n\n\"William bayar Rp90.000\nJordan bayar Rp18.000\nThomas bayar Rp8.000\n(Harga sudah termasuk pajak 10%)\"\n\nSend final breakdown via Telegram.\n\nReminder:\n\nOnly proceed to calculation when both bill image and voice note received.\n\nAlways use Bahasa Indonesia.\n\nSmartly map colloquial terms in voice note to bill items.\n\nIf unmatched items remain, politely ask who should pay for them.\n\nAlways send a bill summary preview after image analysis before requesting the voice note."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[340,60],"id":"77b20422-ef0b-4318-b929-4932c9701af0","name":"AI Agent"},{"parameters":{"sseEndpoint":"https://airnextdigital.app.n8n.cloud/mcp/b9a9068d-2a74-4cfe-917c-8785a8335227/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[580,260],"id":"dd61f7bd-f8d6-4224-86c8-4db9782e297a","name":"MCP Client"},{"parameters":{"resource":"file","fileId":"={{ $('When Executed by Another Workflow').item.json.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-420,400],"id":"38a28266-4e0b-44a6-8e11-5119eba0ff23","name":"Telegram1","webhookId":"73913c93-7549-4722-9009-f44ec280f40f","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"resize","width":1000,"height":1000,"resizeOption":"onlyIfSmaller","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-200,400],"id":"7b01e621-746d-485e-a0ad-48b603d04db7","name":"Edit Image"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[820,60],"id":"48aaea91-0950-492a-bdb3-134f1b19f809","name":"Telegram2","webhookId":"efae4c4c-db4d-4d4c-bc24-1205b3fca528","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-500,700],"id":"64537811-2793-47c0-8062-277b6b93b333","name":"Chat Memory Manager"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-700,700],"id":"bac9add5-c24d-484f-a8f0-67bb1c4f63c8","name":"When clicking ‘Execute workflow’"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=7833022593"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-500,880],"id":"22392e79-19c5-4149-b095-cb1df86ce72e","name":"Simple Memory1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[440,300],"id":"574a1cf3-5d58-4c0c-8e4d-feed44e4c5f4","name":"Simple Memory2"},{"parameters":{"path":"b9a9068d-2a74-4cfe-917c-8785a8335227"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-100,700],"id":"490f08cf-6b4a-4214-9a96-12633f9ffd52","name":"MCP Server Trigger","webhookId":"b9a9068d-2a74-4cfe-917c-8785a8335227"},{"parameters":{"description":"call this tool to analyze the bill photo","workflowId":{"__rl":true,"value":"GbF7vQs3bqLA2Ido","mode":"list","cachedResultName":"split bill"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', `file_id of the bill image.`, 'string') }}"},"matchingColumns":["file_id"],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[60,880],"id":"67ccdad3-e828-4e6d-a864-c93abd85cc6d","name":"Call n8n Workflow Tool"},{"parameters":{"workflowInputs":{"values":[{"name":"file_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-640,400],"id":"c68a09b6-4551-48b6-9e52-b57a7efad8b4","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b17849ea-bda3-4256-99f2-e9cf5750aa86","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-440,40],"id":"866e231a-46a8-4b16-980c-c3a9f70f3295","name":"If"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"**Purpose:**\n\nProcess a bill/receipt image, extract menu items, quantities, and prices, detect tax line, and return clean structured JSON.\n\n---\n\nYou will receive a photo of a bill/receipt.\n\nYour task is to extract the following information:\n\n- List of item names, quantities, and their respective **unit prices**\n    \n    Example:\n    \n    - Jukut × 1: Rp30.000\n    - Ayam Goreng × 2: Rp90.000 → unit price is Rp45.000\n    - Kentang × 1: Rp18.000\n\n**Important:**\n\nIf an item shows a quantity and a total price (e.g. `Banana Juice × 2 — Rp30.000`), assume `Rp30.000` is the total for both, and divide by the quantity to get the unit price (Rp15.000).\n\n- Detect if there’s any tax line (e.g., \"Tax\", \"Pajak\", \"Service Charge\") and its value or percentage.\n    \n    If no tax line is found, default tax to **10%**.\n    \n\n---\n\n- Return the result in this JSON format:\n\njson\nCopyEdit\n{\n  \"items\": [\n    { \"name\": \"Jukut\", \"quantity\": 1, \"price\": 30000 },\n    { \"name\": \"Ayam Goreng\", \"quantity\": 2, \"price\": 45000 },\n    { \"name\": \"Kentang\", \"quantity\": 1, \"price\": 18000 }\n  ],\n  \"tax_percentage\": 10\n}\n\n**Notes:**\n\n- Prices are in Indonesian Rupiah (Rp)\n- If price formatting contains dot/comma separators, normalize to plain integer (e.g. `Rp45.000` → `45000`)\n- Quantities should be detected if explicitly shown in the bill (e.g. `2x`, `2 pcs`, `× 2`, or `(2)`)\n- **If an item includes a quantity and a total price, divide total price by quantity to get the unit price**\n- If no quantity is written, default quantity to **1**\n- Item names should preserve exact spelling found on the bill for accurate matching\n- If multiple taxes found, sum them into `tax_percentage`\n- If only numeric tax found, convert to percentage relative to subtotal\n- Return only structured JSON — no explanations or extra text\n\n**Do not respond to the user — only extract and return structured JSON.**","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[20,400],"id":"2d78063c-ba45-4e57-9b33-cf68bd2986c4","name":"OpenAI1","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"content":"📌 Workflow: Bill Splitter AI Assistant via Telegram ✨\n\n📝 Process:\n1. Wait for customer to send a bill image via Telegram.\n2. Wait for customer to send a voice note listing orders per person.\n3. Convert voice note to text via Speech-to-Text (e.g. Whisper API).\n4. Extract item names & prices from bill image via OCR or image analysis tool.\n5. Flexibly map voice note item names to bill item names:\n   - \"Aqua\", \"air putih\" → \"Air Mineral\"\n   - \"Kentang Goreng\" → \"Kentang\"\n   - \"Teh Manis\" → \"Es Teh\"\n   - \"Nasi\" → \"Rice\"\n   (Add more as needed)\n6. Calculate total per person:\n   - Sum matched item prices per name.\n   - Apply tax from bill if detected, else default to 10%.\n7. Send final breakdown via Telegram:\n   Contoh:\n   William bayar Rp35.000  \n   Jordan bayar Rp50.000  \n   Thomas bayar Rp20.000  \n   (Harga sudah termasuk pajak 10%)\n\n✅ Rules:\n- AI must wait for both bill image + voice note before processing.\n- Voice note item names may differ from bill — map flexibly.\n- All replies must be polite and in Bahasa Indonesia.\n- AI never lists image URLs or raw file IDs.\n","height":640,"width":560},"type":"n8n-nodes-base.stickyNote","position":[-1340,-100],"typeVersion":1,"id":"47d49c63-49b4-4582-9b96-2be935c5dbd9","name":"Sticky Note"},{"parameters":{"content":"## Bill Analysis\nAnalisis foto bill untuk extract item names, quantities, prices, dan tax percentage.","height":280,"width":920,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-700,320],"typeVersion":1,"id":"bb2abb03-fa76-4dfd-ba11-182ef2927b63","name":"Sticky Note1"},{"parameters":{"content":"## AI Intelligence\nKoordinasi semua data, flexible mapping item names, dan calculate total per person.","height":560,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[260,-80],"typeVersion":1,"id":"24b5e06e-9da6-47d8-8211-395a30de600e","name":"Sticky Note2"},{"parameters":{"content":"##  Voice Processing\nConvert voice note jadi text pakai speech-to-text untuk extract siapa pesan apa.","height":360,"width":440,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-220,-80],"typeVersion":1,"id":"95307def-7e16-4515-9720-a9ecd848508e","name":"Sticky Note3"},{"parameters":{"content":"##  Input\nNerima foto bill dan voice note dari via Telegram untuk split bill calculation.","height":360,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-700,-80],"typeVersion":1,"id":"1696f17f-724f-4d8e-a3ba-ce9702fff63d","name":"Sticky Note4"},{"parameters":{"content":"## Response\nKirim breakdown pembayaran final ke customer dengan total per person including tax.","height":340,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","position":[740,-80],"typeVersion":1,"id":"366f74fd-0a7c-4430-ba66-b1bafe773797","name":"Sticky Note5"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"If":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2d4e84b3-fac8-42c2-b12b-45beb2742f80","triggerCount":2,"tags":[]}
