AI Quiz Maker for Study
{"createdAt":"2025-06-24T05:03:08.841Z","updatedAt":"2025-06-26T11:31:00.000Z","id":"0aLx2UlOYZAlvU19","name":"DONE - Quiz Maker","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-200,0],"id":"7c543404-b5ac-4a07-b74f-580fe9b9cb92","name":"Telegram Trigger","webhookId":"3bb1bbdd-320a-48ee-9e24-a448fca8e19e","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[680,0],"id":"66845204-199c-4bd4-b5ce-82e09fcd7889","name":"Telegram","webhookId":"4159ca85-4c61-417f-a29f-512a0645ea1b","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1100,200],"id":"8bdafa70-db08-4a76-9be3-e604595c2806","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $json.message.chat.id }}","message":"What is the quiz type?","responseType":"customForm","formFields":{"values":[{"fieldLabel":"question_type","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Multiple Choice"},{"option":"Essay"}]},"multiselect":true,"requiredField":true}]},"options":{"responseFormTitle":"Quiz Type","appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[280,0],"id":"a2b8ec6d-2a98-4245-a76c-43e6c6bf6eb1","name":"Telegram1","webhookId":"5cf16a5d-06a9-45b5-8f22-3e9843586b77","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Your Quiz generation has started...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,0],"id":"3e9fd4f0-4132-44a6-8a01-50c62fd4562e","name":"Telegram2","webhookId":"b60b90d9-0531-4f2c-8e25-6a08545f130b","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[840,0],"id":"e3ef0b25-d334-4233-b80b-1baa7ce045d5","name":"Extract from File"},{"parameters":{"promptType":"define","text":"=Hello, please help me make this material into quiz.\nMaterial: \"{{ $json.text }}\"\nquestion preference: \"{{ $('Telegram1').item.json.data.question_type[0] }} + {{ $('Telegram1').item.json.data.question_type[1] }}\"","options":{"systemMessage":"You are an AI assistant that creates professional, Google Docs–ready quizzes based on user-provided educational text.\n\n**Input:**\n\n- Educational content pasted as plain text (extracted from textbooks, lecture notes, or presentations).\n- The user specifies the preferred question type: **multiple choice, essay, or both**.\n\n**Task:**\n\n1. Analyze the provided text to identify key topics, core ideas, and important concepts.\n2. Based on the selected question type:\n    - **Multiple Choice:** Generate 10–15 questions, each with:\n        - 1 correct answer\n        - 3 plausible distractors\n        - Do **not** show the answer immediately under the question\n    - **Essay:** Generate 5–10 open-ended questions that encourage critical thinking and synthesis of the material.\n    - **Both:** Provide a mix (e.g., 10 multiple choice + 5 essay questions).\n3. Ensure the questions align with the text’s learning objectives and cover a variety of cognitive levels (recall, understanding, application).\n4. Format the output as a clean, structured quiz layout that is ready to paste into Google Docs. Include:\n    - A quiz title (e.g. \"Quiz: [Topic or Chapter Title]\")\n    - Numbered questions\n    - A clearly separated section for essay questions (if applicable)\n    - **Place the answer key on a new page**, clearly marked with correct answer letters and short explanations (for multiple choice)\n\n**Constraints:**\n\n- Keep language formal and academically appropriate.\n- Ensure grammar accuracy and topic relevance.\n- Avoid repeated or trivial questions.\n- Make sure there is a clear page break between the questions and the answer key.\n\n**Output Format:**\n\nTitle: Quiz – [User-defined Topic or Chapter Title]\n\n**Multiple Choice Questions:**\n\n1. [Question text]\n    \n    A. ...\n    \n    B. ...\n    \n    C. ...\n    \n    D. ...\n    \n\n...\n\n**Essay Questions:**\n\n1. [Open-ended question]\n2. ...\n\n---\n\n- **-- PAGE BREAK ---**\n\n**Answer Key (Multiple Choice):**\n\n1. B – [Explanation]\n2. C – [Explanation]\n    \n    ..."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1060,0],"id":"1494de85-8952-4b68-b1ea-99fc2c2f6c09","name":"AI Agent"},{"parameters":{"operation":"createFromText","content":"={{ $json.output }}","name":"quiz_tmp","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1EixKiMRBawvGDLg0LS4x1Hjrj-1YCZXV","mode":"list","cachedResultName":"tmp","cachedResultUrl":"https://drive.google.com/drive/folders/1EixKiMRBawvGDLg0LS4x1Hjrj-1YCZXV"},"options":{"convertToGoogleDocument":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1460,0],"id":"29020ddf-05d7-4bfd-adc9-b58128f75b4d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1620,0],"id":"cc02b8c1-e6c0-4bef-b1ec-b959aa3a48b7","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"fileName":"Quiz Question.pdf"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1780,0],"id":"563dc6a4-8fd5-4e6b-b498-06b7248e01a9","name":"Telegram3","webhookId":"58403a6e-3108-4ebf-8913-447242a2b531","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1940,0],"id":"86d78840-bdc8-4d90-aadc-6b88bb389484","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34b8c764-c246-4987-b8b4-58ce547f79a6","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,0],"id":"3bb7f997-cf8e-4f4c-8e47-d5ee51950e8f","name":"If"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Tolong kirimkan material dalam bentuk PDF.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[20,200],"id":"43578128-e9f5-4826-bbda-33982af2b552","name":"Telegram4","webhookId":"054ff362-c57d-4000-a5b5-8dbcea0fe89f","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"content":"## Document Input & Validation\nTerima PDF document via Telegram, validate file existence, dan route ke processing pipeline atau request file upload jika tidak ada document.","height":540,"width":460,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-260,-160],"typeVersion":1,"id":"d76f0663-d197-4514-9d06-e937771a2410","name":"Sticky Note"},{"parameters":{"content":"## Quiz Configuration\nInteractive form untuk select quiz type (Multiple Choice, Essay, atau Both) dengan custom Telegram form interface dan confirmation message.","height":540,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[240,-160],"typeVersion":1,"id":"e1d5b948-ad6e-4d07-abfc-a5f54ea7f165","name":"Sticky Note1"},{"parameters":{"content":"## Content Processing\nDownload PDF file dari Telegram, extract text content, dan prepare educational material untuk AI quiz generation.","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","position":[640,-160],"typeVersion":1,"id":"74cfd5cc-dea1-47d9-9743-3860218b375d","name":"Sticky Note2"},{"parameters":{"content":"## AI Quiz Generation\nProfessional educator AI generate comprehensive quiz dengan multiple choice questions, essay questions, dan answer key berdasarkan educational content.","height":540,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1020,-160],"typeVersion":1,"id":"0aba8c75-00bb-4b59-badd-7f54472085ec","name":"Sticky Note3"},{"parameters":{"content":"## Quiz Document Delivery\nCreate Google Docs dari AI output, convert ke PDF format, send ke user via Telegram, dan cleanup temporary files untuk storage management.","height":540,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1400,-160],"typeVersion":1,"id":"89f95950-21dc-45fe-9de2-379db00cec99","name":"Sticky Note4"},{"parameters":{"content":"## Key Insight: Educational Content Intelligence System\nWorkflow ini punya AI-Powered Quiz Generation Pipeline yang educational:\n\nInteractive Configuration - Custom Telegram form untuk quiz type selection\n\nSmart Content Analysis - AI analyze educational material untuk generate relevant questions\n\nProfessional Quiz Format - Generate structured quiz dengan answer key dan page breaks\n\nAutomated Delivery - PDF generation dengan cleanup untuk efficient file management","height":420,"width":360},"type":"n8n-nodes-base.stickyNote","position":[2180,-160],"typeVersion":1,"id":"8299944c-7018-4929-94d7-ff2f8b4d851c","name":"Sticky Note5"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"If":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":719335887,"message":{"message_id":1201,"from":{"id":7833022593,"is_bot":false,"first_name":"Tim","username":"TimothyWijaya","language_code":"en"},"chat":{"id":7833022593,"first_name":"Tim","username":"TimothyWijaya","type":"private"},"date":1750742473,"document":{"file_name":"Presentasi_Edukasi_Luas_dan_Keliling_Persegi_Panjang_Gaya_Digambar.pdf","mime_type":"application/pdf","file_id":"BQACAgUAAxkBAAIEsWhaNckXhDQ59lRk__-pVJh9gohqAAKGFgAC3XvZVpsDnD23w1_sNgQ","file_unique_id":"AgADhhYAAt172VY","file_size":16686599}}}}]},"versionId":"cbdb7225-c784-42ea-a3f6-083101f50493","triggerCount":1,"tags":[]}
