Barbershop Booking chatbot
{"createdAt":"2025-06-12T05:43:47.909Z","updatedAt":"2025-06-23T04:34:03.000Z","id":"Kkj2biNLNa4LyY5K","name":"DONE - Book Salon","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-500,600],"id":"d148aba1-5860-47e6-95fd-73104c748dd3","name":"Telegram Trigger","webhookId":"10d1488f-d04b-4b25-97fd-9d053c4f93bc","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"promptType":"define","text":"=Text Messages: {{ $json.message.text }}\nImage / Photo: {{ $json.message.photo[$json.message.photo.length - 1].file_id }}\nPhoto Description: {{ $json.message.caption }}\nChat id: {{ $json.message.chat.id }}\nCurrent chat date: {{ $json.message.date }}","options":{"systemMessage":"**Barbershop Details:**\n\nName: Barbar Barber\n\nLocation: Jl. Barbar 10 no.1, Jakarta Timur\n\n**Available Services:**\n\n- Regular Haircut — Rp50.000 (30 minutes)\n- Premium Haircut & Styling — Rp85.000 (45 minutes)\n- Hair Tattoo (Undercut Art) — Rp70.000 (40 minutes)\n- Kid’s Haircut — Rp35.000 (20 minutes)\n- Beard Trim & Shaving — Rp40.000 (20 minutes)\n- Hair Color — Starting Rp200.000 (60-90 minutes)\n- Hair Spa & Scalp Treatment — Rp120.000 (60 minutes)\n- Face Massage & Masker — Rp60.000 (30 minutes)\n\n**Important:**\n\nAll responses to customers must be written in Bahasa Indonesia, including explanations, hairstyle reasons, confirmations, and conversations.\n\n---\n\n**Operational Prompt:**\n\nWhen a customer contacts the AI assistant:\n\n1. If the message is a greeting like \"Halo\", \"Hi\", \"Selamat siang\", or similar, respond with this polite greeting:\n    - \"Halo! Terima kasih banyak sudah menghubungi Barbar Barber. Boleh saya tahu nama lengkap Anda, dan minta nomor telepon yang bisa saya hubungi ya? Senang sekali bisa bantu booking potong rambut Anda di sini! ✂️😊\"\n2. Ask what hairstyle they would like. If unsure, ask them to send a face photo for analysis.\n    \n    Example:\n    \n    - \"Gaya rambut seperti apa yang Anda inginkan? Kalau belum yakin, Anda bisa kirim foto wajah agar saya bantu rekomendasikan gaya yang cocok.\"\n3. If the customer uploads a face photo:\n    - Send the photo to the face analysis system.\n    - Detect:\n        - Face shape: oval, round, square, heart, diamond, rectangle, triangle\n        - Hair texture: straight, wavy, curly, coily, shaved\n4. Send the detection result to the hairstyle recommendation system.\n5. Return 3 hairstyle recommendations with reasons in Bahasa Indonesia.\n6. Send the recommendations to the customer:\n    - \"Dari analisis foto, berikut adalah rekomendasi gaya rambut yang cocok untuk Anda:\n        1. <Gaya 1>\n            - Alasan: <alasan 1>\n        2. <Gaya 2>\n            - Alasan: <alasan 2>\n        3. <Gaya 3>\n            - Alasan: <alasan 3>\n        \n        Silakan pilih gaya rambut yang Anda suka dari rekomendasi tadi. Jika Anda sudah cocok, saya akan bantu informasikan layanan yang cocok untuk gaya tersebut.\n        \n        Jika masih kurang yakin dengan model rambutnya, saya bisa bantu berikan contoh fotonya juga. Tinggal beri tahu saja ya!\"\n        \n7. Important:\n    - The AI must not offer to show hairstyle images unless:\n        - The customer has already received the hairstyle recommendations, and\n        - The customer explicitly indicates uncertainty about a style or requests a photo using phrases such as:\n            - \"Saya belum yakin\"\n            - \"Boleh lihat contohnya?\"\n            - \"Ada fotonya?\"\n            - \"Gimana ya modelnya?\"\n    - If none of these appear, do not mention or offer images.\n8. If the customer requests a photo:\n    - Trigger the image-sending tool to send sample hairstyle images directly to the chat channel.\n    - **AI must not list or mention image numbers or markdown like `!Image 1` etc.**\n    - After images are sent by the tool, AI replies politely with:\n        - \"Silakan lihat gaya rambut tersebut. Jika Anda sudah yakin, saya akan bantu proses booking-nya!\n            \n            Bagus sekali, <Customer Name>! Untuk gaya <Selected Hairstyle>, layanan yang cocok adalah <Mapped Service>. Boleh diinformasikan tanggal dan jam berapa Anda ingin booking-nya?\"\n            \n9. If the customer chooses a hairstyle (from recommendations or their request):\n    - Map Hairstyle to Service:\n        - Undercut, Slick Back, Mullet → Regular Haircut\n        - Scalp design styles → Hair Tattoo\n        - Other services → follow listed options\n    - Example reply:\n        - \"Untuk gaya Mullet, layanan yang cocok adalah Regular Haircut. Mau saya bantu proses booking-nya atau mau cek dulu untuk layanan yang lain?\"\n10. **Before asking for booking date and time, immediately run the Date & Time tool:**\n    - Operation: `Get Current Date`\n    - Include current time: `true`\n    - Timezone: `Jakarta`\n    - Store the result in a variable `currentDateTime`\n11. Ask for their preferred booking date and time.\n    \n    Example:\n    \n    - \"Boleh diinformasikan tanggal dan jam berapa Anda ingin booking-nya?\"\n        \n        Only proceed if both `booking_date` and `booking_time` are confirmed.\n        \n12. Once all details are complete (service, style, date, time), **explicitly ask for customer confirmation before finalizing booking.**\n    \n    Example:\n    \n    - \"Baik, berikut detail booking Anda:\n        - Nama: <Customer Name>\n        - Layanan: <Service Name> (Gaya: <Selected Hairstyle> jika ada)\n        - Tanggal: <Booking Date> (use formal date format)\n        - Waktu: <Booking Time> (use formal time format)\n        - Tempat: Barbar Barber, Jl. Barbar 10 no.1, Jakarta Timur\n        \n        Apakah Anda sudah yakin ingin memesan di jadwal ini?\"\n        \n13. Only if the customer confirms (e.g. \"Ya\", \"Oke\", \"Lanjutkan\") — run the **booking tool** with:\n    - customer_name: <Customer Name>\n    - phone_number: <Phone Number>\n    - selected_hairstyle: <Selected Hairstyle>\n    - service_name: service mapped to the selected style\n    - booking_date: <customer's selected date> (use formal date format)\n    - booking_time: <customer's selected time> (use formal time format)\n    - barbershop_name: Barbar Barber\n    - barbershop_location: Jl. Barbar 10 no.1, Jakarta Timur\n14. After booking is successful, immediately add the event to **Google Calendar**:\n    - Event title: \"Booking <Service Name> - <Customer Name>\"\n    - Description: Booking confirmed via chatbot\n    - Start: booking_date + booking_time\n    - End: based on service duration\n    - Location: Barbar Barber, Jl. Barbar 10 no.1, Jakarta Timur\n15. Then, send final polite booking confirmation:\n    - If Regular Haircut:\n        \n        \"Pemesanan Anda untuk layanan Regular Haircut dengan gaya <Selected Hairstyle> telah berhasil dilakukan!\n        \n        Detail Pemesanan:\n        \n        - Nama: <Customer Name>\n        - Layanan: Regular Haircut (Gaya: <Selected Hairstyle>)\n        - Tanggal: <Booking Date>\n        - Waktu: <Booking Time>\n        - Tempat: Barbar Barber, Jl. Barbar 10 no.1, Jakarta Timur\n        \n        Jika ada pertanyaan lain atau bantuan tambahan, jangan ragu ya. Terima kasih dan sampai jumpa di Barbar Barber!\"\n        \n    - If other services: adjust confirmation wording accordingly.\n\n**Additional notes:**\n\n- Always run Date & Time tool **immediately before asking for the customer's preferred booking date and time**.\n- Never process a booking or create a calendar event before the customer explicitly confirms.\n- AI must never mention image file names, markdown images, or numbered image lists in any customer reply.\n- All customer-facing responses must be polite, friendly, and in Bahasa Indonesia."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-80,600],"id":"4ab221cb-3b08-4e10-990b-8ad5f078e7f3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-60,800],"id":"c1a00bf3-ca21-4009-a25f-d0467130c617","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[60,800],"id":"13ca01b8-bd30-40b1-b82e-ddf2c0d42118","name":"Simple Memory"},{"parameters":{"sseEndpoint":"https://airnextdigital.app.n8n.cloud/mcp/7146e7fc-a24e-4ccc-9495-b75cfdeb7396/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[200,800],"id":"6292a11b-6cc8-47dc-b24f-8b074f996c83","name":"MCP Client"},{"parameters":{"path":"7146e7fc-a24e-4ccc-9495-b75cfdeb7396"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-660,800],"id":"bc2d0131-34f7-4a86-9f85-8f6428f62279","name":"MCP Server Trigger","webhookId":"7146e7fc-a24e-4ccc-9495-b75cfdeb7396"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[280,600],"id":"01e753e7-4b5d-4e10-83ec-efe4b47c806b","name":"Telegram","webhookId":"efae4c4c-db4d-4d4c-bc24-1205b3fca528","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"workflowInputs":{"values":[{"name":"context_id"},{"name":"file_id"},{"name":"hairstyle"},{"name":"chat_id"},{"name":"customer_name"},{"name":"start-time"},{"name":"end-time"},{"name":"booking_details"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-920,1420],"id":"f3d5af8a-66c0-4e39-b111-f534cddb9e84","name":"When Executed by Another Workflow"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.hairstyle.toLowerCase() }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1fqFNw1m5DrOJt5N8npGJwrJU8OVceOZT","mode":"list","cachedResultName":"Book Salon","cachedResultUrl":"https://drive.google.com/drive/folders/1fqFNw1m5DrOJt5N8npGJwrJU8OVceOZT"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-380,1740],"id":"9ceb8f20-f48e-4e06-bc39-b755853daca1","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[840,1660],"id":"b1f18811-bbc2-4e8f-94b6-712ebd58da85","name":"Chat Memory Manager"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[640,1660],"id":"064dee85-afad-4d66-9bad-3d77946575e8","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"=7833022593"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[860,1840],"id":"fdacb78f-ee2f-4751-be86-dbcf292bd97c","name":"Simple Memory1"},{"parameters":{"description":"call this tool to analyze person face and recommend some hairstyles fit for the customer.\n\ncontext_id: 1","workflowId":{"__rl":true,"value":"Kkj2biNLNa4LyY5K","mode":"list","cachedResultName":"hairstyle"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context_id":"=1","file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"context_id","displayName":"context_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hairstyle","displayName":"hairstyle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-680,960],"id":"db1e45cb-d852-40cf-aaa4-93ba5b759916","name":"hairstyle analyzer"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.context_id }}","rightValue":"1","operator":{"type":"string","operation":"equals"},"id":"288a91c9-e766-40eb-aa75-02c9ab7fd116"}],"combinator":"and"},"renameOutput":true,"outputKey":"analyze"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d38e1682-f7c8-4f33-ab78-6bfba4549eb3","leftValue":"={{ $json.context_id }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get reference"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c1d5dda-f3ea-4404-8425-e514d9e250e1","leftValue":"={{ $json.context_id }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"booking"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-680,1420],"id":"77b55134-203c-4e09-95a9-138f86257776","name":"Switch"},{"parameters":{"promptType":"define","text":"hairstyle analyst","messages":{"messageValues":[{"message":"Note: AI must respond in Bahasa Indonesia.\n\nHairstyles available:\n\nUndercut\n\nSlick Back\n\nMullet\n\nWhen a face photo is received from the customer:\n\nDetect the face shape, choose one of the following:\n\noval\n\nround\n\nsquare\n\nheart\n\ndiamond\n\nrectangle\n\ntriangle\n\nThe AI must always assign one of these face shapes.\n\nDetect the hair texture, choose one of:\n\nstraight\n\nwavy\n\ncurly\n\ncoily\n\nshaved\n\nThe AI must always assign one of these hair textures.\n\nIf the customer does not provide a specific hairstyle preference, the AI should recommend based on popular hairstyles commonly found in Indonesian barbershops.\n\nThese are well-known and favored by Indonesian male customers and should be the base selection for recommendations.\n\nBased on the detected face shape, hair texture, and available hairstyles, generate 3 hairstyle recommendations.\n\nFor each recommendation, include:\n\nHairstyle name (in Bahasa Indonesia)\n\nReason (in Bahasa Indonesia) explaining why this hairstyle suits the detected face shape and hair texture\n\nSend the result back in this JSON format:\n\nbentuk_wajah: detected face shape\n\ntekstur_rambut: detected hair texture\n\nrekomendasi_gaya: a list of hairstyle recommendations (each with nama_gaya and alasan)\n\nExample JSON result format:\n\n{\n\"bentuk_wajah\": \"oval\",\n\"tekstur_rambut\": \"wavy\",\n\"rekomendasi_gaya\": [\n{\n\"nama_gaya\": \"Undercut\",\n\"alasan\": \"Gaya ini cocok untuk wajah oval karena memberi kesan tegas di area rahang dan cocok dengan rambut bergelombang.\"\n},\n{\n\"nama_gaya\": \"Slick Back\",\n\"alasan\": \"Slick Back cocok untuk wajah oval dengan rambut wavy karena memberikan tampilan rapi, elegan, dan cocok untuk acara formal maupun kasual.\"\n},\n{\n\"nama_gaya\": \"Mullet\",\n\"alasan\": \"Mullet cocok untuk wajah oval agar tampil lebih berkarakter, dengan potongan bagian samping tipis dan belakang lebih panjang.\"\n}\n]\n}\n\nAll explanations, reasons, and final customer-facing content must be written in Bahasa Indonesia.\n\nThis ensures AI recommendations feel culturally appropriate and relevant for the Indonesian market, following trends commonly requested at Indonesian barbershops."},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[60,1400],"id":"315a4d36-1d7b-454c-a415-97e48a4ee088","name":"Basic LLM Chain"},{"parameters":{"resource":"file","fileId":"={{ $('When Executed by Another Workflow').item.json.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-380,1400],"id":"2472956a-43d8-4256-9339-f1ec4c49102e","name":"Telegram1","webhookId":"73913c93-7549-4722-9009-f44ec280f40f","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"description":"call this tool find image from the hairstyle database that will be sent to customer as reference.\n\ncontext_id = 2","workflowId":{"__rl":true,"value":"Kkj2biNLNa4LyY5K","mode":"list","cachedResultName":"hairstyle"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context_id":"=2","hairstyle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hairstyle', ``, 'string') }}","chat_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chat_id', ``, 'string') }}"},"matchingColumns":["hairstyle"],"schema":[{"id":"context_id","displayName":"context_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"hairstyle","displayName":"hairstyle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-600,1080],"id":"5dc5615b-093f-4782-9b1c-749d3b3c706c","name":"hairstyle database"},{"parameters":{"operation":"resize","resizeOption":"onlyIfLarger","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-160,1400],"id":"16f0c6b6-4777-4e51-80da-5843dd686c77","name":"Edit Image"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,1740],"id":"cfaf994f-2d3c-4b50-a2fd-72153d0c0834","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"resource":"fileFolder","queryString":"=*","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,1740],"id":"12773645-5c8f-4e94-8026-ab25ff3a0232","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Switch').item.json.chat_id }}","binaryData":true,"additionalFields":{"caption":"={{ $('Switch').item.json.hairstyle }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[280,1740],"id":"995b6c90-b09f-411f-a5b8-7dc1da20bbf3","name":"Telegram2","webhookId":"e573fe42-1c61-4f6a-9c5c-7389f08d6640","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"airnextdigital@gmail.com","mode":"list","cachedResultName":"airnextdigital@gmail.com"},"timeMin":"={{ $('When Executed by Another Workflow').item.json['start-time'] }}","timeMax":"={{ $('When Executed by Another Workflow').item.json['end-time'] }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-380,2080],"id":"28819f62-fa10-4fae-a248-8488d67ce999","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"NwJJGCT5tiunKgKX","name":"Google Calendar account"}}},{"parameters":{"description":"Call this tool to process anything regarding of the booking","workflowId":{"__rl":true,"value":"Kkj2biNLNa4LyY5K","mode":"list","cachedResultName":"hairstyle"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context_id":"3","hairstyle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hairstyle', ``, 'string') }}","customer_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', ``, 'string') }}","start-time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start-time', `generate the booking date and time in ISO format with GMT+7.`, 'string') }}","end-time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end-time', `generate end time of the booking date and time in ISO format with GMT+7. according to the service duration.`, 'string') }}","booking_details":"={{ `Detail Pemesanan:\\n\\n- Nama: ${$fromAI('customer_name')}\\n- Layanan: Regular Haircut (Gaya: ${$fromAI('hairstyle')})\\n- Tanggal: ${$fromAI('booking_date')}\\n- Waktu: ${$fromAI('booking_time')} WIB` }}"},"matchingColumns":[],"schema":[{"id":"context_id","displayName":"context_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"hairstyle","displayName":"hairstyle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"customer_name","displayName":"customer_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start-time","displayName":"start-time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"end-time","displayName":"end-time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"booking_details","displayName":"booking_details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-460,1080],"id":"888c60ef-79e8-4097-9bb6-d93c9cf00216","name":"Booking"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"394c7ecd-0d42-4f3d-9ea7-b61f230024dc","leftValue":"={{ $json.available }}","rightValue":"=true","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,2080],"id":"62c33cc8-0bf8-4055-aba7-d6f37f67448d","name":"If"},{"parameters":{"calendar":{"__rl":true,"value":"airnextdigital@gmail.com","mode":"list","cachedResultName":"airnextdigital@gmail.com"},"start":"={{ $('When Executed by Another Workflow').item.json['start-time'] }}","end":"={{ $('When Executed by Another Workflow').item.json['end-time'] }}","additionalFields":{"description":"={{ $('When Executed by Another Workflow').item.json.booking_details }}","summary":"=Booking Appointment - {{ $('When Executed by Another Workflow').item.json.customer_name }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[60,2080],"id":"d15107b8-da83-4579-bdc2-2992440c9801","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"NwJJGCT5tiunKgKX","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"09524471-a17b-4103-b365-037c4ff3b2d1","name":"response","value":"the slot is unavailable","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,2260],"id":"58b0f250-5e0f-43ab-9306-4723aa574e2f","name":"Edit Fields"},{"parameters":{"descriptionType":"manual","toolDescription":"use this tool to get the current date and time","outputFieldName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}","options":{"timezone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timezone', ``, 'string') }}"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[-380,960],"id":"3c18c776-ff89-455b-9ce7-140650903909","name":"Date & Time"},{"parameters":{"assignments":{"assignments":[{"id":"312b3b02-191d-4979-a038-6a9ae52ad3c1","name":"response","value":"Image has been sent to the user.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,2180],"id":"347a2a37-cf3d-4df0-ba1e-daae06ebd961","name":"Edit Fields1"},{"parameters":{"content":"📌 Workflow: Barbar Barber AI Assistant Booking ✂️✨\n\n📝 Summary:\n- AI chatbot via Telegram + LangChain.\n- Detect hairstyle request or analyze face photo.\n- Recommend 3 hairstyle options (in Bahasa Indonesia).\n- Map hairstyle to service type.\n- Confirm preferred hairstyle and service.\n- Run Date & Time tool just before asking booking schedule.\n- Ask customer for preferred date & time.\n- Confirm booking details politely.\n- On confirmation:\n  → Run Booking tool (with formatted booking detail string).\n  → Add event to Google Calendar.\n\n🗓️ Booking Detail Format:\nDetail Pemesanan:\n- Nama: <customer_name>\n- Layanan: Regular Haircut (Gaya: <hairstyle>)\n- Tanggal: <booking_date>\n- Waktu: <booking_time> WIB\n\n✅ Notes:\n- All AI responses in Bahasa Indonesia.\n- Date & Time fetched before scheduling.\n- Booking proceeds ONLY after explicit customer confirmation.\n","height":600,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[620,960],"typeVersion":1,"id":"1a5213d3-5292-417a-a722-03f369e27bbb","name":"Sticky Note"},{"parameters":{"content":"## Customer Input\nTerima chat dan foto customer via Telegram untuk konsultasi gaya rambut barbershop.","height":760,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-740,480],"typeVersion":1,"id":"1b575446-aa60-484f-a42f-b3a129e7bc2a","name":"Sticky Note1"},{"parameters":{"content":"## AI Core System\nSistem AI utama yang handle conversation, memory, dan koordinasi semua tools barbershop.","height":480,"width":620,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-160,480],"typeVersion":1,"id":"6303048b-d832-47ae-9104-74769d399103","name":"Sticky Note2"},{"parameters":{"content":"## Face Analysis Engine\nAnalisis foto wajah customer untuk detect bentuk muka dan kasih rekomendasi hairstyle terbaik.","height":300,"width":1200,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-740,1300],"typeVersion":1,"id":"c49aeb41-3d97-407a-b5bb-251eb19cde4b","name":"Sticky Note3"},{"parameters":{"content":"## Visual Reference System\nDatabase foto referensi hairstyle yang dikirim ke customer kalau mau lihat contoh model.","height":300,"width":1000,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-540,1640],"typeVersion":1,"id":"c71b2b28-d3ed-41c2-a14d-c4d4956a20ab","name":"Sticky Note4"},{"parameters":{"content":"## Booking & Calendar\nSystem booking appointment dengan calendar conflict detection dan Google Calendar integration.","height":460,"width":1000,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-540,1980],"typeVersion":1,"id":"864c26aa-278d-4883-ac13-76f0b58d2fd0","name":"Sticky Note5"},{"parameters":{"content":"## **Flow Direction**\nCustomer Chat → AI Analysis → Face Detection → Reference Images → Booking Confirmation","height":120,"width":600},"type":"n8n-nodes-base.stickyNote","position":[620,480],"typeVersion":1,"id":"00631162-a17f-4fe4-84a6-635f1a4b8e86","name":"Sticky Note6"},{"parameters":{"content":"## **3 Context Smart Routing**\n**Context 1 - Analyze** \nCustomer kirim foto → Face analysis → 3 hairstyle recommendations\n\n**Context 2 - Reference**\nCustomer mau lihat contoh → Search Google Drive → Send reference photos\n\n**Context 3 - Booking** \nCustomer confirm style → Calendar check → Create appointment","height":240,"width":600},"type":"n8n-nodes-base.stickyNote","position":[620,640],"typeVersion":1,"id":"896dccf4-d1c1-4e4b-884e-cb7007b992e6","name":"Sticky Note7"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"hairstyle analyzer":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}],[{"node":"Google Calendar","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"hairstyle database":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Basic LLM Chain":{"main":[[]]},"Edit Image":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Booking":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Google Calendar":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Calendar1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Telegram2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"context_id":"1","file_id":"AgACAgUAAxkBAAIDDmhP-Hy2ZpqUlQ-UxVXLZZbs3fTSAAKmxTEbK2yAVr3kY6WePzPMAQADAgADeQADNgQ","hairstyle":null,"chat_id":null,"customer_name":null,"start-time":null,"end-time":null,"booking_details":null}}]},"versionId":"57f0b1f9-e505-42d4-95b1-ac5fecc35288","triggerCount":2,"tags":[]}
