Customer Payment vs Invoice Outstanding Analysis
{"createdAt":"2025-06-30T03:07:21.874Z","updatedAt":"2025-07-01T14:24:26.000Z","id":"sbbFLs1U3sxlSl3H","name":"DONE - Customer Payment vs Invoice Outstanding","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-60],"id":"a3692fcd-2cfd-4bbe-b49b-df1f41a39e55","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1atvQbduKZZ84VxHXbGLKqRDFdDgTmy0K7St9peDfSjI","mode":"list","cachedResultName":"invoice_data_dummy","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1atvQbduKZZ84VxHXbGLKqRDFdDgTmy0K7St9peDfSjI/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,-60],"id":"c8d4b543-6610-4390-acd0-ac8bb67739c0","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[380,-60],"id":"ff4c722c-7a8e-499e-8838-fae498bf8cf0","name":"Extract from File"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_invoice","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[540,-60],"id":"1ad791b0-c926-4b87-985b-53bef6e57106","name":"Aggregate"},{"parameters":{"resource":"fileFolder","queryString":"*","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1cc-eXiPDBUi9eo1fIFLzJR3lZzkpdmZP","mode":"list","cachedResultName":"bank_statement","cachedResultUrl":"https://drive.google.com/drive/folders/1cc-eXiPDBUi9eo1fIFLzJR3lZzkpdmZP"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[760,-60],"id":"ca8c5894-6a61-4869-845c-5d8fb0058cdf","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[920,-60],"id":"622f31d2-5343-4a6f-8bc7-d58ee5f06f10","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1080,-60],"id":"9dfc5a9c-00de-4937-9e35-74d55e5a5d81","name":"Extract from File1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_bank_statement","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1240,-60],"id":"274a4bc9-5dca-446e-b153-5ec48817c07c","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=Outstanding Invoice:  {{ $('Aggregate').item.json.data_invoice.toJsonString() }}\n\nBank Statement: {{ $('Aggregate1').item.json.data_bank_statement.toJsonString() }}\n\ncurrent date: {{ $json.currentDate }}","options":{"systemMessage":"=I want you to help match customer payments from a bank statement with their outstanding invoices.\n\n**Inputs:**\n\n- `Outstanding Invoices` json with:\n    - `Invoice ID`, `Customer Name`, `Amount Due`, `Due Date`\n- `Bank Statement` json with:\n    - `Payment Date`, `Sender Name`, `Amount Paid`\n\n**Your Task:**\n\n1. For each `Sender Name` in the bank statement, sum up their total `Amount Paid`. Don't too care about the reference.\n2. For each `Customer Name` in the invoice list, find all unpaid invoices and sort them by the nearest `Due Date` (ascending).\n3. Allocate the total payment from that sender to their invoices in order:\n    - Mark invoice as **Paid** if fully covered\n    - Mark as **Partial** if partially covered\n    - Stop when no funds are left\n    - If total payment exceeds total due, calculate and record the Overpaid Amount per customer.\n\n\n4. Update each invoice with:\n    - `Amount Paid`\n    - `Balance Remaining`\n    - `Status`: Paid / Partial / Unpaid / Overpaid\n\n**Output:**\n\n- A single updated Excel file of invoices with new columns:\n    - `Amount Paid`, `Balance Remaining`, `Status`"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1840,-60],"id":"56f1252d-c89f-49f0-ae08-49784d43218e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1860,80],"id":"89e8ac92-6cc4-45ce-bad0-9ac6a523105e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1atvQbduKZZ84VxHXbGLKqRDFdDgTmy0K7St9peDfSjI","mode":"list","cachedResultName":"invoice_data_dummy","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1atvQbduKZZ84VxHXbGLKqRDFdDgTmy0K7St9peDfSjI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1atvQbduKZZ84VxHXbGLKqRDFdDgTmy0K7St9peDfSjI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Invoice ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Invoice_ID__using_to_match_', `use <Outstanding Invoices> data as reference`, 'string') }}","Amount Paid":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount_Paid', ``, 'string') }}","Balance Remaining":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Balance_Remaining', ``, 'string') }}","Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', `\"Paid\", \"Partial\", \"Overpaid\" or \"Unpaid\" based on reconciliation`, 'string') }}"},"matchingColumns":["Invoice ID"],"schema":[{"id":"Invoice ID","displayName":"Invoice ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Customer Name","displayName":"Customer Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Amount Due","displayName":"Amount Due","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Due Date","displayName":"Due Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Amount Paid","displayName":"Amount Paid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Balance Remaining","displayName":"Balance Remaining","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2320,20],"id":"33bc102a-0389-4b34-b362-8215815d27f3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1520,-60],"id":"d0391077-a1f3-41d3-a659-5de305927eee","name":"Date & Time"},{"parameters":{"content":"## Workflow Initiation\nManual trigger untuk memulai proses reconciliation antara customer payments yang masuk dengan outstanding invoices yang belum terbayar.","height":420,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-160,-220],"typeVersion":1,"id":"42a83e37-16ea-42a4-9d0f-794cefda4827","name":"Sticky Note"},{"parameters":{"content":"## Outstanding Invoice Processing\nDownload dan extract invoice data spreadsheet yang berisi outstanding invoices dengan details customer names, amounts due, due dates, dan invoice IDs untuk matching process.","height":420,"width":500,"color":5},"type":"n8n-nodes-base.stickyNote","position":[180,-220],"typeVersion":1,"id":"38d927b8-449b-4648-b631-0ea19aab9498","name":"Sticky Note1"},{"parameters":{"content":"## Payment Data Collection\nAccess bank statement folder, download all payment files, extract transaction data dengan details sender names, payment amounts, dan payment dates untuk allocation analysis.","height":420,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","position":[720,-220],"typeVersion":1,"id":"1b39c585-c6f2-4ac4-81d1-7b9389fb4e5e","name":"Sticky Note2"},{"parameters":{"content":"## Timestamp Reference\nGenerate current date reference untuk aging analysis dan provide temporal context untuk AI payment allocation logic dengan proper due date calculations.","height":420,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1420,-220],"typeVersion":1,"id":"395fea7b-cdfa-4b0e-acde-b264d884930e","name":"Sticky Note3"},{"parameters":{"content":"## Smart Matching & Distribution\nAI Agent dengan sophisticated allocation logic untuk match customer payments dengan outstanding invoices, allocate funds by due date priority, calculate partial payments, handle overpayments, dan determine payment status.","height":420,"width":420,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1760,-220],"typeVersion":1,"id":"efef0239-014e-4a08-b294-421e219feabb","name":"Sticky Note4"},{"parameters":{"content":"## Reconciliation Results\nUpdate original invoice spreadsheet dengan payment allocation results termasuk amount paid, balance remaining, dan status classification untuk comprehensive accounts receivable tracking.","height":420,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2220,-220],"typeVersion":1,"id":"56f0d5c8-b6d6-4584-ab34-d2f495c98e9d","name":"Sticky Note5"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Date & Time":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5447ca76-e484-4e30-88fb-3faf6caa13dd","triggerCount":0,"tags":[]}
