Inventory vs Sales Reconciliation Analysis
{"createdAt":"2025-06-29T11:48:40.879Z","updatedAt":"2025-07-01T14:24:29.000Z","id":"M6fNp1pqR66ig49m","name":"DONE - Inventory vs Sales Reconciliation","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,-140],"id":"0f5b6c47-86c0-4278-b524-eaca44232fda","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"fileFolder","queryString":"*","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,-140],"id":"dfca55e4-5517-422a-b8a7-b2ff6393601f","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"promptType":"define","text":"=inventory_data: {{ $json.inventory_data.toJsonString() }}\n\nsales_data: {{ $json.sales_data.toJsonString() }}","options":{"systemMessage":"You are a data reconciliation assistant.\n\nYou will receive a JSON input containing two datasets:\n\n- `inventory_data`: each item includes:\n    - `sku`\n    - `name`\n    - `stock` (incoming quantity)\n    - `recorded_sold` (manually inputted quantity sold)\n    - `recorded_balance` (manually inputted remaining stock)\n- `sales_data`: each entry includes:\n    - `sku` or `name`\n    - `quantity_sold` (actual transaction quantity from online or offline sources)\n\n---\n\n**Your Task:**\n\n1. Aggregate the **actual sold quantity** (`actual_sold`) from `sales_data`, grouped by `sku`.\n2. Compare `actual_sold` with `recorded_sold` from `inventory_data`.\n3. Calculate `calculated_balance` using:\n    \n    \n    calculated_balance = stock - actual_sold\n    \n4. Compare with `recorded_balance` from `inventory_data`.\n\n---\n\n**Set the `status` field for each item using these human-readable labels:**\n\n- `\"All values match\"`\n    \n    if `recorded_sold == actual_sold` **and** `recorded_balance == calculated_balance`\n    \n- `\"Recorded sold does not match actual sold\"`\n    \n    if `recorded_sold ≠ actual_sold` **and** `recorded_balance == calculated_balance`\n    \n- `\"Recorded balance does not match calculated balance\"`\n    \n    if `recorded_sold == actual_sold` **and** `recorded_balance ≠ calculated_balance`\n    \n- `\"Both recorded sold and balance are incorrect\"`\n    \n    if `recorded_sold ≠ actual_sold` **and** `recorded_balance ≠ calculated_balance`\n    \n\n---\n\n**Output Format: JSON**\n\nReturn a structured JSON object with two top-level keys:\n\n{\n  \"reconciliation_report\": [\n    {\n      \"sku\": \"SKU001\",\n      \"name\": \"Television\",\n      \"stock\": 20,\n      \"recorded_sold\": 14,\n      \"actual_sold\": 14,\n      \"recorded_balance\": 6,\n      \"calculated_balance\": 6,\n      \"status\": \"All values match\"\n    }\n    // more items...\n  ],\n  \"exceptions\": {\n    \"untracked_sales\": [\n      {\"sku\": \"SKU999\", \"name\": \"Gaming Headset\"}\n    ],\n    \"unsold_inventory\": [\n      {\"sku\": \"SKU007\", \"name\": \"Projector\"}\n    ]\n  }\n}\n\n---\n\n**Note on `exceptions`:**\n\n- `untracked_sales`: items in `sales_data` not found in `inventory_data`\n- `unsold_inventory`: items in `inventory_data` that have no matching sales\n\nOnly include a section if it contains at least one entry. Return only valid JSON—no markdown, formatting, or additional commentary."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1900,-140],"id":"41ab0016-5b9f-4f53-9def-91e66746c485","name":"AI Agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"sales_record","operator":{"type":"string","operation":"equals"},"id":"61d6f0ea-7004-4e18-ba54-a5b752d099ff"}],"combinator":"and"},"renameOutput":true,"outputKey":"sales_record"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f263a3c9-6167-4fa3-b99d-05c7da04cb01","leftValue":"={{ $json.name }}","rightValue":"inventory","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"inventory"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[460,-140],"id":"0c6b51c9-0606-489e-8dde-d7695560282e","name":"Switch"},{"parameters":{"resource":"fileFolder","queryString":"*","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[680,-240],"id":"c8187811-d6e8-4e4c-a01f-657bfa968b3a","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[860,-240],"id":"814f0106-1e5c-4261-96c5-596c9d497022","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1100,-240],"id":"20ced088-1286-4921-b0e5-6a7f546d3d6d","name":"Extract from File"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"sales_data","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1280,-240],"id":"e50eac44-160a-4a9f-86f1-cf4a3dd129bb","name":"Aggregate"},{"parameters":{"resource":"fileFolder","queryString":"*","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[680,-40],"id":"315173d2-0bb7-448f-bc5d-4de0b8f3e77e","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[860,-40],"id":"436119ff-9933-44d1-82ca-fef8af13928c","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1100,-40],"id":"22fb951a-fd09-4cc5-8f8f-e753b597ab1f","name":"Extract from File1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"inventory_data","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1280,-40],"id":"8ab3f2e8-97f1-412e-91e2-99f0c9e18579","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1500,-140],"id":"402df5df-17c0-4286-b1be-fc7fc7124119","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"sales_data"},{"fieldToAggregate":"inventory_data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1680,-140],"id":"7e8a753f-5745-4810-95ec-53393e27eff7","name":"Aggregate2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1920,0],"id":"f80e8087-a373-41a4-8549-05e5b69f57d3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Google Drive6').item.json.id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2460,-140],"id":"2d450fd5-2176-4e91-b195-042aeab7992b","name":"Google Drive5","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-300,-140],"id":"f3354f9d-66f8-4315-8d8a-500a88044a00","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"MMMM yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-120,-140],"id":"8a18f65f-f561-405c-b50b-1113271baf35","name":"Date & Time1"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.formattedDate }}","filter":{"folderId":{"__rl":true,"value":"1uDbOdwGH2AS2DyEBx3QSJzeA5t227Ubf","mode":"list","cachedResultName":"dummy INVENTORY vs SALES RECONCILIATION","cachedResultUrl":"https://drive.google.com/drive/folders/1uDbOdwGH2AS2DyEBx3QSJzeA5t227Ubf"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,-140],"id":"bbb6a046-e313-43fc-890d-91ea880c596e","name":"Google Drive6","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Google Drive5').item.json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"summary","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"sku":"={{ $json.sku }}","name":"={{ $json.name }}","stock":"={{ $json.stock }}","recorded_sold":"={{ $json.recorded_sold }}","actual_sold":"={{ $json.actual_sold }}","recorded_balance":"={{ $json.recorded_balance }}","calculated_balance":"={{ $json.calculated_balance }}","status":"={{ $json.status }}"},"matchingColumns":[],"schema":[{"id":"sku","displayName":"sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stock","displayName":"stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recorded_sold","displayName":"recorded_sold","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"actual_sold","displayName":"actual_sold","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recorded_balance","displayName":"recorded_balance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"calculated_balance","displayName":"calculated_balance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3080,-200],"id":"73742be4-8f23-4494-8894-435d41cd4f1d","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1Z1_MwLWbTzotnC8K84DYE1xQpYRtUOTSoJZCgVZCOmY","mode":"list","cachedResultName":"reconciliation_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Z1_MwLWbTzotnC8K84DYE1xQpYRtUOTSoJZCgVZCOmY/edit?usp=drivesdk"},"name":"={{ $('Date & Time1').item.json.formattedDate }} | Reconciliation Summary","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2280,-140],"id":"1ac6987c-e695-4151-8a78-ce97976c2edb","name":"Google Drive7","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"jsCode":"// Get the raw JSON string from the input item\nconst raw = $('AI Agent').first().json.output;\n\ntry {\n  // Parse the JSON string into an object\n  const parsed = JSON.parse(raw);\n\n  // Return the parsed object as output\n  return [{ json: parsed }];\n} catch (error) {\n  // Handle any parsing error\n  return [{ json: { error: error.message, rawInput: raw } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,-140],"id":"c2bc2b8b-ee76-4392-b12b-121f90ac6288","name":"Code"},{"parameters":{"fieldToSplitOut":"reconciliation_report","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2840,-200],"id":"56037ca2-602c-4fdd-b1f3-b257112cc03e","name":"Split Out"},{"parameters":{"fieldToSplitOut":"exceptions.untracked_sales","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2840,-40],"id":"a1e36f7c-f5d4-4f40-bc3c-342f19f74b01","name":"Split Out1","executeOnce":false},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Google Drive5').item.json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"exceptions","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","sku":"={{ $json.sku }}","section":"Untracked Sales"},"matchingColumns":[],"schema":[{"id":"section","displayName":"section","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sku","displayName":"sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3080,-40],"id":"46316c58-5918-46fa-bb6f-44ca46b08c3a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"content":"## Workflow Initiation\nManual trigger dengan date processing untuk monthly folder detection.","height":460,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-540,-320],"typeVersion":1,"id":"6ed2b2e2-4379-42bf-9888-d917d51f8c15","name":"Sticky Note"},{"parameters":{"content":"## Data Collection & Routing\nFile discovery, routing, download dan extraction untuk sales & inventory data.","height":460,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","position":[240,-320],"typeVersion":1,"id":"8fc9acc7-47db-4a05-9a9c-34e26b7dd689","name":"Sticky Note1"},{"parameters":{"content":"## Merge & Combine\nAggregate sales_data dan inventory_data lalu merge untuk AI processing.","height":460,"width":780,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1040,-320],"typeVersion":1,"id":"7c976342-b82e-4510-8827-fc1889990768","name":"Sticky Note2"},{"parameters":{"content":"## Smart Analysis\nAI Agent dengan GPT-4o-mini untuk reconciliation analysis dan exception detection.","height":460,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1860,-320],"typeVersion":1,"id":"b6f46c8c-3a91-40ad-9807-3aea3c15d0b2","name":"Sticky Note3"},{"parameters":{"content":"## Template & Processing\nCopy template, move files, parse JSON output untuk final reporting.","height":460,"width":740,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2240,-320],"typeVersion":1,"id":"9bbb23e1-b439-4f87-a8c1-4eb281fe222b","name":"Sticky Note4"},{"parameters":{"content":"## Google Sheets Update\nOutput final reconciliation results ke Google Sheets untuk tracking.","height":460,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3020,-320],"typeVersion":1,"id":"8da0be9d-de81-464b-9aa4-c9106a05df14","name":"Sticky Note5"},{"parameters":{"content":"## Key Insights\n\n1. Parallel Processing Architecture\nSwitch-based routing untuk process sales dan inventory files secara parallel dengan multiple Google Drive nodes\n\n2. Monthly Template System\nDynamic monthly folder detection dan template copying untuk consistent monthly reporting structure\n\n3. Sophisticated AI Reconciliation\nAI Agent dengan detailed system prompt untuk complex reconciliation logic dan 4-tier status classification\n\n4. Multi-Sheet Exception Tracking\nSplit output mechanism untuk separate summary dan exceptions sheets dengan comprehensive data tracking","height":460,"width":360},"type":"n8n-nodes-base.stickyNote","position":[3400,-320],"typeVersion":1,"id":"3cd390d1-16cb-44fa-be2b-653a58ab493e","name":"Sticky Note6"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Drive1","type":"main","index":0}],[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Google Drive7","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Google Drive6","type":"main","index":0}]]},"Google Drive6":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive5":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Drive7":{"main":[[{"node":"Google Drive5","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"Split Out1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29b5ba5a-83ef-4809-a56f-adb1c6bd99c9","triggerCount":0,"tags":[]}
