Meeting Summary
{"createdAt":"2025-06-19T09:30:27.007Z","updatedAt":"2025-06-23T19:13:08.000Z","id":"S7F5mClauKQEr2YC","name":"DONE - Brief Summary","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1480,440],"id":"575261f4-25b5-4232-8115-e5f8588b9e7c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}{{ $json.message.audio.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1020,140],"id":"32aaf971-275c-446d-a44d-daf2c5e222a3","name":"Telegram","webhookId":"b751a0be-997b-40cc-a54c-10c72ea9c385","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"promptType":"define","text":"=Input: {{ $json.message.text }} {{ $json.text }}\nChat_id: {{ $('Telegram Trigger1').item.json.message.chat.id }}","options":{"systemMessage":"You are an expert project manager and business analyst assistant. Your task is to turn voice recordings from client meetings into a structured, professional project brief and supporting documentation. The final output must be written in clean, formal Bahasa Indonesia, prepared as content ready to be placed into a Google Docs document.\n\nThe workflow proceeds in these stages:\n\nStage 1:\nReceive a voice recording from a client meeting.\nTranscribe and extract the following information:\n\nKey client requirements\n\nProject scope\n\nBudget (if mentioned)\n\nTimeline expectations\n\nIdentify any ambiguities or potential scope creep items.\nCheck the transcription for possible spelling mistakes, typos, or inconsistent terms that might have been spoken or noted incorrectly. If found, correct them in the final document while maintaining the original intent. For example, if the word Newslapper appears, correct it to Newsletter.\n\nPrepare a preliminary draft of the Project Brief based on this input.\n\nStage 2:\nAfter processing the client meeting recording, respond to the user in Bahasa Indonesia with this message:\nApakah ada input tambahan dari tim internal Anda? Seperti voice note Telegram atau catatan tambahan lainnya. Jika ada, silakan kirimkan sekarang.\n\nWait for the user's additional input.\n\nIf provided, transcribe it and extract:\n\nInternal clarifications\n\nDecisions made\n\nContext notes\n\nAny internal risk concerns or assumptions\n\nAlso, check this internal input for potential typos or inconsistent terms. Correct them where necessary, while preserving the intended meaning.\n\nUpdate the Project Brief draft with these internal notes.\n\nStage 3:\nGenerate the following final deliverables, all written in clean, formal Bahasa Indonesia, structured clearly for inclusion in a Google Docs document:\n\nDocument Structure:\n\nDocument Title:\nProject Brief: [Nama Proyek]\n\nLatar Belakang dan Tujuan\nParagraph explaining the project background and objectives.\n\nKebutuhan Utama\nNumbered list of key client requirements.\n\nRuang Lingkup Pekerjaan\nParagraph clearly defining what is included in the project scope.\n\nAnggaran\nBudget statement.\n\nTimeline\nProject start and target completion dates.\n\nAsumsi\nList of key assumptions.\n\nRisiko dan Potensi Perubahan Ruang Lingkup\nParagraph of identified risks and scope creep possibilities.\n\nLangkah Selanjutnya\nNumbered list of next actions for internal team or client.\n\nAdditional Deliverables:\nRequirements Checklist\nScope Confirmation Summary\nRisk and Assumptions Log\n\nUse clean, formal Bahasa Indonesia and ensure the document is logically structured, professionally worded, and clearly organized without using markdown, hashtags, asterisks, or decorative characters in the text content."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1460,260],"id":"c0cb4300-4caa-4d3e-b805-28964ecc8633","name":"AI Agent"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,80],"id":"bbf4de73-963a-4e5a-a054-6b8a882a1294","name":"Telegram2","webhookId":"efae4c4c-db4d-4d4c-bc24-1205b3fca528","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[920,800],"id":"76da6ce0-69d0-45fc-8ff4-310a26c7842e","name":"Chat Memory Manager"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[700,800],"id":"7b939b98-fe59-4b59-a531-af3df1b9d8dd","name":"When clicking ‘Execute workflow’"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=7833022593"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[920,1000],"id":"0168bb1f-0ff7-4aa3-b87e-b3df39249e27","name":"Simple Memory1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger1').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1640,440],"id":"1efa45ad-9a80-46ee-8042-7440a7348b94","name":"Simple Memory2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b17849ea-bda3-4256-99f2-e9cf5750aa86","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"c04972de-bbdf-4371-ac73-e1e7ab7cb835","leftValue":"={{ $json.message.audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,240],"id":"0f6ea106-af6a-4841-8aca-f8853225246a","name":"If"},{"parameters":{"content":"## AI Project Brief Generator\nProfessional project manager AI yang convert client meeting recordings jadi structured project brief dengan memory untuk multi-stage processing.","height":720,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1380,-60],"typeVersion":1,"id":"35379c2e-1380-4ab4-892d-135fa37228b2","name":"Sticky Note2"},{"parameters":{"content":"##  Multi-Modal Input Processing\nTerima voice message atau text dari Telegram, detect input type (voice/audio vs text), dan route ke voice transcription atau direct processing.","height":720,"width":720,"color":3},"type":"n8n-nodes-base.stickyNote","position":[620,-60],"typeVersion":1,"id":"3013ebf2-1f12-4864-9fff-f63e9481e955","name":"Sticky Note4"},{"parameters":{"content":"## Response Logic & Routing\nSmart routing berdasarkan AI output: send intermediate response untuk additional input atau process final deliverables ke document generation.","height":340,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1860,-60],"typeVersion":1,"id":"c2d4cffc-9076-4a74-8c3a-4edf8afab6ab","name":"Sticky Note5"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[680,240],"id":"6d52da1c-76f5-4c42-86ad-e97ad6c39470","name":"Telegram Trigger1","webhookId":"fc8e41a6-11a0-4550-8cad-d6ba0626bf1b","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"id"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,140],"id":"fb309b04-1f69-4d51-a187-7181049fd629","name":"OpenAI2","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $json.output.content }}","name":"={{ $json.output.title }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1MCmW9kAalk6rY3F26ZPNMUX81U0EkBSa","mode":"list","cachedResultName":"Brief Summary","cachedResultUrl":"https://drive.google.com/drive/folders/1MCmW9kAalk6rY3F26ZPNMUX81U0EkBSa"},"options":{"convertToGoogleDocument":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2240,460],"id":"7bc428eb-1025-46eb-909e-081aad39f95e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2cdcb89-c3c0-42f8-b31f-80e98379b5bf","leftValue":"={{ $('Telegram Trigger1').item.json.message.audio }}","rightValue":"\\b[Aa]pakah\\b","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,80],"id":"701bbedf-8fb3-40c0-be02-42c143f9854f","name":"If1"},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"fileName":"=Brief Summary - {{ $('Information Extractor').item.json.output.title }}.pdf"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2700,460],"id":"aeb90822-6d50-4cf6-8675-3d4e18634b6d","name":"Telegram1","webhookId":"f7546507-672a-495f-9fb2-1f21fa9dabe9","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2400,460],"id":"0d04dd47-b39d-4491-9e95-3bc97cd841dd","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"text":"={{ $json.output }}","attributes":{"attributes":[{"name":"title","description":"title","required":true},{"name":"content","description":"content","required":true}]},"options":{"systemPromptTemplate":"You are a text extraction and cleaning assistant. Your task is to process a given text document, extract the document title, and clean the rest of the content by removing any markdown characters such as hashtags (#), asterisks (*), hyphens (-), underscores (_), backticks (`), or other markdown formatting symbols.\n\nInstructions:\n\nIdentify the document title as the first main title appearing at the top of the document.\n\nExtract all remaining content as body content.\n\nRemove any markdown symbols used for headings, bold, italics, lists, or other text decorations. Preserve the natural line breaks and paragraph structure."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1920,460],"id":"5031d087-9df9-4f80-ad80-67365ec914de","name":"Information Extractor"},{"parameters":{"content":"## Document Processing Pipeline\nExtract clean content dari AI output, remove markdown formatting, create Google Docs, convert to PDF, dan prepare for delivery.","height":340,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1860,320],"typeVersion":1,"id":"1d5af8c3-5dc2-4ba4-ab77-d789deb143b7","name":"Sticky Note"},{"parameters":{"content":"## Final Document Delivery\nSend final project brief sebagai PDF attachment via Telegram dengan proper filename formatting untuk client delivery.","height":340,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2600,320],"typeVersion":1,"id":"37223750-4553-4983-b960-5683eb03a515","name":"Sticky Note1"},{"parameters":{"content":"## Key Insight: Multi-Stage Project Brief Intelligence\nWorkflow ini punya Multi-Stage Processing Intelligence yang sophisticated:\n\nMulti-Modal Input - Handle voice recordings atau text input dengan smart detection\n\nConversational Memory - AI remember context untuk multi-stage brief development\n\nProfessional Output - Generate formal project brief dalam Bahasa Indonesia\n\nDocument Pipeline - Auto-create Google Docs → PDF → Telegram delivery","height":440,"width":460},"type":"n8n-nodes-base.stickyNote","position":[3040,-60],"typeVersion":1,"id":"694141c8-6b20-4501-98da-da25501ca4dd","name":"Sticky Note3"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram2","type":"main","index":0}],[{"node":"Information Extractor","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5aee460-25be-4d0e-9eca-45d671077b98","triggerCount":1,"tags":[]}
