Online Meeting Generator
{"createdAt":"2025-07-02T07:54:08.307Z","updatedAt":"2025-07-22T12:26:53.000Z","id":"ZgS8Bmq6qjz88Ui4","name":"DONE - Setup Meeting Group & Followup","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"You are an AI assistant that processes exported WhatsApp group chats in .txt format. Your role is to automate meeting coordination, extract discussion summaries, and track action items to improve team efficiency.\n\nINPUT:\nAn exported .txt file of a WhatsApp group chat, containing informal scheduling, discussion, and follow-up messages.\n\nTASK:\n\nParse and clean the raw chat text:\n\nRemove system messages, spam, emojis, and irrelevant small talk\n\nGroup messages contextually (e.g., scheduling, meeting content, follow-ups)\n\nDetect and extract:\n\nMeeting invitations or scheduling intent\n\nFollow-up action items from meeting discussions\n\nReminders or delayed responses\n\nAutomate and format:\n\nConfirm scheduled meetings (with time, date, agenda, and participants)\n\nGenerate follow-up task list with assigned PICs\n\nIdentify participants who haven’t responded and mark them for reminder\n\nSummarize all discussions in clear, concise Indonesian\n\nOUTPUT (in Bahasa Indonesia):\n\nKonfirmasi Jadwal Meeting:\n\nTanggal dan waktu\n\nAgenda\n\nPeserta yang diundang dan yang sudah konfirmasi\n\nPeserta yang belum merespons (untuk reminder otomatis)\n\nExample Output Format:\n\nKonfirmasi Jadwal Meeting:\n\nTanggal: 4 Juli 2025, Pukul 10.00 WIB\n\nAgenda: Persiapan peluncuran produk\n\nPeserta yang sudah konfirmasi: Andi, Rina\n\nPeserta belum merespons: Budi (perlu reminder)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[660,0],"id":"21f211d1-6ab5-4270-88d0-240619674adf","name":"AI Agent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-40,0],"id":"153792a0-9c4e-450f-8f09-5374ba8174f8","name":"Telegram Trigger","webhookId":"59fd865d-0506-4eb8-811e-6bd99c86e2ff","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[680,160],"id":"39e61d06-38d1-4702-8713-bf8e6d8fe5e5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,0],"id":"2009bdd1-0558-4000-83b3-09cc8c62ca96","name":"Telegram","webhookId":"29a063bd-300d-4db7-9372-94d59dff9535","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,0],"id":"cabf9701-20c4-45d5-a18e-e1aa737cbc97","name":"Extract from File"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,0],"id":"dbf7f31c-31fb-473d-aaa1-a0d17a7ee89a","name":"Telegram1","webhookId":"08af9716-efca-4d5f-950e-1277f255b834","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"text":"={{ $('AI Agent').item.json.output }}","attributes":{"attributes":[{"name":"meet_date","description":"meeting date (convert it to luxon date)","required":true},{"name":"Agenda","description":"Agenda","required":true},{"name":"details","description":"Follow-up Task List, Ringkasan Diskusi","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1360,0],"id":"50c37160-24ef-457e-b297-aefdd56f68af","name":"Information Extractor"},{"parameters":{"calendar":{"__rl":true,"value":"airnextdigital@gmail.com","mode":"list","cachedResultName":"airnextdigital@gmail.com"},"start":"={{ $json.output.meet_date.toDateTime() }}","end":"={{ $json.output.meet_date.toDateTime().plus(1, 'hour') }}","additionalFields":{"attendees":[" thomassuryanata@gmail.com"," jordansusantio@gmail.com","noobers6363@gmail.com"],"description":"={{ $json.output.details }}","summary":"={{ $json.output.Agenda }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1800,0],"id":"55f2db5a-bd34-457d-9dcf-7b046f6030ba","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"NwJJGCT5tiunKgKX","name":"Google Calendar account"}}},{"parameters":{"content":"## Document Reception\nTelegram webhook trigger untuk menerima exported WhatsApp group chat files dalam format .txt yang akan dianalysis untuk meeting coordination dan follow-up tracking.","height":500,"width":280,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-120,-200],"typeVersion":1,"id":"642a6592-28e9-4dad-8d19-38cd9acfdbac","name":"Sticky Note"},{"parameters":{"content":"## Chat File Extraction\nDownload WhatsApp chat export file dari Telegram dan extract text content untuk parsing, cleaning, dan preparation untuk AI analysis dengan proper text formatting.","height":500,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[200,-200],"typeVersion":1,"id":"2be4c32e-946e-46b6-b921-5fa7919b5305","name":"Sticky Note1"},{"parameters":{"content":"## Meeting Intelligence Processing\nAI Agent dengan sophisticated chat parsing untuk extract meeting schedules, identify participants, detect action items, parse follow-up discussions, dan generate structured meeting summaries dalam Bahasa Indonesia.","height":500,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","position":[600,-200],"typeVersion":1,"id":"7322b73e-6d88-4021-873e-b543256b0268","name":"Sticky Note2"},{"parameters":{"content":"## Summary Response\nSend formatted meeting summary dan follow-up action items kembali ke user via Telegram dengan clear structure untuk immediate review dan confirmation sebelum calendar creation.","height":500,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1000,-200],"typeVersion":1,"id":"c5651353-66d5-4be9-8f3d-78f6f215d7ad","name":"Sticky Note3"},{"parameters":{"content":"## Structured Information Mining\nInformation Extractor untuk parse AI output dan extract specific structured data termasuk meeting dates, agenda details, dan action items dalam format yang compatible untuk calendar integration.","height":500,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1300,-200],"typeVersion":1,"id":"c63ddc87-8658-499c-b701-59f1082fdabe","name":"Sticky Note4"},{"parameters":{"content":"## Meeting Event Creation\nAutomatically create Google Calendar events dengan proper time slots, attendee invitations, agenda descriptions, dan follow-up details untuk seamless meeting coordination dan team synchronization.","height":500,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1700,-200],"typeVersion":1,"id":"e75794bf-79f5-4481-b373-c59a77019a77","name":"Sticky Note5"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Telegram":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":719336066,"message":{"message_id":1586,"from":{"id":7833022593,"is_bot":false,"first_name":"Tim","username":"TimothyWijaya","language_code":"en"},"chat":{"id":7833022593,"first_name":"Tim","username":"TimothyWijaya","type":"private"},"date":1751443064,"document":{"file_name":"Chat_WhatsApp_dengan_n8n_Jakarta_WS[1].txt","mime_type":"text/plain","file_id":"BQACAgUAAxkBAAIGMmhk5nhDDXS8eCyV4d7Fh50eLXltAAK4GQACbgEoV_d1t_BIKKUINgQ","file_unique_id":"AgADuBkAAm4BKFc","file_size":21432}}}}]},"versionId":"aeda9530-7e9b-48ba-a952-5fafce4f7264","triggerCount":1,"tags":[]}
