Petty Cash vs Expense Receipts Matching Analysis
{"createdAt":"2025-06-30T01:45:13.025Z","updatedAt":"2025-07-01T14:24:27.000Z","id":"dE87vPOzabx9LaTR","name":"DONE - Petty Cash vs Expense Receipts Matching","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"bcd68a9c-8091-4503-bc8d-de5c39db1a5a","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[380,0],"id":"fbe9b193-53f9-4763-9e9f-15cc48865dca","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"resource":"fileFolder","queryString":"*","filter":{"folderId":{"__rl":true,"value":"19HTudftMMRFAgq9koFMEiWxhcMLJsDGE","mode":"list","cachedResultName":"bon","cachedResultUrl":"https://drive.google.com/drive/folders/19HTudftMMRFAgq9koFMEiWxhcMLJsDGE"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,0],"id":"b018fe30-a32a-463c-8c2a-81e9795d21e8","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"create json from the image.\n\nexample:\n{\n  \"receipts\": [\n    {\n      \"date\": \"YYYY-MM-DD\",           // e.g. \"2025-06-04\"\n      \"vendor\": \"Vendor Name\",        // e.g. \"PT. Kongkie Malindo Jaya\"\n      \"item\": \"Item Description\",     // e.g. \"Sayur Asin\"\n      \"qty\": 0,                       // e.g. 5\n      \"unit_price\": 0,                // e.g. 20000\n      \"total\": 0,                     // e.g. 100000\n      \"invoice\": \"Invoice/Nota No.\",  // e.g. \"13/040625\" or leave empty\n      \"file_link\": \"url_or_filename\"  // e.g. \"img_1.jpg\" or \"https://...\"\n    }\n    // Add more receipts here\n  ]\n}\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[600,0],"id":"dc8709b5-e6b3-4f1e-97a8-1e25d37da222","name":"OpenAI","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=kas kecil spreadsheet:  {{ $json.data_sheet.toJsonString() }}\n\nexpense_record: {{ $('Aggregate').item.json.data_image.toJsonString() }}","options":{"systemMessage":"You are a financial document analyst assistant. Your task is to reconcile a list of expense records extracted via OCR from scanned receipts (in JSON format) with entries from a kas kecil spreadsheet (also provided in JSON format).\n\n---\n\n🔎 **Matching Logic**:\n- Match receipt to kas kecil entry if:\n  - Date is within ±1 day\n  - Amount matches (±IDR 1,000 tolerance)\n  - Vendor name is similar (use fuzzy matching)\n- `description` in kas kecil vs `item` in receipt may include typos or OCR errors (e.g. “Sayur Asin” vs “Sayvr Asln”). Use fuzzy logic to determine match. use \"kas kecil spreadsheet\" for reference\n\n---\n\n📋 **Update the Spreadsheet Columns**:\nFor each kas kecil entry:\n\n1. **Bukti Ada**:\n   - ✅ if exactly one matching receipt is found\n   - ❌ or X if no matching receipt is found\n2. **Catatan**:\n   attach the <file_link> of the corresponding data.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1520,0],"id":"c10ffc7f-3210-45e9-8d5f-9c8de7539784","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1540,140],"id":"0ed6b067-bcf3-4b05-b61b-44b7cbbc2031","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_image","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[980,0],"id":"8aa56a56-07da-42dd-9531-15ac6445130c","name":"Aggregate"},{"parameters":{"documentId":{"__rl":true,"value":"1BAlO-z58cSeUDkazuAg3BMklx0VYbe9Qxk2yYxxio5w","mode":"list","cachedResultName":"data_PETTY CASH vs EXPENSE RECEIPTS MATCHING","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BAlO-z58cSeUDkazuAg3BMklx0VYbe9Qxk2yYxxio5w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BAlO-z58cSeUDkazuAg3BMklx0VYbe9Qxk2yYxxio5w/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1140,0],"id":"7d83a6cc-318e-4440-8f4e-d632efb26469","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_sheet","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1300,0],"id":"a265d052-e600-4318-8e20-7347c6933fb0","name":"Aggregate1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1BAlO-z58cSeUDkazuAg3BMklx0VYbe9Qxk2yYxxio5w","mode":"list","cachedResultName":"data_PETTY CASH vs EXPENSE RECEIPTS MATCHING","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BAlO-z58cSeUDkazuAg3BMklx0VYbe9Qxk2yYxxio5w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BAlO-z58cSeUDkazuAg3BMklx0VYbe9Qxk2yYxxio5w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Barang / Deskripsi":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Barang___Deskripsi__using_to_match_', ``, 'string') }}","Bukti Ada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Bukti_Ada', `Mark each entry from the kas kecil data as:\n   - ✅ \"MATCHED\" if a receipt is found that confirms the entry\n   - ❌ \"NO RECEIPT\" if no matching receipt is found`, 'string') }}","Catatan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Catatan', `insert with corresponding file_link value. don't include any text`, 'string') }}"},"matchingColumns":["Barang / Deskripsi"],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tanggal","displayName":"Tanggal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Vendor / Toko","displayName":"Vendor / Toko","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Barang / Deskripsi","displayName":"Barang / Deskripsi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qty","displayName":"Qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Harga Satuan","displayName":"Harga Satuan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Jumlah","displayName":"Jumlah","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"No Invoice / Nota","displayName":"No Invoice / Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Bukti Ada","displayName":"Bukti Ada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Catatan","displayName":"Catatan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1960,80],"id":"c9ab3232-325a-4c97-99de-b0e158ccb112","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"dda718d8-9387-4ca7-be29-4e8e3731a211","name":"file_link","value":"=https://drive.google.com/file/d/{{ $('Google Drive').item.json.id }}/view","type":"string"},{"id":"64d27881-1b12-463c-9f4e-e9cf29609f55","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,0],"id":"10ec3748-4adb-448a-b202-6bdb4f578606","name":"Edit Fields"},{"parameters":{"content":"## Workflow Initiation \nManual trigger untuk memulai proses matching antara petty cash records dengan physical receipts yang ter-scan sebagai images.","height":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-100,-200],"typeVersion":1,"id":"720994ae-7398-40db-8df7-4e0fe906f342","name":"Sticky Note"},{"parameters":{"content":"## Receipt Images Collection\nAccess Google Drive folder \"bon\" untuk mengumpulkan semua receipt images yang perlu di-process, lalu download files untuk OCR analysis.","height":480,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","position":[180,-200],"typeVersion":1,"id":"5f371ecc-3427-4839-8957-68518931b408","name":"Sticky Note1"},{"parameters":{"content":"## Vision-Based Data Extraction\nOpenAI GPT-4o vision analysis untuk extract structured data dari receipt images dengan format JSON yang konsisten termasuk date, vendor, items, quantities, dan amounts.","height":480,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[560,-200],"typeVersion":1,"id":"2a39e3bc-17ff-4afc-a075-93ad037361b4","name":"Sticky Note2"},{"parameters":{"content":"## Spreadsheet & Aggregation\nAggregate extracted receipt data dan fetch current petty cash spreadsheet records untuk prepare datasets yang akan di-compare dalam reconciliation process.","height":480,"width":500,"color":5},"type":"n8n-nodes-base.stickyNote","position":[940,-200],"typeVersion":1,"id":"10d7ce67-9379-499b-b72d-ade7e50bdd0c","name":"Sticky Note3"},{"parameters":{"content":"## Smart Matching Analysis\nAI Agent dengan sophisticated matching logic untuk compare kas kecil entries dengan receipt data menggunakan fuzzy matching untuk dates, amounts, vendors, dan items dengan tolerance untuk OCR errors.","height":480,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1480,-200],"typeVersion":1,"id":"d23fdd17-cfff-47cd-9c31-6fce9d63b6ee","name":"Sticky Note4"},{"parameters":{"content":"## Reconciliation Results\nUpdate original Google Sheets dengan reconciliation status, mark \"Bukti Ada\" column dengan checkmark atau X, dan populate \"Catatan\" column dengan corresponding file links untuk audit trail.","height":480,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1860,-200],"typeVersion":1,"id":"270025ab-572c-4f26-9fbd-fead3424c328","name":"Sticky Note5"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dcc7ed6e-bc5e-42c4-8fb0-e5ec72dd30b9","triggerCount":0,"tags":[]}
