Reconciliation Generator
{"createdAt":"2025-06-18T09:51:35.892Z","updatedAt":"2025-06-23T04:35:59.000Z","id":"SzXepnyFjuOK5aMI","name":"DONE - Reconciliation","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1PVtcYYJil81uWnx0qd8va4mxAEv4irUH","mode":"list","cachedResultName":"rekonsiliasi","cachedResultUrl":"https://drive.google.com/drive/folders/1PVtcYYJil81uWnx0qd8va4mxAEv4irUH"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,-40],"id":"df6ae888-07fc-4483-a69d-ac6b429713ca","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,-40],"id":"e9831fbc-5698-4a93-ad5b-0d7b3eb2824d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,-40],"id":"64d7ed05-811f-474b-aa2b-c3edeaa79fc7","name":"Extract from File"},{"parameters":{"operation":"formatDate","date":"={{ $json.startDate }}","format":"custom","customFormat":"MMMM yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[660,-40],"id":"2251ca59-9472-4b12-83a6-1f70e5eab444","name":"Date & Time"},{"parameters":{"resource":"fileFolder","queryString":"*","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1540,-140],"id":"2fc46692-0ea3-4bba-8bef-79c1f03250cc","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.formattedDate }}","filter":{"folderId":{"__rl":true,"value":"1mZHyF9aJcViONpwPrv35IzO3flfeq8v7","mode":"list","cachedResultName":"rekonsiliasi dummy","cachedResultUrl":"https://drive.google.com/drive/folders/1mZHyF9aJcViONpwPrv35IzO3flfeq8v7"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,-40],"id":"4d9295a6-973f-471a-a072-f035474a66d3","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"resource":"fileFolder","queryString":"*","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1100,-40],"id":"a8fbf0d9-de88-4e82-924c-84317ccf62a8","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1760,-140],"id":"5c18794e-e246-4017-8878-30663a1123e6","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1980,-140],"id":"435dbfc7-7d8f-45f1-867a-50c6cd015cb2","name":"Extract from File1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"catatan kas","operator":{"type":"string","operation":"equals"},"id":"03bf21b3-fb6f-48d8-ba90-e1bcaa2ada79"}],"combinator":"and"},"renameOutput":true,"outputKey":"catatan kas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdc65a33-0c59-4c99-9fdc-a7f012afc3ef","leftValue":"={{ $json.name }}","rightValue":"mutasi bank","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mutasi bank"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1320,-40],"id":"b97a1f09-b010-48b3-bdc9-a3b4d4e26cfc","name":"Switch"},{"parameters":{"resource":"fileFolder","queryString":"*","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1540,60],"id":"a55f6ba4-6f16-4c62-b71e-f02729f0e75a","name":"Google Drive5","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1760,60],"id":"3e15b549-2504-4bd6-a37c-6507e28e000d","name":"Google Drive6","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1980,60],"id":"3b9a3ee5-c991-467d-a39b-8d82f567c5eb","name":"Extract from File2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"catatan_kas","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2200,-140],"id":"2f468ccc-af09-4e09-bc8c-4535ec99c221","name":"Aggregate"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"mutasi_bank","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2200,60],"id":"9de6b4a6-44bc-4a95-94e3-ea0242b8494c","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=bank statement: {{ JSON.stringify($json.mutasi_bank, null, 2) }}\n\ncash_notes: {{ JSON.stringify($json.catatan_kas, null, 2) }}\n\nreconciliation_period start_date: {{ $('Extract from File').item.json.startDate }}\n\nreconciliation_period end_date: {{ $('Extract from File').item.json.endDate }}","options":{"systemMessage":"Act like a professional financial reconciliation analyst AI agent integrated within an automated n8n workflow. \nYou will receive structured input via an n8n JSON object and perform a detailed financial reconciliation process.\n\nYour objective is to automate financial reconciliation by processing provided bank statements and manual cash logs, matching transactions, categorizing differences, applying AI-assisted analysis for possible matches, and generating a clean, professional, client-ready reconciliation report.\n\n**Do not explain your reasoning or intermediary steps in the final output. Perform all reasoning internally and output only the final polished report.**\n\nThe final report must be formatted as follows:\n- Use a bold, centered title.\n- Section headings in bold.\n- Transaction lists and discrepancy summaries formatted in clean labeled blocks per record:\n  - Bold labels (e.g. **Date:**, **Amount:**) followed by the value.\n  - Separate each record by a blank line.\n- Use bullet-point or numbered lists for summaries and action items.\n- Ensure all currency values use thousands separators and two decimal places (USD format).\n- Avoid tables, markdown tables, or any tabular layout.\n- The entire report must be clean, readable, and suitable for direct pasting into a Google Doc without formatting issues.\n\n**Workflow:**\n\nStep 1: Receive an n8n object containing:\n- `bank_statement`: a list of transactions with fields `date`, `amount`, `description`\n- `cash_notes`: a list of manual cash entries with fields `date`, `amount`, `description`\n- `reconciliation_period`: an object with `start_date` and `end_date`\n\nStep 2: Filter both datasets to include only transactions within the `reconciliation_period`.\n\nStep 3: Perform strict matches where both `amount` and `date` are identical.\n\nStep 4: Identify unmatched transactions from both sides.\n\nStep 5: Use AI-assisted fuzzy matching for potential matches:\n- Amount difference tolerance ±5%\n- Date difference tolerance ±3 days\n- Record possible matches with confidence level (High, Medium, Low) and justification.\n\nStep 6: Categorize discrepancies into:\n- Timing difference\n- Recording error\n- Missing documentation\n- Duplicate entry\n- Amount variance\n\nStep 7: Calculate total discrepancy amounts:\n- Total unmatched bank amount\n- Total unmatched cash amount\n- Net difference\n\n**Final Report Structure:**\n\n**Financial Reconciliation Report**  \n*Period: [start_date] to [end_date]*\n\n**Executive Summary**  \n- Total Bank Transactions: X  \n- Total Cash Notes: Y  \n- Total Matched Transactions: Z  \n- Total Unmatched Bank Transactions: A  \n- Total Unmatched Cash Notes: B  \n- Total Discrepancy Amount: $X,XXX.XX  \n\n**Matched Transactions**\n\nFor each matched transaction:\n**Date:** [YYYY-MM-DD]  \n**Amount:** $X,XXX.XX  \n**Bank Description:** [text]  \n**Cash Notes Description:** [text]  \n\n(Repeat for each matched record, separated by blank lines)\n\n**Unmatched Bank Transactions**\n\nFor each unmatched bank transaction:\n**Date:** [YYYY-MM-DD]  \n**Amount:** $X,XXX.XX  \n**Description:** [text]  \n**Reason:** [text]  \n\n(Repeat with blank lines)\n\n**Unmatched Cash Notes**\n\nFor each unmatched cash note:\n**Date:** [YYYY-MM-DD]  \n**Amount:** $X,XXX.XX  \n**Description:** [text]  \n**Possible Match:** [text, if any]  \n**Reason:** [text]  \n\n**Categorized Discrepancies**\n\n- Timing difference: X cases ($X,XXX.XX)\n- Recording error: X cases ($X,XXX.XX)\n- Missing documentation: X cases ($X,XXX.XX)\n- Duplicate entry: X cases ($X,XXX.XX)\n- Amount variance: X cases ($X,XXX.XX)\n\n**AI-Identified Possible Matches**\n\nFor each possible match:\n**Bank Date:** [YYYY-MM-DD]  \n**Bank Amount:** $X,XXX.XX  \n**Cash Date:** [YYYY-MM-DD]  \n**Cash Amount:** $X,XXX.XX  \n**Confidence:** [High/Medium/Low]  \n**Reason:** [text]  \n\n**Recommended Action Items**\n- [Action Item 1]\n- [Action Item 2]\n- [Action Item 3]\n- [etc.]\n\n**Important:**  \nDo not use tables, markdown tables, or explain your reasoning. Perform all analysis internally and output only the final report following this clean, professional format.\n\nTake a deep breath and work on this problem step-by-step internally, but only output the final clean, structured report."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2640,-40],"id":"00ab8c64-bb55-4479-9758-c6c0df05fb8b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2660,100],"id":"1aac0091-99cc-4f31-bf54-40e10b52f45e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2420,-40],"id":"6483a93c-2c5e-4126-8b7f-e146c2e79804","name":"Merge"},{"parameters":{"operation":"createFromText","content":"={{ $json.output }}","name":"=Summary - {{ $('Google Drive2').item.json.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Google Drive2').item.json.id }}","mode":"id"},"options":{"convertToGoogleDocument":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3020,-40],"id":"35588a36-f2ed-427f-802b-a344deda1a1e","name":"Google Drive7","credentials":{"googleDriveOAuth2Api":{"id":"mWmnf7HBdQ3gEskq","name":"Project 1 - Ad content n8n web"}}},{"parameters":{"content":"## File Upload Detection\nMonitor folder rekonsiliasi dan trigger processing saat ada file spreadsheet baru dengan data periode reconciliation.","height":520,"width":880,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-80,-260],"typeVersion":1,"id":"d78dcdef-b1a5-43c7-87e3-aea9b71d99ba","name":"Sticky Note"},{"parameters":{"content":"## Data Source Processing\nSearch folder berdasarkan periode, routing file ke pipeline yang tepat, dan download data untuk processing.","height":520,"width":840,"color":5},"type":"n8n-nodes-base.stickyNote","position":[840,-260],"typeVersion":1,"id":"7075d873-8435-4426-b900-6c7258c3d834","name":"Sticky Note1"},{"parameters":{"content":"## File Extraction Pipeline\nExtract data dari file 'catatan kas' dan 'mutasi bank' secara paralel untuk mempersiapkan reconciliation.","height":520,"width":620,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1720,-260],"typeVersion":1,"id":"6b3313e5-48c3-4109-8c4f-935e061dd1f4","name":"Sticky Note2"},{"parameters":{"content":"## AI Financial Reconciliation\nProfessional financial analyst AI untuk matching transactions, detect discrepancies, categorize differences dengan fuzzy matching.","height":520,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2380,-260],"typeVersion":1,"id":"0b2448aa-ae17-4969-af39-fbd3fa7768be","name":"Sticky Note3"},{"parameters":{"content":"## Report Generation\nGenerate clean professional reconciliation report dan auto-save ke Google Drive dengan format client-ready.","height":520,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2980,-260],"typeVersion":1,"id":"fa1a8741-4b19-4e1d-9f13-ed65b832a0a2","name":"Sticky Note4"},{"parameters":{"content":"## Key Insight: Smart Dual-Stream Reconciliation Engine\nWorkflow ini punya Smart Dual-Stream Processing yang powerful:\n\n1. Auto-Detection - Monitor folder & detect file reconciliation berdasarkan periode\n\n2. Parallel Processing - Handle catatan kas & mutasi bank secara bersamaan\n\n3. AI-Powered Matching - GPT-4o-mini dengan fuzzy matching & confidence scoring\n\n4. Professional Output - Generate report client-ready dengan categorized discrepancies","height":520,"width":360},"type":"n8n-nodes-base.stickyNote","position":[3360,-260],"typeVersion":1,"id":"bdb3de30-bb7c-4b9f-a277-08c6d2d3236d","name":"Sticky Note5"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Drive1","type":"main","index":0}],[{"node":"Google Drive5","type":"main","index":0}]]},"Google Drive5":{"main":[[{"node":"Google Drive6","type":"main","index":0}]]},"Google Drive6":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Google Drive7","type":"main","index":0}]]},"Google Drive7":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-06-18T19:10:39Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA&exportFormat=ods"},"parents":["1PVtcYYJil81uWnx0qd8va4mxAEv4irUH"],"lastModifyingUser":{"displayName":"Airnext Digital","kind":"drive#user","me":true,"permissionId":"17193773583632628089","emailAddress":"airnextdigital@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIFXmuNkQ8Ikc6r4cznEQR54FEDuvwilj7aWiWX7eBdFatq=s64"},"owners":[{"displayName":"Airnext Digital","kind":"drive#user","me":true,"permissionId":"17193773583632628089","emailAddress":"airnextdigital@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIFXmuNkQ8Ikc6r4cznEQR54FEDuvwilj7aWiWX7eBdFatq=s64"}],"permissions":[{"kind":"drive#permission","id":"17193773583632628089","type":"user","emailAddress":"airnextdigital@gmail.com","role":"owner","displayName":"Airnext Digital","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIFXmuNkQ8Ikc6r4cznEQR54FEDuvwilj7aWiWX7eBdFatq=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["17193773583632628089"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"kind":"drive#file","id":"1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA","name":"juni 2025","mimeType":"application/vnd.google-apps.spreadsheet","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"7","webViewLink":"https://docs.google.com/spreadsheets/d/1bdi-xV-O9S4pAPZDAZXyTONvnZVEy-Ui0CvShorRzRA/edit?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":true,"viewedByMeTime":"2025-06-18T09:54:53.605Z","createdTime":"2025-06-18T09:54:45.281Z","modifiedTime":"2025-06-18T09:54:53.605Z","modifiedByMeTime":"2025-06-18T09:54:53.605Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"size":"1024","quotaBytesUsed":"1024","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"1c175f91-d6bd-4b6a-b0a4-4ca714d5d946","triggerCount":1,"tags":[]}
