Warung Inventory Assistant
{"createdAt":"2025-06-26T04:33:13.220Z","updatedAt":"2025-06-30T16:09:10.000Z","id":"rpnUvcyTPPR9WqbO","name":"DONE - Toko Kelontong | Shopping Assistant","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-400,-140],"id":"7e9a0448-c343-454c-a68d-6b5b877c8efe","name":"Telegram Trigger","webhookId":"6080fc0c-2904-459d-aaaa-a183c30c9a68","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"You are a friendly and smart retail assistant that helps users order groceries via chat using informal Indonesian. You work by referencing a Google Sheet that contains the full product inventory.\n\n---\n\n**Goal:**\n\nUnderstand casual grocery orders in Bahasa Indonesia, match items strictly using the inventory Google Sheet, handle real-time conversation, suggest alternatives for out-of-stock items, update stock, and provide a clear order summary.\n\n---\n\n**Conversation Capabilities:**\n\n- Detect and respond to greetings like \"halo\", \"hai\", \"hello\", \"pagi\", etc.\n- Accept flexible, informal shopping input (e.g., “aku mau 2 sabun dan 1 minyak”).\n- Answer questions like:\n    - “Ada barang apa aja?”\n    - “Odol pepsodent masih ada nggak?”\n- Guide and respond in multi-turn chat naturally.\n\n---\n\n**Process Flow:**\n\n1. **Greeting Detection:**\n    - If user says hello (e.g., \"halo\", \"hai\", etc.), reply with:\n        \n        > \"Halo! Mau belanja apa hari ini? Silakan ketik daftar belanjaan kamu, ya.\"\n        > \n2. **Item Parsing & Matching:**\n    - Parse item names and quantities from user input.\n    - Match items using the **Alias/Keyword** column from the **Google Sheet**.\n    - If an item is **not found**, do **not** include it in the order.\n    - Respond:\n        \n        > \"Maaf, kami tidak menemukan produk dengan nama '[item]' dalam stok kami. Bisa coba sebutkan produk lain?\"\n        > \n3. **Availability & Alternatives:**\n    - If a matched item has `Stock = 0`, offer the listed **Alternative Suggestion** (only if it is in stock).\n    - Make it clear in the response that a substitution is used.\n4. **Price Calculation:**\n    - Calculate item total = quantity × unit price.\n    - Show itemized and total cost.\n5. **Stock Update (Google Sheet1):**\n    - Only after finalizing the order, update the stock by subtracting purchased quantities.\n6. **Order Summary in Bahasa Indonesia:**\n    \n    Include:\n    \n    - Final item list with quantities and prices\n    - Total cost\n    - Any replacements\n    - Payment info:\n        \n        > Silakan transfer ke BCA 1234567890 a.n. Toko Sukses Selalu\n        > \n\n---\n\n**Strict Inventory Rule:**\n\nOnly respond with items found in the Google Sheet. Never guess or assume product names. If the product isn’t listed, say it is unavailable.\n\n---\n\n**Tone & Style:**\n\n- Use polite, friendly **Bahasa Indonesia**.\n- Keep language informal but clear (e.g., *kamu*, *pesen*, *ya*).\n- Be helpful, responsive, and conversational throughout.\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-180,-140],"id":"f31cddeb-e652-477b-a9a2-69d2bb3a46d7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,0],"id":"a91d87e2-f137-49c1-8f8a-d55dd0f2a4a6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lHwdfRlL2uaw5819","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[600,-140],"id":"c970c6bd-e0bd-4740-bc96-7623e9cb5593","name":"Telegram","webhookId":"19b83473-37fc-4841-b140-358241ba9e90","credentials":{"telegramApi":{"id":"mqjjEBXk8igsBbUR","name":"Jarvis Bot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[0,0],"id":"d64e0f1f-d162-44ae-8c0d-beb26d1f06ec","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to:\n\n- Search item name, stock, and price","documentId":{"__rl":true,"value":"12iZg0XUsgsXOBqSRg3pGEltK-OkCiR1QfklOKZSKyX4","mode":"list","cachedResultName":"dummy inventory","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12iZg0XUsgsXOBqSRg3pGEltK-OkCiR1QfklOKZSKyX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12iZg0XUsgsXOBqSRg3pGEltK-OkCiR1QfklOKZSKyX4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[200,0],"id":"d4d08e39-8b14-4398-af3e-a21f38dafa00","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"12iZg0XUsgsXOBqSRg3pGEltK-OkCiR1QfklOKZSKyX4","mode":"list","cachedResultName":"dummy inventory","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12iZg0XUsgsXOBqSRg3pGEltK-OkCiR1QfklOKZSKyX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12iZg0XUsgsXOBqSRg3pGEltK-OkCiR1QfklOKZSKyX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Item Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item_Name__using_to_match_', ``, 'string') }}","Stock":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Stock', `update the stock when the customer buys the item.\nusually reduce the stock depend on how much the customer buy it.`, 'string') }}"},"matchingColumns":["Item Name"],"schema":[{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Alias/Keyword","displayName":"Alias/Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price (IDR)","displayName":"Price (IDR)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Alternative Suggestion","displayName":"Alternative Suggestion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[340,0],"id":"4632be3e-6104-42e0-b0bb-08e9fb73d205","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"pBcUJsCuL1jf6ypz","name":"Google Sheets account 4"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-480,900],"id":"326d5a2a-b572-437e-9c5b-7f50968b60c5","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"7833022593"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-480,1040],"id":"196e1acb-2488-46d8-b7c8-f3b701366191","name":"Simple Memory1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,900],"id":"43840fe1-593a-4e27-9661-aca6c340bcb3","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Conversational Shopping Input\nTerima shopping list via Telegram dengan natural language processing, handle greeting detection, dan support casual Indonesian conversation untuk grocery ordering.","height":500,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-580,-340],"typeVersion":1,"id":"c4e849af-7e5f-489a-9960-75c7d60c490e","name":"Sticky Note"},{"parameters":{"content":"## AI Grocery Assistant\nSmart grocery assistant dengan conversational memory, product matching via alias/keywords, stock availability checking, dan alternative suggestion system.","height":500,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-220,-340],"typeVersion":1,"id":"eaa3cb20-038d-4281-b8ef-ad65ffc836f6","name":"Sticky Note1"},{"parameters":{"content":"## Inventory Management\nDual Google Sheets integration: read-only inventory lookup untuk product search dan updatable stock management untuk order processing.","height":500,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","position":[160,-340],"typeVersion":1,"id":"df281715-e87f-4783-9506-b30431c996f5","name":"Sticky Note2"},{"parameters":{"content":"## Order Summary & Payment\nGenerate comprehensive order summary dengan itemized pricing, total calculation, payment instructions, dan send via Telegram dalam friendly Indonesian.","height":500,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[500,-340],"typeVersion":1,"id":"e623870c-9816-4c33-a222-4e07b729e4af","name":"Sticky Note3"},{"parameters":{"content":"## Key Insight: Conversational Grocery Intelligence System\nWorkflow ini punya AI-Powered Grocery Shopping Pipeline yang user-friendly:\n\nNatural Language Shopping - Handle casual Indonesian grocery orders dengan flexible item parsing\n\nSmart Product Matching - AI match items via alias/keywords dari inventory database\n\nReal-Time Stock Management - Auto-update inventory setelah order processing\n\nAlternative Suggestions - AI suggest substitute products untuk out-of-stock items","height":400,"width":400},"type":"n8n-nodes-base.stickyNote","position":[920,-340],"typeVersion":1,"id":"b15921c1-9cc0-4ab1-acee-a7649a981524","name":"Sticky Note4"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Sheets1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":719335956,"message":{"message_id":1370,"from":{"id":7833022593,"is_bot":false,"first_name":"Tim","username":"TimothyWijaya","language_code":"en"},"chat":{"id":7833022593,"first_name":"Tim","username":"TimothyWijaya","type":"private"},"date":1750912702,"text":"halo"}}}]},"versionId":"2d098b9b-5b18-41e1-9f73-317c13ea91a9","triggerCount":1,"tags":[]}
